<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.TorgUserMapper">
	<resultMap id="BaseResultMap" type="com.ossbar.modules.sys.domain.TorgUser">
		<result column="orguser_id" jdbcType="VARCHAR" property="orguserId" />
		<result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="IS_MAIN" jdbcType="INTEGER" property="isMain" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		orguser_id,ORG_ID,USER_ID,IS_MAIN
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.sys.domain.TorgUser">
		INSERT INTO T_ORG_USER (
		orguser_id ,
		ORG_ID ,
		USER_ID ,
		IS_MAIN
		) VALUES (

		#{orguserId,jdbcType=VARCHAR} ,

		#{orgId,jdbcType=VARCHAR} ,

		#{userId,jdbcType=VARCHAR} ,

		#{isMain,jdbcType=INTEGER}
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.sys.domain.TorgUser">
		UPDATE T_ORG_USER SET
		ORG_ID =
		#{orgId,jdbcType=VARCHAR},
		USER_ID = #{userId,jdbcType=VARCHAR},
		IS_MAIN = #{isMain,jdbcType=INTEGER}
		WHERE
		orguser_id =
		#{orguserId,jdbcType=VARCHAR}
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_ORG_USER WHERE
		USER_ID = #{userId,jdbcType=VARCHAR}
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_ORG_USER WHERE
		orguser_id = #{orguserId,jdbcType=VARCHAR}
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<select id="selectTotalByMap" parameterType="map" resultType="int">
		select count(*) from T_ORG_USER where 1=1
		<if test="orgId != null and orgId.trim() != ''">
			and ORG_ID = #{orgId}
		</if>

	</select>

	<select id="selectListByMap" parameterType="map" resultMap="BaseResultMap">
		select * from T_ORG_USER where 1=1
		<if test="userId != null and userId.trim() != ''">
			and USER_ID = #{userId}
		</if>
	</select>
	<select id="selectOrgIdListByUserId" parameterType="java.lang.String" resultType="string">
		select ORG_ID from T_ORG_USER where USER_ID = #{value} order by is_main desc
	</select>

	<delete id="deleteBatch">
		delete from T_ORG_USER where USER_ID in
		<foreach item="userId" collection="array" open="(" separator=","
			close=")">
			#{userId}
		</foreach>
	</delete>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into T_ORG_USER
		(
			orguser_id ,
			ORG_ID ,
			USER_ID ,
			IS_MAIN
		)
		values
		<foreach collection="list" item="obj" separator="," >
			(
			#{obj.orguserId,jdbcType=VARCHAR},
			#{obj.orgId,jdbcType=VARCHAR},
			#{obj.userId,jdbcType=VARCHAR},
			#{obj.isMain,jdbcType=INTEGER}
			)
		</foreach>
	</insert>
</mapper>
