<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ossbar.modules.sys.persistence.TsysRoleprivilegeMapper">

	<insert id="insert">
		insert into t_sys_roleprivilege
		(
		id,
		role_id,
		menu_id
		)
		values
		(
		#{id},
		#{roleId},
		#{menuId}
		)
	</insert>

	<delete id="delete">
		delete from t_sys_roleprivilege where role_id = #{value}
	</delete>
	<select id="selectMenuListByRoleId" resultType="string">
		select menu_id
		from t_sys_roleprivilege where role_id = #{value}
	</select>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_sys_roleprivilege
		( id, role_id, menu_id )
		values
		<foreach collection="list" item="obj" separator="," >
			(
			    #{obj.id}, #{obj.roleId}, #{obj.menuId}
			)
		</foreach>
	</insert>
</mapper>