<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.TsysDocsMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.sys.domain.TsysDocs">
		<result column="doc_id" jdbcType="VARCHAR"
			property="docId" />
		<result column="parent_id" jdbcType="VARCHAR"
			property="parentId" />
		<result column="org_id" jdbcType="VARCHAR"
			property="orgId" />
		<result column="system_id" jdbcType="VARCHAR"
			property="systemId" />
		<result column="main_doc" jdbcType="VARCHAR"
			property="mainDoc" />
		<result column="menu_id" jdbcType="VARCHAR"
			property="menuId" />
		<result column="doc_name" jdbcType="VARCHAR"
			property="docName" />
		<result column="doc_summary" jdbcType="VARCHAR"
			property="docSummary" />
		<result column="content" jdbcType="LONGVARCHAR"
			property="content" />
		<result column="doc_history" jdbcType="LONGVARCHAR"
			property="docHistory" />
		<result column="doc_type" jdbcType="VARCHAR"
			property="docType" />
		<result column="doc_class" jdbcType="VARCHAR"
			property="docClass" />
		<result column="doc_sort" jdbcType="INTEGER"
			property="docSort" />
		<result column="doc_icon" jdbcType="VARCHAR"
			property="docIcon" />
		<result column="display" jdbcType="VARCHAR"
			property="display" />
		<result column="doc_downnum" jdbcType="INTEGER"
			property="docDownnum" />
		<result column="doc_sharenum" jdbcType="INTEGER"
			property="docSharenum" />
		<result column="doc_viewnum" jdbcType="INTEGER"
			property="docViewnum" />
		<result column="doc_likenum" jdbcType="INTEGER"
			property="docLikenum" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		doc_id,parent_id,org_id,system_id,main_doc,menu_id,doc_name,doc_summary,content,doc_history,doc_type,doc_class,doc_sort,doc_icon,display,doc_downnum,doc_sharenum,doc_viewnum,doc_likenum,create_user_id,create_time,update_user_id,update_time
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.sys.domain.TsysDocs">
		INSERT INTO T_SYS_DOCS (
		doc_id ,
		parent_id ,
		org_id ,
		system_id ,
		main_doc ,
		menu_id ,
		doc_name ,
		doc_summary ,
		content ,
		doc_history ,
		doc_type ,
		doc_class ,
		doc_sort ,
		doc_icon ,
		display ,
		doc_downnum ,
		doc_sharenum ,
		doc_viewnum ,
		doc_likenum ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time 
		) VALUES (

#{docId,jdbcType=VARCHAR} ,

#{parentId,jdbcType=VARCHAR} ,

#{orgId,jdbcType=VARCHAR} ,

#{systemId,jdbcType=VARCHAR} ,

#{mainDoc,jdbcType=VARCHAR} ,

#{menuId,jdbcType=VARCHAR} ,

#{docName,jdbcType=VARCHAR} ,

#{docSummary,jdbcType=VARCHAR} ,

#{content,jdbcType=LONGVARCHAR} ,

#{docHistory,jdbcType=LONGVARCHAR} ,

#{docType,jdbcType=VARCHAR} ,

#{docClass,jdbcType=VARCHAR} ,

#{docSort,jdbcType=INTEGER} ,

#{docIcon,jdbcType=VARCHAR} ,

#{display,jdbcType=VARCHAR} ,

#{docDownnum,jdbcType=INTEGER} ,

#{docSharenum,jdbcType=INTEGER} ,

#{docViewnum,jdbcType=INTEGER} ,

#{docLikenum,jdbcType=INTEGER} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.sys.domain.TsysDocs">
		UPDATE T_SYS_DOCS 
		<set>
		<if test="parentId != null">
		parent_id = #{parentId,jdbcType=VARCHAR},
		</if>
		<if test="orgId != null">
		org_id = #{orgId,jdbcType=VARCHAR},
		</if>
		<if test="systemId != null">
		system_id = #{systemId,jdbcType=VARCHAR},
		</if>
		<if test="mainDoc != null">
		main_doc = #{mainDoc,jdbcType=VARCHAR},
		</if>
		<if test="menuId != null">
		menu_id = #{menuId,jdbcType=VARCHAR},
		</if>
		<if test="docName != null">
		doc_name = #{docName,jdbcType=VARCHAR},
		</if>
		<if test="docSummary != null">
		doc_summary = #{docSummary,jdbcType=VARCHAR},
		</if>
		<if test="content != null">
		content = #{content,jdbcType=LONGVARCHAR},
		</if>
		<if test="docHistory != null">
		doc_history = #{docHistory,jdbcType=LONGVARCHAR},
		</if>
		<if test="docType != null">
		doc_type = #{docType,jdbcType=VARCHAR},
		</if>
		<if test="docClass != null">
		doc_class = #{docClass,jdbcType=VARCHAR},
		</if>
		<if test="docSort != null">
		doc_sort = #{docSort,jdbcType=INTEGER},
		</if>
		<if test="docIcon != null">
		doc_icon = #{docIcon,jdbcType=VARCHAR},
		</if>
		<if test="display != null">
		display = #{display,jdbcType=VARCHAR},
		</if>
		<if test="docDownnum != null">
		doc_downnum = #{docDownnum,jdbcType=INTEGER},
		</if>
		<if test="docSharenum != null">
		doc_sharenum = #{docSharenum,jdbcType=INTEGER},
		</if>
		<if test="docViewnum != null">
		doc_viewnum = #{docViewnum,jdbcType=INTEGER},
		</if>
		<if test="docLikenum != null">
		doc_likenum = #{docLikenum,jdbcType=INTEGER},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		doc_id = #{docId,jdbcType=VARCHAR} 
	</update>
	<update id="plusNum" parameterType="com.ossbar.modules.sys.domain.TsysDocs">
		UPDATE T_SYS_DOCS 
		<set>
		<if test="docSort != null">
		doc_sort = IFNULL(doc_sort,0) + #{docSort,jdbcType=INTEGER},
		</if>
		<if test="docDownnum != null">
		doc_downnum = IFNULL(doc_downnum,0) + #{docDownnum,jdbcType=INTEGER},
		</if>
		<if test="docSharenum != null">
		doc_sharenum = IFNULL(doc_sharenum,0) + #{docSharenum,jdbcType=INTEGER},
		</if>
		<if test="docViewnum != null">
		doc_viewnum = IFNULL(doc_viewnum,0) + #{docViewnum,jdbcType=INTEGER},
		</if>
		<if test="docLikenum != null">
		doc_likenum = IFNULL(doc_likenum,0) + #{docLikenum,jdbcType=INTEGER},
		</if>
		</set>
		WHERE
		doc_id = #{docId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_SYS_DOCS WHERE
		doc_id =
		#{docId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_SYS_DOCS WHERE
		doc_id in
		<foreach item="docId" collection="array" open="("
			separator="," close=")">
#{docId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SYS_DOCS WHERE
		doc_id = #{docId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<select id="selectListByMap" resultMap="BaseResultMap"
		parameterType="map">
		select * from T_SYS_DOCS
		<where>
				<if test="parentId != null and parentId.trim() != ''">
				and parent_id =#{parentId,jdbcType=VARCHAR}			</if>
				<if test="orgId != null and orgId.trim() != ''">
				and org_id =#{orgId,jdbcType=VARCHAR}			</if>
				<if test="systemId != null and systemId.trim() != ''">
				and system_id =#{systemId,jdbcType=VARCHAR}			</if>
				<if test="mainDoc != null and mainDoc.trim() != ''">
				and main_doc =#{mainDoc,jdbcType=VARCHAR}			</if>
				<if test="menuId != null and menuId.trim() != ''">
				and menu_id =#{menuId,jdbcType=VARCHAR}			</if>
				<if test="docName != null and docName.trim() != ''">
				and doc_name =#{docName,jdbcType=VARCHAR}			</if>
				<if test="docSummary != null and docSummary.trim() != ''">
				and doc_summary =#{docSummary,jdbcType=VARCHAR}			</if>
				<if test="content != null and content.trim() != ''">
				and content =#{content,jdbcType=LONGVARCHAR}			</if>
				<if test="docHistory != null and docHistory.trim() != ''">
				and doc_history =#{docHistory,jdbcType=LONGVARCHAR}			</if>
				<if test="docType != null and docType.trim() != ''">
				and doc_type =#{docType,jdbcType=VARCHAR}			</if>
				<if test="docClass != null and docClass.trim() != ''">
				and doc_class =#{docClass,jdbcType=VARCHAR}			</if>
				<if test="docSort != null and docSort != ''">
				and doc_sort =#{docSort,jdbcType=INTEGER}			</if>
				<if test="minDocSort != null and minDocSort != ''">
				and doc_sort &lt;=#{minDocSort,jdbcType=INTEGER}			</if>
				<if test="maxDocSort != null and maxDocSort != ''">
				and doc_sort &gt;=#{maxDocSort,jdbcType=INTEGER}			</if>
				<if test="docIcon != null and docIcon.trim() != ''">
				and doc_icon =#{docIcon,jdbcType=VARCHAR}			</if>
				<if test="display != null and display.trim() != ''">
				and display =#{display,jdbcType=VARCHAR}			</if>
				<if test="docDownnum != null and docDownnum != ''">
				and doc_downnum =#{docDownnum,jdbcType=INTEGER}			</if>
				<if test="docSharenum != null and docSharenum != ''">
				and doc_sharenum =#{docSharenum,jdbcType=INTEGER}			</if>
				<if test="docViewnum != null and docViewnum != ''">
				and doc_viewnum =#{docViewnum,jdbcType=INTEGER}			</if>
				<if test="docLikenum != null and docLikenum != ''">
				and doc_likenum =#{docLikenum,jdbcType=INTEGER}			</if>
				<if test="createUserId != null and createUserId.trim() != ''">
				and create_user_id =#{createUserId,jdbcType=VARCHAR}			</if>
				<if test="createTime != null and createTime.trim() != ''">
				and create_time =#{createTime,jdbcType=VARCHAR}			</if>
				<if test="updateUserId != null and updateUserId.trim() != ''">
				and update_user_id =#{updateUserId,jdbcType=VARCHAR}			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by doc_sort asc
			</otherwise>
		</choose>
	</select>
	<select id="selectListSimpleByMap" resultMap="BaseResultMap"
		parameterType="map">
		select doc_id,doc_name,parent_id from T_SYS_DOCS
		<where>
				<if test="parentId != null and parentId.trim() != ''">
				and parent_id =#{parentId,jdbcType=VARCHAR}			</if>
				<if test="orgId != null and orgId.trim() != ''">
				and org_id =#{orgId,jdbcType=VARCHAR}			</if>
				<if test="systemId != null and systemId.trim() != ''">
				and system_id =#{systemId,jdbcType=VARCHAR}			</if>
				<if test="mainDoc != null and mainDoc.trim() != ''">
				and main_doc =#{mainDoc,jdbcType=VARCHAR}			</if>
				<if test="menuId != null and menuId.trim() != ''">
				and menu_id =#{menuId,jdbcType=VARCHAR}			</if>
				<if test="docName != null and docName.trim() != ''">
				and doc_name =#{docName,jdbcType=VARCHAR}			</if>
				<if test="docSummary != null and docSummary.trim() != ''">
				and doc_summary =#{docSummary,jdbcType=VARCHAR}			</if>
				<if test="content != null and content.trim() != ''">
				and content =#{content,jdbcType=LONGVARCHAR}			</if>
				<if test="docHistory != null and docHistory.trim() != ''">
				and doc_history =#{docHistory,jdbcType=LONGVARCHAR}			</if>
				<if test="docType != null and docType.trim() != ''">
				and doc_type =#{docType,jdbcType=VARCHAR}			</if>
				<if test="docClass != null and docClass.trim() != ''">
				and doc_class =#{docClass,jdbcType=VARCHAR}			</if>
				<if test="docSort != null and docSort != ''">
				and doc_sort =#{docSort,jdbcType=INTEGER}			</if>
				<if test="minDocSort != null and minDocSort != ''">
				and doc_sort &lt;=#{minDocSort,jdbcType=INTEGER}			</if>
				<if test="maxDocSort != null and maxDocSort != ''">
				and doc_sort &gt;=#{maxDocSort,jdbcType=INTEGER}			</if>
				<if test="docIcon != null and docIcon.trim() != ''">
				and doc_icon =#{docIcon,jdbcType=VARCHAR}			</if>
				<if test="display != null and display.trim() != ''">
				and display =#{display,jdbcType=VARCHAR}			</if>
				<if test="docDownnum != null and docDownnum != ''">
				and doc_downnum =#{docDownnum,jdbcType=INTEGER}			</if>
				<if test="docSharenum != null and docSharenum != ''">
				and doc_sharenum =#{docSharenum,jdbcType=INTEGER}			</if>
				<if test="docViewnum != null and docViewnum != ''">
				and doc_viewnum =#{docViewnum,jdbcType=INTEGER}			</if>
				<if test="docLikenum != null and docLikenum != ''">
				and doc_likenum =#{docLikenum,jdbcType=INTEGER}			</if>
				<if test="createUserId != null and createUserId.trim() != ''">
				and create_user_id =#{createUserId,jdbcType=VARCHAR}			</if>
				<if test="createTime != null and createTime.trim() != ''">
				and create_time =#{createTime,jdbcType=VARCHAR}			</if>
				<if test="updateUserId != null and updateUserId.trim() != ''">
				and update_user_id =#{updateUserId,jdbcType=VARCHAR}			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by doc_sort asc
			</otherwise>
		</choose>
	</select>
	<select id="selectMaxSortByMap" resultType="Integer"
		parameterType="map">
		select IFNULL(max(doc_sort),0) from T_SYS_DOCS
		<where>
				<if test="parentId != null and parentId.trim() != ''">
				and parent_id =#{parentId,jdbcType=VARCHAR}			</if>
				<if test="orgId != null and orgId.trim() != ''">
				and org_id =#{orgId,jdbcType=VARCHAR}			</if>
				<if test="systemId != null and systemId.trim() != ''">
				and system_id =#{systemId,jdbcType=VARCHAR}			</if>
				<if test="mainDoc != null and mainDoc.trim() != ''">
				and main_doc =#{mainDoc,jdbcType=VARCHAR}			</if>
				<if test="menuId != null and menuId.trim() != ''">
				and menu_id =#{menuId,jdbcType=VARCHAR}			</if>
				<if test="docName != null and docName.trim() != ''">
				and doc_name =#{docName,jdbcType=VARCHAR}			</if>
				<if test="docSummary != null and docSummary.trim() != ''">
				and doc_summary =#{docSummary,jdbcType=VARCHAR}			</if>
				<if test="content != null and content.trim() != ''">
				and content =#{content,jdbcType=LONGVARCHAR}			</if>
				<if test="docHistory != null and docHistory.trim() != ''">
				and doc_history =#{docHistory,jdbcType=LONGVARCHAR}			</if>
				<if test="docType != null and docType.trim() != ''">
				and doc_type =#{docType,jdbcType=VARCHAR}			</if>
				<if test="docClass != null and docClass.trim() != ''">
				and doc_class =#{docClass,jdbcType=VARCHAR}			</if>
				<if test="docSort != null and docSort.trim() != ''">
				and doc_sort =#{docSort,jdbcType=INTEGER}			</if>
				<if test="docIcon != null and docIcon.trim() != ''">
				and doc_icon =#{docIcon,jdbcType=VARCHAR}			</if>
				<if test="display != null and display.trim() != ''">
				and display =#{display,jdbcType=VARCHAR}			</if>
				<if test="docDownnum != null and docDownnum != ''">
				and doc_downnum =#{docDownnum,jdbcType=INTEGER}			</if>
				<if test="docSharenum != null and docSharenum != ''">
				and doc_sharenum =#{docSharenum,jdbcType=INTEGER}			</if>
				<if test="docViewnum != null and docViewnum != ''">
				and doc_viewnum =#{docViewnum,jdbcType=INTEGER}			</if>
				<if test="docLikenum != null and docLikenum != ''">
				and doc_likenum =#{docLikenum,jdbcType=INTEGER}			</if>
				<if test="createUserId != null and createUserId.trim() != ''">
				and create_user_id =#{createUserId,jdbcType=VARCHAR}			</if>
				<if test="createTime != null and createTime.trim() != ''">
				and create_time =#{createTime,jdbcType=VARCHAR}			</if>
				<if test="updateUserId != null and updateUserId.trim() != ''">
				and update_user_id =#{updateUserId,jdbcType=VARCHAR}			</if>
		</where>
	</select>
</mapper>

