<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.TsysParameterMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.sys.domain.TsysParameter">
		<result column="PARAID" jdbcType="VARCHAR" property="paraid" />
		<result column="ISDEFAULT" jdbcType="VARCHAR" property="isdefault" />
		<result column="PARANAME" jdbcType="VARCHAR" property="paraname" />
		<result column="PARANO" jdbcType="VARCHAR" property="parano" />
		<result column="PARA_KEY" jdbcType="VARCHAR" property="paraKey" />
		<result column="PARA_TYPE" jdbcType="VARCHAR" property="paraType" />
		<result column="PARAORDER" jdbcType="INTEGER" property="paraorder" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="DISPLAYSORT" jdbcType="VARCHAR" property="displaysort" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		PARAID,ISDEFAULT,PARANAME,PARANO,PARA_KEY,PARA_TYPE,PARAORDER,REMARK,DISPLAYSORT
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.sys.domain.TsysParameter">
		INSERT INTO T_SYS_PARAMETER (
		PARAID ,
		ISDEFAULT ,
		PARANAME ,
		PARANO ,
		PARA_KEY ,
		PARA_TYPE ,
		PARAORDER ,
		REMARK ,
		DISPLAYSORT,
		create_user_id,
		create_time,
		update_user_id,
		update_time
		) VALUES (

		#{paraid,jdbcType=VARCHAR} ,

		#{isdefault,jdbcType=VARCHAR} ,

		#{paraname,jdbcType=VARCHAR} ,

		#{parano,jdbcType=VARCHAR} ,

		#{paraKey,jdbcType=VARCHAR} ,

		#{paraType,jdbcType=VARCHAR} ,

		#{paraorder,jdbcType=INTEGER} ,

		#{remark,jdbcType=VARCHAR} ,

		#{displaysort,jdbcType=VARCHAR},
		#{createUserId,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR},
		#{updateUserId,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR}
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.sys.domain.TsysParameter">
		UPDATE T_SYS_PARAMETER SET
		ISDEFAULT = #{isdefault,jdbcType=VARCHAR} ,
		PARANAME =
		#{paraname,jdbcType=VARCHAR} ,
		PARANO = #{parano,jdbcType=VARCHAR} ,
		PARA_KEY = #{paraKey,jdbcType=VARCHAR} ,
		PARA_TYPE =
		#{paraType,jdbcType=VARCHAR} ,
		PARAORDER =
		#{paraorder,jdbcType=INTEGER} ,
		REMARK = #{remark,jdbcType=VARCHAR} ,
		<if test="createUserId != null and createUserId.trim() != ''">
			create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null and createTime.trim() != ''">
			create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null and updateUserId.trim() != ''">
			update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null and updateTime.trim() != ''">
			update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		DISPLAYSORT = #{displaysort,jdbcType=VARCHAR}
		WHERE
		PARAID =
		#{paraid,jdbcType=VARCHAR}
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_SYS_PARAMETER
		WHERE
		PARAID = #{paraid,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		delete from T_SYS_PARAMETER where PARAID in
		<foreach item="paraid" collection="array" open="(" separator=","
			close=")">
			#{paraid}
		</foreach>
	</delete>
	<select id="selectDetailById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SYS_PARAMETER WHERE
		PARAID = #{paraid,jdbcType=VARCHAR}
	</select>
	<select id="selectAllTsysParameter" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_SYS_PARAMETER
	</select>
	<!-- 根据key，查询value -->
	<select id="selectObjectByKey" parameterType="string" resultType="string">
		select value from T_SYS_PARAMETER where key = #{key}
	</select>
		<select id="selectObjectById" resultType="com.ossbar.modules.sys.domain.TsysParameter">
		select * from T_SYS_PARAMETER
		where paraid = #{paraid}
	</select>
	<select id="selectListByMap" parameterType="map"
		resultType="com.ossbar.modules.sys.domain.TsysParameter">
		select * from T_SYS_PARAMETER where 1 = 1
		<if test="paraname != null and paraname.trim() != ''">
			and paraname like concat('%',#{paraname},'%')
		</if>
		<if test="parano != null and parano.trim() != ''">
			and parano like concat('%',#{parano},'%')
		</if>
		<if test="paraType != null and paraType.trim() != ''">
			and PARA_TYPE like concat('%', #{paraType}, '%')
		</if>
		<choose>
		<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by create_time desc,update_time desc 
			</otherwise>
		</choose>
	</select>
	<select id="selectDistinctList" resultMap="BaseResultMap">
		select p1.* from
		t_sys_parameter p1 where p1.PARAID in (select
		min(p2.PARAID) from
		t_sys_parameter p2 GROUP BY p2.PARANAME)
		order by p1.paraorder asc
	</select>
</mapper>