<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.TsysUserprivilegeMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.sys.domain.TsysUserprivilege">
		<result column="USERPRVIID" jdbcType="VARCHAR"
			property="userprviid" />
		<result column="MENU_ID" jdbcType="VARCHAR"
			property="menuId" />
		<result column="USERID" jdbcType="VARCHAR"
			property="userid" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		USERPRVIID,MENU_ID,USERID
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.sys.domain.TsysUserprivilege">
		INSERT INTO T_SYS_USERPRIVILEGE (
		USERPRVIID ,
		MENU_ID ,
		USERID 
		) VALUES (

		#{userprviid,jdbcType=VARCHAR} ,

		#{menuId,jdbcType=VARCHAR} ,

		#{userid,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.sys.domain.TsysUserprivilege">
		UPDATE T_SYS_USERPRIVILEGE SET
		MENU_ID = #{menuId,jdbcType=VARCHAR}
		,
		USERID = #{userid,jdbcType=VARCHAR}
		
		WHERE
		USERPRVIID = #{userprviid,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_SYS_USERPRIVILEGE WHERE
		USERPRVIID = #{userprviid,jdbcType=VARCHAR} 
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SYS_USERPRIVILEGE WHERE
		USERPRVIID = #{userprviid,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<delete id="deleteBatch">
			delete from T_SYS_USERPRIVILEGE where USERID in 
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>
	<select id="selectListByMap" parameterType="map" resultMap="BaseResultMap">
		select * from t_sys_userprivilege
	</select>
</mapper>

