<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.TsysUserinfoMapper">
	<select id="selectObjectById" resultType="com.ossbar.modules.sys.domain.TsysUserinfo">
		select * from
		t_sys_userinfo where user_id = #{value}
	</select>

	<select id="selectListByMap" resultType="com.ossbar.modules.sys.domain.TsysUserinfo">
		select u.*,(select GROUP_CONCAT(ORG_NAME) from t_sys_org o where
		o.ORG_ID in( select ORG_ID from T_ORG_USER ou where
		ou.USER_ID=u.user_id )) as orgnames from t_sys_userinfo u
		<where>
			u.username != 'admin'
			<if test="createUserId != null">
				and create_user_id = #{createUserId}
			</if>
			<if test="username != null and username.trim() != ''">
				and username like concat('%',#{username},'%')
			</if>
			<if test="orgId != null and orgId.trim() != ''">
				and user_id in (select USER_ID from T_ORG_USER where
				ORG_ID = #{orgId})
			</if>
			<if test="orgIds != null and orgIds.size() > 0">
				and user_id in (select USER_ID from T_ORG_USER where ORG_ID in
				<foreach collection="orgIds" item="orgId" open="("
					separator="," close=")">
					#{orgId}
				</foreach>
				)
			</if>

			<if test="userIds != null and userIds.size() > 0">
				and user_id in
				<foreach collection="userIds" item="userId" open="("
					separator="," close=")">
					#{userId}
				</foreach>
			</if>

			<if test="status != null and status.trim() != ''">
				and status = #{status}
			</if>
			<if test="mobile != null and mobile.trim() != ''">
				and mobile like concat ('%',#{mobile},'%')
			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by create_time desc,update_time desc 
			</otherwise>
		</choose>
	</select>
	<select id="getAllUserinfo" resultType="com.ossbar.modules.sys.domain.TsysUserinfo">
		select u.* from
		t_sys_userinfo u
	</select>
	<!-- 查询用户的所有权限 -->
	<select id="selectAllPerms" resultType="string">
		select m.perms from
		t_user_role ur
		LEFT JOIN t_sys_roleprivilege rm on ur.role_id =
		rm.role_id
		LEFT JOIN t_sys_resource m on rm.menu_id = m.menu_id
		where
		ur.user_id = #{userId}
	</select>

	<!-- 查询用户的所有菜单ID -->
	<select id="selectAllMenuId" resultType="string">
		select distinct
		rm.menu_id from t_user_role ur
		LEFT JOIN t_sys_roleprivilege rm on
		ur.role_id = rm.role_id
		where ur.user_id = #{userId}
	</select>

	<select id="selectObjectByUserName" resultType="com.ossbar.modules.sys.domain.TsysUserinfo">
		select * from
		t_sys_userinfo where username = #{username}
	</select>
	
	<insert id="insert" parameterType="com.ossbar.modules.sys.domain.TsysUserinfo">
	insert into t_sys_userinfo
	(
		user_id,
		user_realname,
		username,
		password,
		salt,
		email,
		mobile,
		status,
		userimg,
		zip,
		sort_num,
		user_type,
		sex,
		user_theme,
		user_card,
		birthday,
		native_place,
		nation,
		create_user_id,
		create_time,
		update_user_id,
		update_time
		)
		values
		(
		#{userId},
		#{userRealname},
		#{username},
		#{password},
		#{salt},
		#{email},
		#{mobile},
		#{status},
		#{userimg},
		#{zip},
		#{sortNum},
		#{userType},
		#{sex},
		#{userTheme},
		#{userCard},
		#{birthday},
		#{nativePlace},
		#{nation},
		#{createUserId,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR},
		#{updateUserId,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.ossbar.modules.sys.domain.TsysUserinfo">
		update t_sys_userinfo
		<set>

			<if test="userRealname != null">user_realname = #{userRealname}, </if>
			<if test="username != null">username = #{username}, </if>
			<if test="email != null">email = #{email}, </if>
			<if test="mobile != null">mobile = #{mobile}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="userimg != null">userimg = #{userimg},</if>
			<if test="zip != null">zip = #{zip},</if>
			<if test="sortNum != null">sort_num = #{sortNum},</if>
			<if test="userType != null">user_type = #{userType},</if>
			<if test="sex != null">sex = #{sex},</if>
			<if test="userTheme != null and userTheme.trim() != ''">
				user_theme = #{userTheme,jdbcType=VARCHAR},
			</if>
			<if test="userCard != null and userCard.trim() != ''">
				user_card = #{userCard,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null and birthday.trim() != ''">
				birthday = #{birthday,jdbcType=VARCHAR},
			</if>
			<if test="nativePlace != null and nativePlace.trim() != ''">
				native_place = #{nativePlace,jdbcType=VARCHAR},
			</if>
			<if test="createUserId != null and createUserId.trim() != ''">
				create_user_id = #{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null and createTime.trim() != ''">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateUserId != null and updateUserId.trim() != ''">
				update_user_id = #{updateUserId,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null and updateTime.trim() != ''">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="nation != null and nation.trim() != ''">
				nation = #{nation,jdbcType=VARCHAR}
			</if>
		</set>
		where user_id = #{userId}
	</update>

	<update id="updatePassword" parameterType="map">
		update t_sys_userinfo
		set password = #{newPassword}
		where user_id = #{userId} and password =
		#{password}
	</update>


	<delete id="deleteBatch">
		delete from t_sys_userinfo where user_id in
		<foreach item="userId" collection="array" open="(" separator=","
			close=")">
			#{userId}
		</foreach>
	</delete>

</mapper>