<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.TsysPostMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.sys.domain.TsysPost">
		<result column="POST_ID" jdbcType="VARCHAR"
			property="postId" />
		<result column="POST_NAME" jdbcType="VARCHAR"
			property="postName" />
		<result column="REMARK" jdbcType="VARCHAR"
			property="remark" />
		<result column="POST_TYPE" jdbcType="VARCHAR"
			property="postType" />
		<result column="PARENT_POSTID" jdbcType="VARCHAR"
			property="parentPostid" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		POST_ID,POST_NAME,REMARK,POST_TYPE,PARENT_POSTID
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.sys.domain.TsysPost">
		INSERT INTO T_SYS_POST (
		POST_ID ,
		POST_NAME ,
		REMARK ,
		POST_TYPE ,
		PARENT_POSTID,
		create_user_id,
		create_time,
		update_user_id,
		update_time 
		) VALUES (

		#{postId,jdbcType=VARCHAR} ,

		#{postName,jdbcType=VARCHAR} ,

		#{remark,jdbcType=VARCHAR} ,

		#{postType,jdbcType=VARCHAR} ,

		#{parentPostid,jdbcType=VARCHAR},
		#{createUserId},
		#{createTime},
		#{updateUserId},
		#{updateTime}  
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.sys.domain.TsysPost">
		UPDATE T_SYS_POST SET
		POST_NAME = #{postName,jdbcType=VARCHAR}
		,
		REMARK = #{remark,jdbcType=VARCHAR}
		,
		POST_TYPE = #{postType,jdbcType=VARCHAR}
		,
		PARENT_POSTID = #{parentPostid,jdbcType=VARCHAR},
		<if test="createUserId != null and createUserId.trim() != ''">
			create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null and createTime.trim() != ''">
			create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null and updateUserId.trim() != ''">
			update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null and updateTime.trim() != ''">
			update_time = #{updateTime,jdbcType=VARCHAR}
		</if>
		
		WHERE
		POST_ID = #{postId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_SYS_POST WHERE
		POST_ID = #{postId,jdbcType=VARCHAR} 
	</delete>
		<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_SYS_POST WHERE  POST_ID in
		<foreach item="postId" collection="array" open="(" separator=","
			close=")">
			#{postId}
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SYS_POST WHERE
		POST_ID = #{postId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<select id="selectListByMap" resultType="com.ossbar.modules.sys.domain.TsysPost">
		select * from T_SYS_POST
		<where>
			<if test="postType != null  and postType.trim() != ''">
				and post_type = #{postType}
			</if>
			<if test="postName != null and postName.trim() != ''">
				and post_name like concat('%',#{postName},'%')
			</if>
			<if test="userId != null and userId.trim() != ''">
				and post_id in (select POST_ID  from T_USER_POST WHERE user_id = #{userId})
			</if>
		</where>
		<choose>
		<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by create_time desc,update_time desc 
			</otherwise>
		</choose>
	</select>
</mapper>

