<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.site.persistence.TevglSiteSeoMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.site.domain.TevglSiteSeo">
		<result column="seo_id" jdbcType="VARCHAR"
			property="seoId" />
		<result column="seo_title" jdbcType="VARCHAR"
			property="seoTitle" />
		<result column="seo_word" jdbcType="VARCHAR"
			property="seoWord" />
		<result column="seo_desc" jdbcType="VARCHAR"
			property="seoDesc" />
		<result column="seo_type" jdbcType="VARCHAR"
			property="seoType" />
		<result column="seo_relation" jdbcType="VARCHAR"
			property="seoRelation" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		seo_id,seo_title,seo_word,seo_desc,seo_type,seo_relation
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.site.domain.TevglSiteSeo">
		INSERT INTO T_EVGL_SITE_SEO (
		seo_id ,
		seo_title ,
		seo_word ,
		seo_desc ,
		seo_type ,
		seo_relation 
		) VALUES (

#{seoId,jdbcType=VARCHAR} ,

#{seoTitle,jdbcType=VARCHAR} ,

#{seoWord,jdbcType=VARCHAR} ,

#{seoDesc,jdbcType=VARCHAR} ,

#{seoType,jdbcType=VARCHAR} ,

#{seoRelation,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.site.domain.TevglSiteSeo">
		UPDATE T_EVGL_SITE_SEO 
		<set>
		<if test="seoTitle != null">
		seo_title = #{seoTitle,jdbcType=VARCHAR},
		</if>
		<if test="seoWord != null">
		seo_word = #{seoWord,jdbcType=VARCHAR},
		</if>
		<if test="seoDesc != null">
		seo_desc = #{seoDesc,jdbcType=VARCHAR},
		</if>
		<if test="seoType != null">
		seo_type = #{seoType,jdbcType=VARCHAR},
		</if>
		<if test="seoRelation != null">
		seo_relation = #{seoRelation,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		seo_id = #{seoId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_SEO WHERE
		seo_id =
		#{seoId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_SEO WHERE
		seo_id in
		<foreach item="seoId" collection="array" open="("
			separator="," close=")">
#{seoId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<delete id="deleteByRelationId" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_SEO WHERE
		seo_relation =
		#{relationId,jdbcType=VARCHAR} 
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_SITE_SEO WHERE
		seo_id = #{seoId,jdbcType=VARCHAR} 
	</select>
	<select id="selectObjectByRelationId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_SITE_SEO WHERE
		seo_relation = #{relationId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_SITE_SEO
        <where>
                <if test="seoTitle != null and seoTitle.trim() != ''">
                and seo_title =#{seoTitle,jdbcType=VARCHAR}            </if>
                <if test="seoWord != null and seoWord.trim() != ''">
                and seo_word =#{seoWord,jdbcType=VARCHAR}            </if>
                <if test="seoDesc != null and seoDesc.trim() != ''">
                and seo_desc =#{seoDesc,jdbcType=VARCHAR}            </if>
                <if test="seoType != null and seoType.trim() != ''">
                and seo_type =#{seoType,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by seo_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_SITE_SEO t1
        <where>
                <if test="seoTitle != null and seoTitle.trim() != ''">
                and t1.seo_title =#{seoTitle,jdbcType=VARCHAR}            </if>
                <if test="seoWord != null and seoWord.trim() != ''">
                and t1.seo_word =#{seoWord,jdbcType=VARCHAR}            </if>
                <if test="seoDesc != null and seoDesc.trim() != ''">
                and t1.seo_desc =#{seoDesc,jdbcType=VARCHAR}            </if>
                <if test="seoType != null and seoType.trim() != ''">
                and t1.seo_type =#{seoType,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.seo_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

