<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.site.persistence.TevglSiteCheckinfoMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.site.domain.TevglSiteCheckinfo">
		<result column="id" jdbcType="VARCHAR"
			property="id" />
		<result column="ref_id" jdbcType="VARCHAR"
			property="refId" />
		<result column="reason" jdbcType="VARCHAR"
			property="reason" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="type" jdbcType="VARCHAR"
			property="type" />
		<result column="pass" jdbcType="VARCHAR"
			property="pass" />	
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,ref_id,reason,create_user_id,create_time,state,type,pass
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.site.domain.TevglSiteCheckinfo">
		INSERT INTO T_EVGL_SITE_CHECKINFO (
		id ,
		ref_id ,
		reason ,
		create_user_id ,
		create_time ,
		state ,
		type ,
		pass
		) VALUES (

#{id,jdbcType=VARCHAR} ,

#{refId,jdbcType=VARCHAR} ,

#{reason,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} ,

#{type,jdbcType=VARCHAR} ,

#{pass,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.site.domain.TevglSiteCheckinfo">
		UPDATE T_EVGL_SITE_CHECKINFO 
		<set>
		<if test="refId != null">
		ref_id = #{refId,jdbcType=VARCHAR},
		</if>
		<if test="reason != null">
		reason = #{reason,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="type != null">
		type = #{type,jdbcType=VARCHAR},
		</if>
		<if test="pass != null">
		pass = #{pass,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		id = #{id,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_CHECKINFO WHERE
		id =
		#{id,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_CHECKINFO WHERE
		id in
		<foreach item="id" collection="array" open="("
			separator="," close=")">
#{id,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_SITE_CHECKINFO WHERE
		id = #{id,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_SITE_CHECKINFO
        <where>
                <if test="refId != null and refId.trim() != ''">
                and ref_id =#{refId,jdbcType=VARCHAR}            </if>
                <if test="reason != null and reason.trim() != ''">
                and reason =#{reason,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="type != null and type.trim() != ''">
                and type =#{type,jdbcType=VARCHAR}            </if>
                <if test="pass != null and pass.trim() != ''">
                and pass =#{pass,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_SITE_CHECKINFO t1
        <where>
                <if test="refId != null and refId.trim() != ''">
                and t1.ref_id =#{refId,jdbcType=VARCHAR}            </if>
                <if test="reason != null and reason.trim() != ''">
                and t1.reason =#{reason,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="type != null and type.trim() != ''">
                and t1.type =#{type,jdbcType=VARCHAR}            </if>
                <if test="pass != null and pass.trim() != ''">
                and t1.pass =#{pass,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

