<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.site.persistence.TevglsiteResourceMapper">
	
	<!-- 只查出站点及栏目自有资源，不包括基础平台的资源 -->
	<select id="selectSiteListByMap" resultType="com.ossbar.modules.sys.domain.TsysResource" parameterType="map">
		select m.menu_id,m.parent_id,m.perms,m.name,m.type,m.icon,m.order_num,m.ORG_ID,m.DISPLAY,m.url,
		(select p.name from t_sys_resource p where p.menu_id =
		m.parent_id) as parentName,(select p.site_id from t_evgl_site_resourceext p where p.menu_id =
		m.menu_id) as remark
		from t_sys_resource m
		<where>
		  and m.type in('3','4')
		  <if test="display != null and display.trim() != ''">
            and display =#{display,jdbcType=VARCHAR}
          </if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by m.${sidx} ${order}
			</when>
			<otherwise>
				order by m.order_num asc
			</otherwise>
		</choose>
	</select>
	<!-- 只查出站点及栏目自有资源，不包括基础平台的资源 -->
	<select id="selectSiteListParentId" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select m.menu_id,m.parent_id,m.perms,m.name,m.type,m.icon,m.order_num,m.ORG_ID,m.DISPLAY,m.url,
		(select p.name from t_sys_resource p where p.menu_id =
		m.parent_id) as parentName,(select p.site_id from t_evgl_site_resourceext p where p.menu_id =
		m.menu_id) as remark 
		from t_sys_resource m where m.type in('3','4') and m.parent_id = #{parentId} order by m.order_num asc
	</select>
	
	<select id="selectSiteListVoByMap" resultType="com.ossbar.modules.evgl.site.vo.TsysResourceVo" parameterType="map">
		select m.menu_id,m.parent_id,m.perms,m.name,m.type,m.icon,m.order_num,m.ORG_ID,m.DISPLAY,m.url,
		(select p.name from t_sys_resource p where p.menu_id =
		m.parent_id) as parentName,(select p.site_id from t_evgl_site_resourceext p where p.menu_id =
		m.menu_id) as remark
		from t_sys_resource m
		<where>
		  and m.type in('3','4')
		  <if test="display != null and display.trim() != ''">
            and display =#{display,jdbcType=VARCHAR}
          </if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by m.${sidx} ${order}
			</when>
			<otherwise>
				order by m.order_num asc
			</otherwise>
		</choose>
	</select>
	<!-- 只查出站点及栏目自有资源，不包括基础平台的资源 -->
	<select id="selectSiteListVoParentId" resultType="com.ossbar.modules.evgl.site.vo.TsysResourceVo">
		select m.menu_id,m.parent_id,m.perms,m.name,m.type,m.icon,m.order_num,m.ORG_ID,m.DISPLAY,m.url,
		(select p.name from t_sys_resource p where p.menu_id =
		m.parent_id) as parentName,(select p.site_id from t_evgl_site_resourceext p where p.menu_id =
		m.menu_id) as remark 
		from t_sys_resource m where m.type in('3','4') and m.parent_id = #{parentId} order by m.order_num asc
	</select>
</mapper>