<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.medu.me.persistence.TmeduMeFavorityMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.medu.me.domain.TmeduMeFavority">
		<result column="favority_id" jdbcType="VARCHAR"
			property="favorityId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="favority_type" jdbcType="VARCHAR"
			property="favorityType" />
		<result column="target_id" jdbcType="VARCHAR"
			property="targetId" />
		<result column="favority_time" jdbcType="VARCHAR"
			property="favorityTime" />
		<result column="class_id" jdbcType="VARCHAR"
			property="classId" />
		<result column="major_id" jdbcType="VARCHAR"
			property="majorId" />
		<result column="pkg_id" jdbcType="VARCHAR"
			property="pkgId" />	
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		favority_id,trainee_id,favority_type,target_id,favority_time,class_id,major_id,pkg_id
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.medu.me.domain.TmeduMeFavority">
		INSERT INTO T_MEDU_ME_FAVORITY (
		favority_id ,
		trainee_id ,
		favority_type ,
		target_id ,
		favority_time ,
		class_id ,
		major_id ,
		pkg_id
		) VALUES (

#{favorityId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{favorityType,jdbcType=VARCHAR} ,

#{targetId,jdbcType=VARCHAR} ,

#{favorityTime,jdbcType=VARCHAR} ,

#{classId,jdbcType=VARCHAR} ,

#{majorId,jdbcType=VARCHAR} ,

#{pkgId,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.medu.me.domain.TmeduMeFavority">
		UPDATE T_MEDU_ME_FAVORITY 
		<set>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="favorityType != null">
		favority_type = #{favorityType,jdbcType=VARCHAR},
		</if>
		<if test="targetId != null">
		target_id = #{targetId,jdbcType=VARCHAR},
		</if>
		<if test="favorityTime != null">
		favority_time = #{favorityTime,jdbcType=VARCHAR},
		</if>
		<if test="classId != null">
		class_id = #{classId,jdbcType=VARCHAR},
		</if>
		<if test="majorId != null">
		major_id = #{majorId,jdbcType=VARCHAR},
		</if>
		<if test="pkgId != null">
		pkg_id = #{pkgId,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		favority_id = #{favorityId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_MEDU_ME_FAVORITY WHERE
		favority_id =
		#{favorityId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_MEDU_ME_FAVORITY WHERE
		favority_id in
		<foreach item="favorityId" collection="array" open="("
			separator="," close=")">
#{favorityId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_MEDU_ME_FAVORITY WHERE
		favority_id = #{favorityId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_MEDU_ME_FAVORITY
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="favorityType != null and favorityType.trim() != ''">
                and favority_type =#{favorityType,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and target_id =#{targetId,jdbcType=VARCHAR}            </if>
                <if test="favorityTime != null and favorityTime.trim() != ''">
                and favority_time =#{favorityTime,jdbcType=VARCHAR}            </if>
                <if test="classId != null and classId.trim() != ''">
                and class_id =#{classId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and major_id =#{majorId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by favority_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_MEDU_ME_FAVORITY t1
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="favorityType != null and favorityType.trim() != ''">
                and t1.favority_type =#{favorityType,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and t1.target_id =#{targetId,jdbcType=VARCHAR}            </if>
                <if test="favorityTime != null and favorityTime.trim() != ''">
                and t1.favority_time =#{favorityTime,jdbcType=VARCHAR}            </if>
                <if test="classId != null and classId.trim() != ''">
                and t1.class_id =#{classId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.favority_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectClassroomList" resultType="map"
        parameterType="map">
        select t1.favority_id as favorityId, t1.trainee_id as traineeId, t1.favority_type as favorityType,
        t1.target_id as targetId, t1.favority_time as favorityTime, t2.if_live_lesson as ifLiveLesson, t2.link_url as linkUrl,
        t2.ct_id as ctId, t2.name, t2.pic, t2.study_num as studyNum, t2.classroom_state as classroomState,
        t2.classroom_state as classroomStateName, '' as orgId, t2.create_user_id as createUserId,
        if(t2.is_public = 'Y', '公开课', "") as isPublic, t2.is_check as isCheck, t2.trainee_id as teachingAssistantId,
        t3.class_id as classId, t3.class_name as className, 
        t4.org_id as orgIdTeacher,
        t5.pkg_id as pkgId, t5.subject_id as subjectId
        from T_MEDU_ME_FAVORITY t1
        inner join t_evgl_tch_classroom t2 on t1.target_id = t2.ct_id
        left join t_evgl_tch_class t3 on t2.class_id = t3.class_id
        left join t_evgl_tch_teacher t4 on t2.teacher_id = t4.teacher_id
        left join t_evgl_pkg_info t5 on t2.pkg_id = t5.pkg_id
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="favorityType != null and favorityType.trim() != ''">
                and t1.favority_type =#{favorityType,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and t1.target_id =#{targetId,jdbcType=VARCHAR}            </if>
                <if test="favorityTime != null and favorityTime.trim() != ''">
                and t1.favority_time =#{favorityTime,jdbcType=VARCHAR}            </if>
                <if test="classId != null and classId.trim() != ''">
                and t1.class_id =#{classId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.favority_time  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectVideoList" resultType="map"
        parameterType="map">
        select t1.favority_id as favorityId, t1.trainee_id as traineeId, t1.favority_type as favorityType,
        t1.target_id as targetId, t1.favority_time as favorityTime
        from T_MEDU_ME_FAVORITY t1
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="favorityType != null and favorityType.trim() != ''">
                and t1.favority_type =#{favorityType,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and t1.target_id =#{targetId,jdbcType=VARCHAR}            </if>
                <if test="favorityTime != null and favorityTime.trim() != ''">
                and t1.favority_time =#{favorityTime,jdbcType=VARCHAR}            </if>
                <if test="classId != null and classId.trim() != ''">
                and t1.class_id =#{classId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.favority_time  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectQuestionList" resultType="map"
        parameterType="map">
    	SELECT t1.favority_id as favorityId, t1.trainee_id as traineeId, t1.favority_type as favorityType,
        t1.target_id as targetId, t1.favority_time as favorityTime,
        t2.questions_id as questionsId,
        t2.questions_name as questionsName, t2.questions_parse as questionsParse, t2.questions_complexity as questionsComplexity,
        t2.questions_type as questionsType, t2.questions_type as questionsTypeName, t2.reply_ids as replyIds, 
        t2.questions_store_num as questionsStoreNum, t2.questions_constructing_num as questionsConstructingNum,
        t2.questions_accuracy as questionsAccuracy
		FROM T_MEDU_ME_FAVORITY t1
		LEFT JOIN t_evgl_questions_info t2 ON t1.target_id = t2.questions_id
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="favorityType != null and favorityType.trim() != ''">
                and t1.favority_type =#{favorityType,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and t1.target_id =#{targetId,jdbcType=VARCHAR}            </if>
                <if test="favorityTime != null and favorityTime.trim() != ''">
                and t1.favority_time =#{favorityTime,jdbcType=VARCHAR}            </if>
                <if test="classId != null and classId.trim() != ''">
                and t1.class_id =#{classId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.favority_time desc
            </otherwise>
        </choose>
    </select>
</mapper>

