<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.trainee.persistence.TevglTraineeSocialMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.trainee.domain.TevglTraineeSocial">
		<result column="social_id" jdbcType="VARCHAR"
			property="socialId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="open_id" jdbcType="VARCHAR"
			property="openId" />
		<result column="channel_id" jdbcType="VARCHAR"
			property="channelId" />
		<result column="nick_name" jdbcType="VARCHAR"
			property="nickName" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="param1" jdbcType="VARCHAR"
			property="param1" />
		<result column="param2" jdbcType="VARCHAR"
			property="param2" />
		<result column="param3" jdbcType="VARCHAR"
			property="param3" />
		<result column="remark" jdbcType="VARCHAR"
			property="remark" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		social_id,trainee_id,open_id,channel_id,nick_name,create_user_id,create_time,update_user_id,update_time,param1,param2,param3,remark
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.trainee.domain.TevglTraineeSocial">
		INSERT INTO T_EVGL_TRAINEE_SOCIAL (
		social_id ,
		trainee_id ,
		open_id ,
		channel_id ,
		nick_name ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		param1 ,
		param2 ,
		param3 ,
		remark 
		) VALUES (

#{socialId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{openId,jdbcType=VARCHAR} ,

#{channelId,jdbcType=VARCHAR} ,

#{nickName,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{param1,jdbcType=VARCHAR} ,

#{param2,jdbcType=VARCHAR} ,

#{param3,jdbcType=VARCHAR} ,

#{remark,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.trainee.domain.TevglTraineeSocial">
		UPDATE T_EVGL_TRAINEE_SOCIAL 
		<set>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="openId != null">
		open_id = #{openId,jdbcType=VARCHAR},
		</if>
		<if test="channelId != null">
		channel_id = #{channelId,jdbcType=VARCHAR},
		</if>
		<if test="nickName != null">
		nick_name = #{nickName,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="param1 != null">
		param1 = #{param1,jdbcType=VARCHAR},
		</if>
		<if test="param2 != null">
		param2 = #{param2,jdbcType=VARCHAR},
		</if>
		<if test="param3 != null">
		param3 = #{param3,jdbcType=VARCHAR},
		</if>
		<if test="remark != null">
		remark = #{remark,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		social_id = #{socialId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TRAINEE_SOCIAL WHERE
		social_id =
		#{socialId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TRAINEE_SOCIAL WHERE
		social_id in
		<foreach item="socialId" collection="array" open="("
			separator="," close=")">
#{socialId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_TRAINEE_SOCIAL WHERE
		social_id = #{socialId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_TRAINEE_SOCIAL
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="openId != null and openId.trim() != ''">
                and open_id =#{openId,jdbcType=VARCHAR}            </if>
                <if test="channelId != null and channelId.trim() != ''">
                and channel_id =#{channelId,jdbcType=VARCHAR}            </if>
                <if test="nickName != null and nickName.trim() != ''">
                and nick_name =#{nickName,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="param1 != null and param1.trim() != ''">
                and param1 =#{param1,jdbcType=VARCHAR}            </if>
                <if test="param2 != null and param2.trim() != ''">
                and param2 =#{param2,jdbcType=VARCHAR}            </if>
                <if test="param3 != null and param3.trim() != ''">
                and param3 =#{param3,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by social_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_TRAINEE_SOCIAL t1
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="openId != null and openId.trim() != ''">
                and t1.open_id =#{openId,jdbcType=VARCHAR}            </if>
                <if test="channelId != null and channelId.trim() != ''">
                and t1.channel_id =#{channelId,jdbcType=VARCHAR}            </if>
                <if test="nickName != null and nickName.trim() != ''">
                and t1.nick_name =#{nickName,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="param1 != null and param1.trim() != ''">
                and t1.param1 =#{param1,jdbcType=VARCHAR}            </if>
                <if test="param2 != null and param2.trim() != ''">
                and t1.param2 =#{param2,jdbcType=VARCHAR}            </if>
                <if test="param3 != null and param3.trim() != ''">
                and t1.param3 =#{param3,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.social_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

