<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.book.persistence.TevglBookSubperiodMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.book.domain.TevglBookSubperiod">
		<result column="subperiod_id" jdbcType="VARCHAR"
			property="subperiodId" />
		<result column="major_id" jdbcType="VARCHAR"
			property="majorId" />
		<result column="subject_id" jdbcType="VARCHAR"
			property="subjectId" />
		<result column="sort_num" jdbcType="INTEGER"
			property="sortNum" />
		<result column="term" jdbcType="VARCHAR"
			property="term" />
		<result column="subject_property" jdbcType="VARCHAR"
			property="subjectProperty" />
		<result column="class_hour" jdbcType="DECIMAL"
			property="classHour" />
		<result column="class_score" jdbcType="DECIMAL"
			property="classScore" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		subperiod_id,major_id,subject_id,sort_num,term,subject_property,class_hour,class_score
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookSubperiod">
		INSERT INTO T_EVGL_BOOK_SUBPERIOD (
		subperiod_id ,
		major_id ,
		subject_id ,
		sort_num ,
		term ,
		subject_property ,
		class_hour ,
		class_score 
		) VALUES (

#{subperiodId,jdbcType=VARCHAR} ,

#{majorId,jdbcType=VARCHAR} ,

#{subjectId,jdbcType=VARCHAR} ,

#{sortNum,jdbcType=INTEGER} ,

#{term,jdbcType=VARCHAR} ,

#{subjectProperty,jdbcType=VARCHAR} ,

#{classHour,jdbcType=DECIMAL} ,

#{classScore,jdbcType=DECIMAL} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookSubperiod">
		UPDATE T_EVGL_BOOK_SUBPERIOD 
		<set>
		<if test="majorId != null">
		major_id = #{majorId,jdbcType=VARCHAR},
		</if>
		<if test="subjectId != null">
		subject_id = #{subjectId,jdbcType=VARCHAR},
		</if>
		<if test="sortNum != null">
		sort_num = #{sortNum,jdbcType=INTEGER},
		</if>
		<if test="term != null">
		term = #{term,jdbcType=VARCHAR},
		</if>
		<if test="subjectProperty != null">
		subject_property = #{subjectProperty,jdbcType=VARCHAR},
		</if>
		<if test="classHour != null">
		class_hour = #{classHour,jdbcType=DECIMAL},
		</if>
		<if test="classScore != null">
		class_score = #{classScore,jdbcType=DECIMAL},
		</if>
		</set>
		WHERE
		subperiod_id = #{subperiodId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOK_SUBPERIOD WHERE
		subperiod_id =
		#{subperiodId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOK_SUBPERIOD WHERE
		subperiod_id in
		<foreach item="subperiodId" collection="array" open="("
			separator="," close=")">
#{subperiodId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_BOOK_SUBPERIOD WHERE
		subperiod_id = #{subperiodId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_BOOK_SUBPERIOD
        <where>
                <if test="majorId != null and majorId.trim() != ''">
                and major_id =#{majorId,jdbcType=VARCHAR}            </if>
                
                <if test="majorIds != null and majorIds.size() > 0">
	                and major_id in
	                <foreach collection="majorIds" item="majorId" open="("
						separator="," close=")">
						#{majorId}
					</foreach>
                </if>
                <if test="subjectIds != null and subjectIds.size() > 0">
	                and subject_id in
	                <foreach collection="subjectIds" item="subjectId" open="("
						separator="," close=")">
						#{subjectId}
					</foreach>
                </if>
                
                <if test="subjectId != null and subjectId.trim() != ''">
                and subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="term != null and term.trim() != ''">
                and term =#{term,jdbcType=VARCHAR}            </if>
                <if test="subjectProperty != null and subjectProperty.trim() != ''">
                and subject_property =#{subjectProperty,jdbcType=VARCHAR}            </if>
                <if test="classHour != null and classHour != ''">
                and class_hour =#{classHour,jdbcType=DECIMAL}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by subperiod_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_BOOK_SUBPERIOD t1
        <where>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and t1.subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="term != null and term.trim() != ''">
                and t1.term =#{term,jdbcType=VARCHAR}            </if>
                <if test="subjectProperty != null and subjectProperty.trim() != ''">
                and t1.subject_property =#{subjectProperty,jdbcType=VARCHAR}            </if>
                <if test="classHour != null and classHour != ''">
                and t1.class_hour =#{classHour,jdbcType=DECIMAL}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.subperiod_id  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 前端活教材的查询 -->
    <select id="selectListForEvglWeb" resultType="map"
		parameterType="map">
		select c.DICT_CODE, c.dict_value, c.DICT_CODE as dictCode, c.dict_value as dictValue
		from t_evgl_book_subperiod a
		inner join t_evgl_book_subject b on a.subject_id = b.subject_ref
		inner join t_sys_dict c on FIND_IN_SET(c.dict_code,b.subject_technology)
		and c.dict_type = "subjectTechnology"
		<where>
			<if test="majorId != null and majorId.trim() != ''">
				and a.major_id =#{majorId,jdbcType=VARCHAR}
			</if>
			<if test="subjectId != null and subjectId.trim() != ''">
				and b.subject_id =#{subjectId,jdbcType=VARCHAR}
			</if>
			<if test="subjectTechnology != null and subjectTechnology.trim() != ''">
				and b.subject_technology =#{subjectTechnology,jdbcType=VARCHAR}
			</if>
		</where>	
		group by c.DICT_VALUE order by c.DICT_SORT asc <!-- a.sort_num -->
	</select>
	
   	<select id="findMajorIdListBySubjectId" parameterType="string" resultType="string">
		SELECT major_id FROM t_evgl_book_subperiod WHERE subject_id = #{subjectId}
	</select>
	
	<select id="findSubjectIdListByMajorId" parameterType="string" resultType="string">
		SELECT subject_id FROM t_evgl_book_subperiod WHERE major_id = #{majorId}
	</select>
</mapper>

