<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.book.persistence.TevglBookMajorMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.book.domain.TevglBookMajor">
		<result column="major_id" jdbcType="VARCHAR"
			property="majorId" />
		<result column="org_id" jdbcType="VARCHAR"
			property="orgId" />
		<result column="major_name" jdbcType="VARCHAR"
			property="majorName" />
		<result column="major_logo" jdbcType="VARCHAR"
			property="majorLogo" />
		<result column="major_desc" jdbcType="VARCHAR"
			property="majorDesc" />
		<result column="major_remark" jdbcType="LONGVARCHAR"
			property="majorRemark" />
		<result column="major_type" jdbcType="VARCHAR"
			property="majorType" />
		<result column="parent_id" jdbcType="VARCHAR"
			property="parentId" />
		<result column="level" jdbcType="VARCHAR"
			property="level" />
		<result column="show_index" jdbcType="VARCHAR"
			property="showIndex" />
		<result column="sort_num" jdbcType="INTEGER"
			property="sortNum" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="hot" jdbcType="VARCHAR"
			property="hot" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		major_id,org_id,major_name,major_logo,major_desc,major_remark,major_type,parent_id,level,major_version,last_version_id,show_index,sort_num,create_user_id,create_time,update_user_id,update_time,state,hot
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookMajor">
		INSERT INTO T_EVGL_BOOK_MAJOR (
		major_id ,
		org_id ,
		major_name ,
		major_logo ,
		major_desc ,
		major_remark ,
		major_type ,
		parent_id ,
		level ,
		major_version,
		last_version_id,
		show_index ,
		sort_num ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		state ,
		hot
		) VALUES (

#{majorId,jdbcType=VARCHAR} ,

#{orgId,jdbcType=VARCHAR} ,

#{majorName,jdbcType=VARCHAR} ,

#{majorLogo,jdbcType=VARCHAR} ,

#{majorDesc,jdbcType=VARCHAR} ,

#{majorRemark,jdbcType=LONGVARCHAR} ,

#{majorType,jdbcType=VARCHAR} ,

#{parentId,jdbcType=VARCHAR} ,

#{level,jdbcType=VARCHAR} ,

#{majorVersion,jdbcType=VARCHAR} ,

#{lastVersionId,jdbcType=VARCHAR} ,

#{showIndex,jdbcType=VARCHAR} ,

#{sortNum,jdbcType=INTEGER} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} , 

#{hot,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookMajor">
		UPDATE T_EVGL_BOOK_MAJOR 
		<set>
		<if test="orgId != null">
		org_id = #{orgId,jdbcType=VARCHAR},
		</if>
		<if test="majorName != null">
		major_name = #{majorName,jdbcType=VARCHAR},
		</if>
		<if test="majorLogo != null">
		major_logo = #{majorLogo,jdbcType=VARCHAR},
		</if>
		<if test="majorDesc != null">
		major_desc = #{majorDesc,jdbcType=VARCHAR},
		</if>
		<if test="majorRemark != null">
		major_remark = #{majorRemark,jdbcType=LONGVARCHAR},
		</if>
		<if test="majorType != null">
		major_type = #{majorType,jdbcType=VARCHAR},
		</if>
		<if test="parentId != null">
		parent_id = #{parentId,jdbcType=VARCHAR},
		</if>
		<if test="level != null">
		level = #{level,jdbcType=VARCHAR},
		</if>
		<if test="majorVersion != null">
		major_version = #{majorVersion,jdbcType=VARCHAR},
		</if>
		<if test="lastVersionId != null">
		last_version_id = #{lastVersionId,jdbcType=VARCHAR},
		</if>
		<if test="showIndex != null">
		show_index = #{showIndex,jdbcType=VARCHAR},
		</if>
		<if test="sortNum != null">
		sort_num = #{sortNum,jdbcType=INTEGER},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="hot != null">
		hot = #{hot,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		major_id = #{majorId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOK_MAJOR WHERE
		major_id =
		#{majorId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOK_MAJOR WHERE
		major_id in
		<foreach item="majorId" collection="array" open="("
			separator="," close=")">
#{majorId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_BOOK_MAJOR WHERE
		major_id = #{majorId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_BOOK_MAJOR
        <where>
        		<if test="majorIds != null and majorIds.size() > 0">
				and major_id in
					<foreach collection="majorIds" item="majorId" open="("
						separator="," close=")">
						#{majorId}
					</foreach>
				</if>
                <if test="orgId != null and orgId.trim() != ''">
                and org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="majorName != null and majorName.trim() != ''">
                and major_name =#{majorName,jdbcType=VARCHAR}            </if>
                <if test="majorLogo != null and majorLogo.trim() != ''">
                and major_logo =#{majorLogo,jdbcType=VARCHAR}            </if>
                <if test="majorDesc != null and majorDesc.trim() != ''">
                and major_desc =#{majorDesc,jdbcType=VARCHAR}            </if>
                <if test="majorRemark != null and majorRemark.trim() != ''">
                and major_remark =#{majorRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="majorType != null and majorType.trim() != ''">
                and major_type =#{majorType,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="level != null and level.trim() != ''">
                and level =#{level,jdbcType=VARCHAR}            </if>
                <if test="showIndex != null and showIndex.trim() != ''">
                and show_index =#{showIndex,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="hot != null and hot.trim() != ''">
                and hot =#{hot,jdbcType=VARCHAR}            </if>
                <if test="userIds != null and userIds.size() > 0">
				and u.user_id in
				<foreach collection="userIds" item="userId" open="("
					separator="," close=")">
					#{userId}
				</foreach>
			</if>
                
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by major_id  desc
            </otherwise>
        </choose>
    </select>
    <select id="selectListByMap2" resultMap="BaseResultMap"
        parameterType="map">
        select t1.* from T_EVGL_BOOK_MAJOR t1
        inner join t_evgl_book_subperiod t2 on t1.major_id = t2.major_id
        <where>
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="majorName != null and majorName.trim() != ''">
                and t1.major_name =#{majorName,jdbcType=VARCHAR}            </if>
                <if test="majorLogo != null and majorLogo.trim() != ''">
                and t1.major_logo =#{majorLogo,jdbcType=VARCHAR}            </if>
                <if test="majorDesc != null and majorDesc.trim() != ''">
                and t1.major_desc =#{majorDesc,jdbcType=VARCHAR}            </if>
                <if test="majorRemark != null and majorRemark.trim() != ''">
                and t1.major_remark =#{majorRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="majorType != null and majorType.trim() != ''">
                and t1.major_type =#{majorType,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="level != null and level.trim() != ''">
                and t1.level =#{level,jdbcType=VARCHAR}            </if>
                <if test="showIndex != null and showIndex.trim() != ''">
                and t1.show_index =#{showIndex,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                
                <if test="subperiodIds != null and subperiodIds.size() > 0">
				and t2.subperiod_id in
				<foreach collection="subperiodIds" item="subperiodId" open="("
					separator="," close=")">
					#{subperiodId}
				</foreach>
				
				<if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="hot != null and hot.trim() != ''">
                and hot =#{hot,jdbcType=VARCHAR}            </if>
			</if>              
        </where>
        group by t1.major_id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.major_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_BOOK_MAJOR t1
        <where>
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="majorName != null and majorName.trim() != ''">
                and t1.major_name =#{majorName,jdbcType=VARCHAR}            </if>
                <if test="majorLogo != null and majorLogo.trim() != ''">
                and t1.major_logo =#{majorLogo,jdbcType=VARCHAR}            </if>
                <if test="majorDesc != null and majorDesc.trim() != ''">
                and t1.major_desc =#{majorDesc,jdbcType=VARCHAR}            </if>
                <if test="majorRemark != null and majorRemark.trim() != ''">
                and t1.major_remark =#{majorRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="majorType != null and majorType.trim() != ''">
                and t1.major_type =#{majorType,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="level != null and level.trim() != ''">
                and t1.level =#{level,jdbcType=VARCHAR}            </if>
                <if test="showIndex != null and showIndex.trim() != ''">
                and t1.show_index =#{showIndex,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="hot != null and hot.trim() != ''">
                and hot =#{hot,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.major_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMapForWeb" resultType="map"
        parameterType="map">
        select t1.major_id as majorId, t1.major_name as majorName, t1.major_logo as majorLogo
        from T_EVGL_BOOK_MAJOR t1
        <where>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and t1.subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="term != null and term.trim() != ''">
                and t1.term =#{term,jdbcType=VARCHAR}            </if>
                <if test="subjectProperty != null and subjectProperty.trim() != ''">
                and t1.subject_property =#{subjectProperty,jdbcType=VARCHAR}            </if>
                <if test="classHour != null and classHour != ''">
                and t1.class_hour =#{classHour,jdbcType=DECIMAL}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.subperiod_id  desc
            </otherwise>
        </choose>
    </select>
    
    
</mapper>

