<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.question.persistence.TepExaminePaperQuestionsRandomMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.question.domain.TepExaminePaperQuestionsRandom">
		<result column="rd_id" jdbcType="VARCHAR"
			property="rdId" />
		<result column="dy_id" jdbcType="VARCHAR"
			property="dyId" />
		<result column="detail_id" jdbcType="VARCHAR"
			property="detailId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="questions_num" jdbcType="INTEGER"
			property="questionsNum" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		rd_id,dy_id,detail_id,trainee_id,questions_num
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.question.domain.TepExaminePaperQuestionsRandom">
		INSERT INTO T_EP_EXAMINE_PAPER_QUESTIONS_RANDOM (
		rd_id ,
		dy_id ,
		detail_id ,
		trainee_id ,
		questions_num 
		) VALUES (

#{rdId,jdbcType=VARCHAR} ,

#{dyId,jdbcType=VARCHAR} ,

#{detailId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{questionsNum,jdbcType=INTEGER} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.question.domain.TepExaminePaperQuestionsRandom">
		UPDATE T_EP_EXAMINE_PAPER_QUESTIONS_RANDOM 
		<set>
		<if test="dyId != null">
		dy_id = #{dyId,jdbcType=VARCHAR},
		</if>
		<if test="detailId != null">
		detail_id = #{detailId,jdbcType=VARCHAR},
		</if>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="questionsNum != null">
		questions_num = #{questionsNum,jdbcType=INTEGER},
		</if>
		</set>
		WHERE
		rd_id = #{rdId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EP_EXAMINE_PAPER_QUESTIONS_RANDOM WHERE
		rd_id =
		#{rdId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EP_EXAMINE_PAPER_QUESTIONS_RANDOM WHERE
		rd_id in
		<foreach item="rdId" collection="array" open="("
			separator="," close=")">
#{rdId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EP_EXAMINE_PAPER_QUESTIONS_RANDOM WHERE
		rd_id = #{rdId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EP_EXAMINE_PAPER_QUESTIONS_RANDOM
        <where>
        		<if test="dyIds != null and dyIds.size() > 0">
                and dy_id in
	                <foreach collection="dyIds" item="dyId" open="(" separator="," close=")">
	                	#{dyId,jdbcType=VARCHAR}     
	                </foreach>       
                </if>
                <if test="traineeIds != null and traineeIds.size() > 0">
                and trainee_id in
                	<foreach collection="traineeIds" item="traineeId" open="(" separator="," close=")">
                		#{traineeId,jdbcType=VARCHAR}
                	</foreach>
                </if>
                <if test="dyId != null and dyId.trim() != ''">
                and dy_id =#{dyId,jdbcType=VARCHAR}            </if>
                <if test="detailId != null and detailId.trim() != ''">
                and detail_id =#{detailId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="questionsNum != null and questionsNum != ''">
                and questions_num =#{questionsNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by rd_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EP_EXAMINE_PAPER_QUESTIONS_RANDOM t1
        <where>
        		<if test="dyIds != null and dyIds.size() > 0">
                and t1.dy_id in
	                <foreach collection="dyIds" item="dyId" open="(" separator="," close=")">
	                	#{dyId,jdbcType=VARCHAR}     
	                </foreach>       
                </if>
                <if test="traineeIds != null and traineeIds.size() > 0">
                and t1.trainee_id in
                	<foreach collection="traineeIds" item="traineeId" open="(" separator="," close=")">
                		#{traineeId,jdbcType=VARCHAR}
                	</foreach>
                </if>
                <if test="dyId != null and dyId.trim() != ''">
                and t1.dy_id =#{dyId,jdbcType=VARCHAR}            </if>
                <if test="detailId != null and detailId.trim() != ''">
                and t1.detail_id =#{detailId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="questionsNum != null and questionsNum != ''">
                and t1.questions_num =#{questionsNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.rd_id  desc
            </otherwise>
        </choose>
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List">
        insert into T_EP_EXAMINE_PAPER_QUESTIONS_RANDOM
                (rd_id, dy_id, detail_id, trainee_id, questions_num)
        values
        <foreach collection="list" item="obj" separator="," >
                (#{obj.rdId}, #{obj.dyId}, #{obj.detailId}, #{obj.traineeId}, #{obj.questionsNum})
        </foreach>
    </insert>
    
</mapper>

