<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.question.persistence.TepExamineDynamicQuestionsOptionsMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.question.domain.TepExamineDynamicQuestionsOptions">
		<result column="dqo_id" jdbcType="VARCHAR"
			property="dqoId" />
		<result column="dy_id" jdbcType="VARCHAR"
			property="dyId" />
		<result column="questions_id" jdbcType="VARCHAR"
			property="questionsId" />
		<result column="replys_id" jdbcType="VARCHAR"
			property="replysId" />
		<result column="questions_number" jdbcType="VARCHAR"
			property="questionsNumber" />
		<result column="questions_score" jdbcType="VARCHAR"
			property="questionsScore" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		dqo_id,dy_id,questions_id,replys_id,questions_number,questions_score
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.question.domain.TepExamineDynamicQuestionsOptions">
		INSERT INTO T_EP_EXAMINE_DYNAMIC_QUESTIONS_OPTIONS (
		dqo_id ,
		dy_id ,
		questions_id ,
		replys_id ,
		questions_number ,
		questions_score 
		) VALUES (

#{dqoId,jdbcType=VARCHAR} ,

#{dyId,jdbcType=VARCHAR} ,

#{questionsId,jdbcType=VARCHAR} ,

#{replysId,jdbcType=VARCHAR} ,

#{questionsNumber,jdbcType=VARCHAR} ,

#{questionsScore,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.question.domain.TepExamineDynamicQuestionsOptions">
		UPDATE T_EP_EXAMINE_DYNAMIC_QUESTIONS_OPTIONS 
		<set>
		<if test="dyId != null">
		dy_id = #{dyId,jdbcType=VARCHAR},
		</if>
		<if test="questionsId != null">
		questions_id = #{questionsId,jdbcType=VARCHAR},
		</if>
		<if test="replysId != null">
		replys_id = #{replysId,jdbcType=VARCHAR},
		</if>
		<if test="questionsNumber != null">
		questions_number = #{questionsNumber,jdbcType=VARCHAR},
		</if>
		<if test="questionsScore != null">
		questions_score = #{questionsScore,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		dqo_id = #{dqoId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EP_EXAMINE_DYNAMIC_QUESTIONS_OPTIONS WHERE
		dqo_id =
		#{dqoId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EP_EXAMINE_DYNAMIC_QUESTIONS_OPTIONS WHERE
		dqo_id in
		<foreach item="dqoId" collection="array" open="("
			separator="," close=")">
#{dqoId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EP_EXAMINE_DYNAMIC_QUESTIONS_OPTIONS WHERE
		dqo_id = #{dqoId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EP_EXAMINE_DYNAMIC_QUESTIONS_OPTIONS
        <where>
                <if test="dyId != null and dyId.trim() != ''">
                and dy_id =#{dyId,jdbcType=VARCHAR}            </if>
                <if test="questionsId != null and questionsId.trim() != ''">
                and questions_id =#{questionsId,jdbcType=VARCHAR}            </if>
                <if test="replysId != null and replysId.trim() != ''">
                and replys_id =#{replysId,jdbcType=VARCHAR}            </if>
                <if test="questionsNumber != null and questionsNumber.trim() != ''">
                and questions_number =#{questionsNumber,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by dqo_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EP_EXAMINE_DYNAMIC_QUESTIONS_OPTIONS t1
        <where>
                <if test="dyId != null and dyId.trim() != ''">
                and t1.dy_id =#{dyId,jdbcType=VARCHAR}            </if>
                <if test="questionsId != null and questionsId.trim() != ''">
                and t1.questions_id =#{questionsId,jdbcType=VARCHAR}            </if>
                <if test="replysId != null and replysId.trim() != ''">
                and t1.replys_id =#{replysId,jdbcType=VARCHAR}            </if>
                <if test="questionsNumber != null and questionsNumber.trim() != ''">
                and t1.questions_number =#{questionsNumber,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.dqo_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

