<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.tch.persistence.TevglTchScheduleBetweenMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.tch.domain.TevglTchScheduleBetween">
		<result column="time_quantum_id" jdbcType="VARCHAR"
			property="timeQuantumId" />
		<result column="name" jdbcType="VARCHAR"
			property="name" />
		<result column="begin_time" jdbcType="VARCHAR"
			property="beginTime" />
		<result column="end_time" jdbcType="VARCHAR"
			property="endTime" />
		<result column="type" jdbcType="VARCHAR"
			property="type" />
		<result column="sort_num" jdbcType="INTEGER"
			property="sortNum" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		time_quantum_id,name,begin_time,end_time,type,sort_num
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchScheduleBetween">
		INSERT INTO T_EVGL_TCH_SCHEDULE_BETWEEN (
		time_quantum_id ,
		name ,
		begin_time ,
		end_time ,
		type ,
		sort_num 
		) VALUES (

#{timeQuantumId,jdbcType=VARCHAR} ,

#{name,jdbcType=VARCHAR} ,

#{beginTime,jdbcType=VARCHAR} ,

#{endTime,jdbcType=VARCHAR} ,

#{type,jdbcType=VARCHAR} ,

#{sortNum,jdbcType=INTEGER} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchScheduleBetween">
		UPDATE T_EVGL_TCH_SCHEDULE_BETWEEN 
		<set>
		<if test="name != null">
		name = #{name,jdbcType=VARCHAR},
		</if>
		<if test="beginTime != null">
		begin_time = #{beginTime,jdbcType=VARCHAR},
		</if>
		<if test="endTime != null">
		end_time = #{endTime,jdbcType=VARCHAR},
		</if>
		<if test="type != null">
		type = #{type,jdbcType=VARCHAR},
		</if>
		<if test="sortNum != null">
		sort_num = #{sortNum,jdbcType=INTEGER},
		</if>
		</set>
		WHERE
		time_quantum_id = #{timeQuantumId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_SCHEDULE_BETWEEN WHERE
		time_quantum_id =
		#{timeQuantumId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_SCHEDULE_BETWEEN WHERE
		time_quantum_id in
		<foreach item="timeQuantumId" collection="array" open="("
			separator="," close=")">
#{timeQuantumId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_TCH_SCHEDULE_BETWEEN WHERE
		time_quantum_id = #{timeQuantumId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select *, time_quantum_id as id from T_EVGL_TCH_SCHEDULE_BETWEEN
        <where>
                <if test="name != null and name.trim() != ''">
                and name =#{name,jdbcType=VARCHAR}            </if>
                <if test="beginTime != null and beginTime.trim() != ''">
                and begin_time =#{beginTime,jdbcType=VARCHAR}            </if>
                <if test="endTime != null and endTime.trim() != ''">
                and end_time =#{endTime,jdbcType=VARCHAR}            </if>
                <if test="type != null and type.trim() != ''">
                and type =#{type,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and sort_num =#{sortNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by sort_num asc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_TCH_SCHEDULE_BETWEEN t1
        <where>
                <if test="name != null and name.trim() != ''">
                and t1.name =#{name,jdbcType=VARCHAR}            </if>
                <if test="beginTime != null and beginTime.trim() != ''">
                and t1.begin_time =#{beginTime,jdbcType=VARCHAR}            </if>
                <if test="endTime != null and endTime.trim() != ''">
                and t1.end_time =#{endTime,jdbcType=VARCHAR}            </if>
                <if test="type != null and type.trim() != ''">
                and t1.type =#{type,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.time_quantum_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

