<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivitySigninInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.activity.domain.TevglActivitySigninInfo">
		<result column="activity_id" jdbcType="VARCHAR"
			property="activityId" />
		<result column="activity_type" jdbcType="VARCHAR"
			property="activityType" />
		<result column="activity_title" jdbcType="VARCHAR"
			property="activityTitle" />
		<result column="limit_time" jdbcType="INTEGER"
			property="limitTime" />
		<result column="sign_type" jdbcType="VARCHAR"
			property="signType" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="remark" jdbcType="VARCHAR"
			property="remark" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="empirical_value" jdbcType="INTEGER"
			property="empiricalValue" />
		<result column="number" jdbcType="VARCHAR"
			property="number" />
		<result column="activity_begin_time" jdbcType="VARCHAR"
			property="activityBeginTime" />
		<result column="activity_end_time" jdbcType="VARCHAR"
			property="activityEndTime" />
		<result column="activity_state" jdbcType="VARCHAR"
			property="activityState" />
		<result column="trainee_num" jdbcType="INTEGER"
			property="traineeNum" />
		<result column="is_trainees_visible" jdbcType="VARCHAR"
			property="isTraineesVisible" />
		<result column="chapter_id" jdbcType="VARCHAR"
			property="chapterId" />	
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		activity_id,activity_type,activity_title,limit_time,sign_type,state,remark,create_time,create_user_id,update_time,update_user_id,empirical_value,number,activity_state,trainee_num,is_trainees_visible
		,chapter_id
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivitySigninInfo">
		INSERT INTO T_EVGL_ACTIVITY_SIGNIN_INFO (
		activity_id ,
		activity_type ,
		activity_title ,
		limit_time ,
		sign_type ,
		state ,
		remark ,
		create_time ,
		create_user_id ,
		update_time ,
		update_user_id ,
		empirical_value ,
		number ,
		activity_state ,
		trainee_num ,
		is_trainees_visible ,
		chapter_id 
		) VALUES (

#{activityId,jdbcType=VARCHAR} ,

#{activityType,jdbcType=VARCHAR} ,

#{activityTitle,jdbcType=VARCHAR} ,

#{limitTime,jdbcType=INTEGER} ,

#{signType,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} ,

#{remark,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{empiricalValue,jdbcType=INTEGER} ,

#{number,jdbcType=VARCHAR} ,

#{activityState,jdbcType=VARCHAR} ,

#{traineeNum,jdbcType=INTEGER} ,

#{isTraineesVisible,jdbcType=VARCHAR}  ,

#{chapterId,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivitySigninInfo">
		UPDATE T_EVGL_ACTIVITY_SIGNIN_INFO 
		<set>
		<if test="activityType != null">
		activity_type = #{activityType,jdbcType=VARCHAR},
		</if>
		<if test="activityTitle != null">
		activity_title = #{activityTitle,jdbcType=VARCHAR},
		</if>
		<if test="limitTime != null">
		limit_time = #{limitTime,jdbcType=INTEGER},
		</if>
		<if test="signType != null">
		sign_type = #{signType,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="remark != null">
		remark = #{remark,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="empiricalValue != null">
		empirical_value = #{empiricalValue,jdbcType=INTEGER},
		</if>
		<if test="number != null">
		number = #{number,jdbcType=VARCHAR},
		</if>
		<if test="activityState != null">
		activity_state = #{activityState,jdbcType=VARCHAR},
		</if>
		<if test="traineeNum != null">
		trainee_num = #{traineeNum,jdbcType=INTEGER},
		</if>
		<if test="isTraineesVisible != null">
		is_trainees_visible = #{isTraineesVisible,jdbcType=VARCHAR},
		</if>
		<if test="chapterId != null">
		chapter_id = #{chapterId,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		activity_id = #{activityId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_SIGNIN_INFO WHERE
		activity_id =
		#{activityId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_SIGNIN_INFO WHERE
		activity_id in
		<foreach item="activityId" collection="array" open="("
			separator="," close=")">
#{activityId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_ACTIVITY_SIGNIN_INFO WHERE
		activity_id = #{activityId,jdbcType=VARCHAR} 
	</select>
	<select id="selectObjectByIdAndPkgId" parameterType="map"
		resultMap="BaseResultMap">
		select relation.activity_state as activityStateActual,
		relation.activity_begin_time, relation.activity_end_time,
		t1.*
		from T_EVGL_ACTIVITY_SIGNIN_INFO t1
		inner join t_evgl_pkg_activity_relation relation on t1.activity_id = relation.activity_id
		WHERE t1.activity_id = #{activityId,jdbcType=VARCHAR}  and relation.pkg_id = #{pkgId}
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_SIGNIN_INFO
        <where>
                <if test="activityType != null and activityType.trim() != ''">
                and activity_type =#{activityType,jdbcType=VARCHAR}            </if>
                <if test="activityTitle != null and activityTitle.trim() != ''">
                and activity_title =#{activityTitle,jdbcType=VARCHAR}            </if>
                <if test="limitTime != null and limitTime != ''">
                and limit_time =#{limitTime,jdbcType=INTEGER}            </if>
                <if test="signType != null and signType.trim() != ''">
                and sign_type =#{signType,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="remark != null and remark.trim() != ''">
                and remark =#{remark,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="empiricalValue != null and empiricalValue != ''">
                and empirical_value =#{empiricalValue,jdbcType=INTEGER}            </if>
                <if test="number != null and number.trim() != ''">
                and number =#{number,jdbcType=VARCHAR}            </if>
                <if test="activityBeginTime != null and activityBeginTime.trim() != ''">
                and activity_begin_time =#{activityBeginTime,jdbcType=VARCHAR}            </if>
                <if test="activityEndTime != null and activityEndTime.trim() != ''">
                and activity_end_time =#{activityEndTime,jdbcType=VARCHAR}            </if>
                <if test="activityState != null and activityState.trim() != ''">
                and activity_state =#{activityState,jdbcType=VARCHAR}            </if>
                <if test="traineeNum != null and traineeNum != ''">
                and trainee_num =#{traineeNum,jdbcType=INTEGER}            </if>
                <if test="isTraineesVisible != null and isTraineesVisible.trim() != ''">
                and is_trainees_visible =#{isTraineesVisible,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by activity_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select t1.activity_id as activityId, t1.activity_type as activityType, t1.activity_title as activityTitle, t1.limit_time as limitTime,
        t1.sign_type as signType, t1.sign_type as signTypeName, t1.remark, t1.create_time as createTime, t1.create_user_id as createUserId,
        t1.empirical_value as empiricalValue, t1.number as number
        from T_EVGL_ACTIVITY_SIGNIN_INFO t1
        inner join t_evgl_pkg_activity_relation t2 on t1.activity_id = t2.activity_id
        inner join t_evgl_tch_classroom t3 on t2.pkg_id = t3.pkg_id
        <where>
        		
        		<if test="ctId != null and ctId.trim() != ''">
                and t3.ct_id =#{ctId,jdbcType=VARCHAR}            </if>
        		
                <if test="activityType != null and activityType.trim() != ''">
                and t1.activity_type =#{activityType,jdbcType=VARCHAR}            </if>
                <if test="activityTitle != null and activityTitle.trim() != ''">
                and t1.activity_title =#{activityTitle,jdbcType=VARCHAR}            </if>
                <if test="limitTime != null and limitTime != ''">
                and t1.limit_time =#{limitTime,jdbcType=INTEGER}            </if>
                <if test="signType != null and signType.trim() != ''">
                and t1.sign_type =#{signType,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="remark != null and remark.trim() != ''">
                and t1.remark =#{remark,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="empiricalValue != null and empiricalValue != ''">
                and t1.empirical_value =#{empiricalValue,jdbcType=INTEGER}            </if>
                <if test="number != null and number.trim() != ''">
                and t1.number =#{number,jdbcType=VARCHAR}            </if>
                <if test="activityBeginTime != null and activityBeginTime.trim() != ''">
                and t1.activity_begin_time =#{activityBeginTime,jdbcType=VARCHAR}            </if>
                <if test="activityEndTime != null and activityEndTime.trim() != ''">
                and t1.activity_end_time =#{activityEndTime,jdbcType=VARCHAR}            </if>
                <if test="activityState != null and activityState.trim() != ''">
                and t1.activity_state =#{activityState,jdbcType=VARCHAR}            </if>
                <if test="traineeNum != null and traineeNum != ''">
                and t1.trainee_num =#{traineeNum,jdbcType=INTEGER}            </if>
                <if test="isTraineesVisible != null and isTraineesVisible.trim() != ''">
                and t1.is_trainees_visible =#{isTraineesVisible,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and t1.chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.create_time desc
            </otherwise>
        </choose>
    </select>
    
    <update id="plusNum" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivitySigninInfo">
    	update T_EVGL_ACTIVITY_SIGNIN_INFO
    	<set>
    		<if test="traineeNum != null">
    			trainee_num = ifnull(trainee_num, 0) + #{traineeNum,jdbcType=INTEGER}
    		</if>
    	</set>
    	where activity_id = #{activityId, jdbcType=VARCHAR}
    </update>
    
</mapper>

