<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.cloudpan.persistence.TcloudPanPermissionsMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.cloudpan.domain.TcloudPanPermissions">
		<result column="per_id" jdbcType="VARCHAR"
			property="perId" />
		<result column="owner" jdbcType="VARCHAR"
			property="owner" />
		<result column="pkg_id" jdbcType="VARCHAR"
			property="pkgId" />
		<result column="dir_id" jdbcType="VARCHAR"
			property="dirId" />
		<result column="file_id" jdbcType="VARCHAR"
			property="fileId" />
		<result column="is_permission" jdbcType="VARCHAR"
			property="isPermission" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="current_pkg_id" jdbcType="VARCHAR"
			property="currentPkgId" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		per_id,owner,pkg_id,current_pkg_id,dir_id,file_id,is_permission,create_user_id,create_time,update_user_id,update_time
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.cloudpan.domain.TcloudPanPermissions">
		INSERT INTO T_CLOUD_PAN_PERMISSIONS (
		per_id ,
		owner ,
		pkg_id ,
		current_pkg_id,
		dir_id ,
		file_id ,
		is_permission ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time 
		) VALUES (

#{perId,jdbcType=VARCHAR} ,

#{owner,jdbcType=VARCHAR} ,

#{pkgId,jdbcType=VARCHAR} ,

#{currentPkgId,jdbcType=VARCHAR} ,

#{dirId,jdbcType=VARCHAR} ,

#{fileId,jdbcType=VARCHAR} ,

#{isPermission,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.cloudpan.domain.TcloudPanPermissions">
		UPDATE T_CLOUD_PAN_PERMISSIONS 
		<set>
		<if test="owner != null">
		owner = #{owner,jdbcType=VARCHAR},
		</if>
		<if test="pkgId != null">
		pkg_id = #{pkgId,jdbcType=VARCHAR},
		</if>
		<if test="currentPkgId != null">
		current_pkg_id = #{currentPkgId,jdbcType=VARCHAR},
		</if>
		<if test="dirId != null">
		dir_id = #{dirId,jdbcType=VARCHAR},
		</if>
		<if test="fileId != null">
		file_id = #{fileId,jdbcType=VARCHAR},
		</if>
		<if test="isPermission != null">
		is_permission = #{isPermission,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		per_id = #{perId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_CLOUD_PAN_PERMISSIONS WHERE
		per_id =
		#{perId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_CLOUD_PAN_PERMISSIONS WHERE
		per_id in
		<foreach item="perId" collection="array" open="("
			separator="," close=")">
#{perId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_CLOUD_PAN_PERMISSIONS WHERE
		per_id = #{perId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_CLOUD_PAN_PERMISSIONS
        <where>
        		<if test="currentPkgId != null and currentPkgId.trim() != ''">
				and current_pkg_id =#{currentPkgId,jdbcType=VARCHAR}
				</if>
        		<if test="pkgIds != null and pkgIds.size() > 0">
					and pkg_id in
					<foreach collection="pkgIds" item="pkgId" open="(" separator="," close=")">
						#{pkgId,jdbcType=VARCHAR}
					</foreach>
				</if>
        		<if test="id != null and id.trim() != ''">
                and (dir_id =#{id,jdbcType=VARCHAR} or file_id = #{id,jdbcType=VARCHAR})         
                </if>
        		<if test="ids != null and ids.size() > 0">
                and 
                (dir_id in
                	<foreach collection="ids" item="dirId" open="(" separator="," close=")">
                		#{dirId,jdbcType=VARCHAR}
                	</foreach>        
                or file_id in
                	<foreach collection="ids" item="fileId" open="(" separator="," close=")">
                		#{fileId,jdbcType=VARCHAR}
                	</foreach> 
                )  
                </if>
                
                <if test="owner != null and owner.trim() != ''">
                and owner =#{owner,jdbcType=VARCHAR}            </if>
                <if test="pkgId != null and pkgId.trim() != ''">
                and pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="dirId != null and dirId.trim() != ''">
                and dir_id =#{dirId,jdbcType=VARCHAR}            </if>
                <if test="fileId != null and fileId.trim() != ''">
                and file_id =#{fileId,jdbcType=VARCHAR}            </if>
                <if test="fileIds != null and fileIds.size() > 0">
                and file_id in 
	                <foreach collection="fileIds" item="fileId" open="(" separator="," close=")">
	                	#{fileId,jdbcType=VARCHAR}
	                </foreach>            
                </if>
                <if test="isPermission != null and isPermission.trim() != ''">
                and is_permission =#{isPermission,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by per_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_CLOUD_PAN_PERMISSIONS t1
        <where>
        		<if test="currentPkgId != null and currentPkgId.trim() != ''">
				and t1.current_pkg_id =#{currentPkgId,jdbcType=VARCHAR}
				</if>
        		<if test="dirIdIsNotNull != null and dirIdIsNotNull.trim() != ''">
                and t1.dir_id is not null and t1.dir_id != ''          
                </if>
                <if test="pkgIds != null and pkgIds.size() > 0">
                and t1.pkg_id in 
	                <foreach collection="pkgIds" item="pkgId" open="(" separator="," close=")">
	                	#{pkgId,jdbcType=VARCHAR}
	                </foreach>            
                </if>
                <if test="ids != null and ids.size() > 0">
                and (t1.dir_id 
                	in 
	                <foreach collection="ids" item="id" open="(" separator="," close=")">
	                	#{id,jdbcType=VARCHAR}
	                </foreach>
	                or  
	                t1.file_id in
	                <foreach collection="ids" item="id" open="(" separator="," close=")">
	                	#{id,jdbcType=VARCHAR}
	                </foreach> 
	                )        
                </if>
                <if test="owner != null and owner.trim() != ''">
                and t1.owner =#{owner,jdbcType=VARCHAR}            </if>
                <if test="pkgId != null and pkgId.trim() != ''">
                and t1.pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="id != null and id.trim() != ''">
                and (dir_id =#{id,jdbcType=VARCHAR} or file_id = #{id,jdbcType=VARCHAR})         
                </if>
                <if test="dirId != null and dirId.trim() != ''">
                and t1.dir_id =#{dirId,jdbcType=VARCHAR}            </if>
                <if test="fileId != null and fileId.trim() != ''">
                and t1.file_id =#{fileId,jdbcType=VARCHAR}            </if>
                <if test="isPermission != null and isPermission.trim() != ''">
                and t1.is_permission =#{isPermission,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.per_id  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 查询不是这些学员的学员信息 -->
    <select id="selectByTraineeIds" resultType="map"
        parameterType="map">
    	SELECT
			per_id AS perId,
			OWNER AS OWNER,
			pkg_id AS pkgId,
			dir_id AS dirId,
			file_id AS fileId,
			is_permission AS isPermission,
			current_pkg_id as currentPkgId 
		FROM
			t_cloud_pan_permissions
    	<where>
    		<if test="pkgId != null and pkgId != ''">
                and pkg_id = #{pkgId,jdbcType=VARCHAR}            
            </if>
            <if test="dirId != null and dirId != ''">
            and dir_id = #{dirId,jdbcType=VARCHAR}            
          	</if>
            <if test="fileId != null and fileId != ''">
            and file_id = #{fileId,jdbcType=VARCHAR}            
            </if>
            <!-- 查询fileId为null或为空字符串的记录 -->
            <if test="emptyFileId == null ||  emptyFileId == ''">
            and (file_id is null or file_id = "")        
            </if>
            <if test="traineeId != null and traineeId != ''">
            and owner = #{traineeId,jdbcType=VARCHAR}            
            </if>
    		<if test="traineeIds != null and traineeIds.size() > 0">
    			and owner not in 
    			<foreach collection="traineeIds" item="traineeId" open="(" separator="," close=")">
    			 	#{traineeId,jdbcType=VARCHAR}   
    			</foreach>
    		</if>
    	</where>
    </select>
    
    <select id="selectOwnerByFileId" resultType="map"
        parameterType="map">
    	select t.* from (	
			SELECT
				t1.file_id as fileId,
				t1.dir_id as dirId,
				t1.name as name,
				t2.owner,
				t2.pkg_id as pkgId,
				t2.current_pkg_id as currentPkgId
			FROM
				t_cloud_pan_file t1
				inner JOIN t_cloud_pan_permissions t2 ON  t1.file_id = t2.file_id 
			
			UNION ALL
			
			SELECT
				null as fileId,
				t1.dir_id as dirId,
				t1.name as name,
				t2.owner,
				t2.pkg_id as pkgId,
				t2.current_pkg_id as currentPkgId
			FROM t_cloud_pan_directory t1
				inner JOIN t_cloud_pan_permissions t2 ON t1.dir_id = t2.dir_id 
		) t
		<where>
			<if test="pkgIds != null and pkgIds.size() > 0">
				and t.pkgId in 
				<foreach collection="pkgIds" item="pkgId" open="(" separator="," close=")"> 
					#{pkgId,jdbcType=VARCHAR} 
				</foreach>
           	</if>
           	<if test="dirIds != null and dirIds.size() > 0">
              	and t.dirId in 
				<foreach collection="dirIds" item="dirId" open="(" separator="," close=")"> 
					#{dirId,jdbcType=VARCHAR} 
				</foreach>           
           	</if>
           	<if test="fileId != null and fileId.trim() != ''">
              	and t.fileId = #{fileId,jdbcType=VARCHAR}            
           	</if>
           	<if test="currentPkgId != null and currentPkgId.trim() != ''">
              	and t.currentPkgId = #{currentPkgId,jdbcType=VARCHAR}    
           	</if>
           	<if test="pkgId != null and pkgId.trim() != ''">
              	and t.pkgId = #{pkgId,jdbcType=VARCHAR}    
           	</if>
           	<if test="owner != null and owner.trim() != ''">
              	and t.owner = #{owner,jdbcType=VARCHAR}            
           	</if>
		</where>
    </select>
    
    <insert id="insertBatch">
    	INSERT INTO T_CLOUD_PAN_PERMISSIONS (
		per_id ,
		owner ,
		pkg_id ,
		current_pkg_id,
		dir_id ,
		file_id ,
		is_permission ,
		create_user_id ,
		create_time
		) VALUES 
		<foreach collection="list" item="permission" separator=",">
			(
			#{permission.perId,jdbcType=VARCHAR} ,
			#{permission.owner,jdbcType=VARCHAR} ,
			#{permission.pkgId,jdbcType=VARCHAR} ,
			#{permission.currentPkgId,jdbcType=VARCHAR} ,
			#{permission.dirId,jdbcType=VARCHAR} ,
			#{permission.fileId,jdbcType=VARCHAR} ,
			#{permission.isPermission,jdbcType=VARCHAR} ,
			#{permission.createUserId,jdbcType=VARCHAR} ,
			#{permission.createTime,jdbcType=VARCHAR}
			)
		</foreach>
    </insert>
    
    <!-- 根据文件id查找perId(文件共享权限id) -->
    <select id="selectPerIdByDirIds" resultType="map"
        parameterType="map">
    	SELECT
			t1.dir_id AS dirId,
			t1.name AS name,
			t1.parent_id AS parentId,
			t2.per_id AS perId,
			t2.owner AS owner,
			t2.current_pkg_id as currentPkgId 
		FROM
			T_CLOUD_PAN_DIRECTORY t1
			INNER JOIN t_cloud_pan_permissions t2 ON t1.dir_id = t2.dir_id
		<where>
			<if test="dirIds != null and dirIds.size() > 0">
              	and t1.dir_id in 
				<foreach collection="dirIds" item="dirId" open="(" separator="," close=")"> 
					#{dirId,jdbcType=VARCHAR} 
				</foreach>           
           	</if>
           	<if test="parentIds != null and parentIds.size() > 0">
              	and t1.parent_id in 
				<foreach collection="parentIds" item="parentId" open="(" separator="," close=")"> 
					#{parentId,jdbcType=VARCHAR} 
				</foreach>           
           	</if>
           	<if test="fileId != null and fileId.trim() != ''">
              	and t2.file_id = #{fileId,jdbcType=VARCHAR}            
           	</if>
           	<if test="pkgId != null and pkgId.trim() != ''">
              	and t2.pkg_id = #{pkgId,jdbcType=VARCHAR}            
           	</if>
           	<if test="dirId != null and dirId.trim() != ''">
              	and t2.dir_id = #{dirId,jdbcType=VARCHAR}            
           	</if>
           	<if test="currentPkgId != null and currentPkgId.trim() != ''">
              	and t2.current_pkg_id = #{currentPkgId,jdbcType=VARCHAR}            
           	</if>
           	<if test="owner != null and owner.trim() != ''">
              	and t2.owner = #{owner,jdbcType=VARCHAR}            
           	</if>
           	<if test="traineeIds != null and traineeIds.size() > 0">
              	and t2.owner not in 
              	<foreach collection="traineeIds" item="traineeId" open="(" separator="," close=")">
              		#{traineeId,jdbcType=VARCHAR}     
              	</foreach>
           	</if>
		</where>
    </select>
    
    <select id="queryDirectoryDisplay" resultType="map" parameterType="map">
    	SELECT
			distinct t1.dir_id AS id,
			'1' AS type,
			ifnull( t1.dict_code, '' ) AS dictCode,
			t1.dir_id AS dirId,
			t1.pkg_id AS pkgId,
			t1.name,
			t1.parent_id AS parentId,
			t1.update_time AS updateTime,
			t1.icon,
			t1.is_trainee_visible AS isTraineeVisible,
			t2.OWNER AS traineeId 
		FROM
			T_CLOUD_PAN_DIRECTORY t1
			INNER JOIN t_cloud_pan_permissions t2 ON t1.dir_id = t2.dir_id 
		<where>
			(parent_id = '0') and if(t1.pkg_id != #{sourcePkgId}, t1.dict_code is null or t1.dict_code ='', 1=1)
			<if test="pkgId != null and pkgId.trim() != ''">
              	and t2.pkg_id = #{pkgId,jdbcType=VARCHAR}            
           	</if>
		</where>
    </select>
</mapper>

