<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.trainee.persistence.TevglTraineeInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.trainee.domain.TevglTraineeInfo">
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="trainee_name" jdbcType="VARCHAR"
			property="traineeName" />
		<result column="nick_name" jdbcType="VARCHAR"
			property="nickName" />
		<result column="trainee_sex" jdbcType="VARCHAR"
			property="traineeSex" />
		<result column="trainee_card" jdbcType="VARCHAR"
			property="traineeCard" />
		<result column="trainee_birthday" jdbcType="VARCHAR"
			property="traineeBirthday" />
		<result column="mobile" jdbcType="VARCHAR"
			property="mobile" />
		<result column="trainee_state" jdbcType="VARCHAR"
			property="traineeState" />
		<result column="sort_num" jdbcType="INTEGER"
			property="sortNum" />
		<result column="remark" jdbcType="VARCHAR"
			property="remark" />
		<result column="major" jdbcType="VARCHAR"
			property="major" />
		<result column="company" jdbcType="VARCHAR"
			property="company" />
		<result column="trainee_school" jdbcType="VARCHAR"
			property="traineeSchool" />
		<result column="contact_man" jdbcType="VARCHAR"
			property="contactMan" />
		<result column="contact_tel" jdbcType="VARCHAR"
			property="contactTel" />
		<result column="trainee_pic" jdbcType="VARCHAR"
			property="traineePic" />
		<result column="trainee_head" jdbcType="VARCHAR"
			property="traineeHead" />
		<result column="trainee_qq" jdbcType="VARCHAR"
			property="traineeQq" />
		<result column="trainee_education" jdbcType="VARCHAR"
			property="traineeEducation" />
		<result column="email" jdbcType="VARCHAR"
			property="email" />
		<result column="user_passwd" jdbcType="VARCHAR"
			property="userPasswd" />
		<result column="user_yan" jdbcType="VARCHAR"
			property="userYan" />
		<result column="token" jdbcType="VARCHAR"
			property="token" />
		<result column="trainee_wxid" jdbcType="VARCHAR"
			property="traineeWxid" />
		<result column="wx_openid" jdbcType="VARCHAR"
			property="wxOpenid" />
		<result column="qq_openid" jdbcType="VARCHAR"
			property="qqOpenid" />
		<result column="weibo_openid" jdbcType="VARCHAR"
			property="weiboOpenid" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="trainee_type" jdbcType="VARCHAR"
			property="traineeType" />
		<result column="empirical_value" jdbcType="INTEGER"
			property="empiricalValue" />
		<result column="blogs_num" jdbcType="INTEGER"
			property="blogsNum" />
		<result column="classroom_num" jdbcType="INTEGER"
			property="classroomNum" />	
		<result column="job_number" jdbcType="VARCHAR"
			property="jobNumber" />	
		<result column="fans_num" jdbcType="INTEGER"
			property="fansNum" />	
		<result column="follow_num" jdbcType="INTEGER"
			property="followNum" />
		<result column="blog_bg_pic" jdbcType="VARCHAR"
			property="blogBgPic" />
		<result column="blog_remark" jdbcType="VARCHAR"
			property="blogRemark" />		
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		trainee_id,trainee_name,nick_name,trainee_sex,trainee_card,trainee_birthday,mobile,trainee_state,sort_num,remark,major,company,trainee_school,contact_man,contact_tel,trainee_pic,trainee_head,trainee_qq,trainee_education,email,user_passwd,user_yan,token,trainee_wxid,wx_openid,qq_openid,weibo_openid,create_user_id,create_time,update_user_id,update_time,trainee_type
		,empirical_value,blogs_num,classroom_num,job_number,fans_num,follow_num,blog_bg_pic,blog_remark
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.trainee.domain.TevglTraineeInfo">
		INSERT INTO T_EVGL_TRAINEE_INFO (
		trainee_id ,
		trainee_name ,
		nick_name ,
		trainee_sex ,
		trainee_card ,
		trainee_birthday ,
		mobile ,
		trainee_state ,
		sort_num ,
		remark ,
		major ,
		company ,
		trainee_school ,
		contact_man ,
		contact_tel ,
		trainee_pic ,
		trainee_head ,
		trainee_qq ,
		trainee_education ,
		email ,
		user_passwd ,
		user_yan ,
		token ,
		trainee_wxid ,
		wx_openid ,
		qq_openid ,
		weibo_openid ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		trainee_type ,
		empirical_value ,
		blogs_num ,
		classroom_num ,
		job_number,
		fans_num,
		follow_num ,
		blog_bg_pic ,
		blog_remark 
		) VALUES (

#{traineeId,jdbcType=VARCHAR} ,

#{traineeName,jdbcType=VARCHAR} ,

#{nickName,jdbcType=VARCHAR} ,

#{traineeSex,jdbcType=VARCHAR} ,

#{traineeCard,jdbcType=VARCHAR} ,

#{traineeBirthday,jdbcType=VARCHAR} ,

#{mobile,jdbcType=VARCHAR} ,

#{traineeState,jdbcType=VARCHAR} ,

#{sortNum,jdbcType=INTEGER} ,

#{remark,jdbcType=VARCHAR} ,

#{major,jdbcType=VARCHAR} ,

#{company,jdbcType=VARCHAR} ,

#{traineeSchool,jdbcType=VARCHAR} ,

#{contactMan,jdbcType=VARCHAR} ,

#{contactTel,jdbcType=VARCHAR} ,

#{traineePic,jdbcType=VARCHAR} ,

#{traineeHead,jdbcType=VARCHAR} ,

#{traineeQq,jdbcType=VARCHAR} ,

#{traineeEducation,jdbcType=VARCHAR} ,

#{email,jdbcType=VARCHAR} ,

#{userPasswd,jdbcType=VARCHAR} ,

#{userYan,jdbcType=VARCHAR} ,

#{token,jdbcType=VARCHAR} ,

#{traineeWxid,jdbcType=VARCHAR} ,

#{wxOpenid,jdbcType=VARCHAR} ,

#{qqOpenid,jdbcType=VARCHAR} ,

#{weiboOpenid,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{traineeType,jdbcType=VARCHAR} ,

#{empiricalValue,jdbcType=INTEGER} ,

#{blogsNum,jdbcType=INTEGER} ,

#{classroomNum,jdbcType=INTEGER}, 

#{jobNumber,jdbcType=VARCHAR}, 

#{fansNum,jdbcType=INTEGER}, 

#{followNum,jdbcType=INTEGER} ,

#{blogBgPic,jdbcType=VARCHAR}  ,

#{blogRemark,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.trainee.domain.TevglTraineeInfo">
		UPDATE T_EVGL_TRAINEE_INFO 
		<set>
		<if test="traineeName != null">
		trainee_name = #{traineeName,jdbcType=VARCHAR},
		</if>
		<if test="nickName != null">
		nick_name = #{nickName,jdbcType=VARCHAR},
		</if>
		<if test="traineeSex != null">
		trainee_sex = #{traineeSex,jdbcType=VARCHAR},
		</if>
		<if test="traineeCard != null">
		trainee_card = #{traineeCard,jdbcType=VARCHAR},
		</if>
		<if test="traineeBirthday != null">
		trainee_birthday = #{traineeBirthday,jdbcType=VARCHAR},
		</if>
		<if test="mobile != null">
		mobile = #{mobile,jdbcType=VARCHAR},
		</if>
		<if test="traineeState != null">
		trainee_state = #{traineeState,jdbcType=VARCHAR},
		</if>
		<if test="sortNum != null">
		sort_num = #{sortNum,jdbcType=INTEGER},
		</if>
		<if test="remark != null">
		remark = #{remark,jdbcType=VARCHAR},
		</if>
		<if test="major != null">
		major = #{major,jdbcType=VARCHAR},
		</if>
		<if test="company != null">
		company = #{company,jdbcType=VARCHAR},
		</if>
		<if test="traineeSchool != null">
		trainee_school = #{traineeSchool,jdbcType=VARCHAR},
		</if>
		<if test="contactMan != null">
		contact_man = #{contactMan,jdbcType=VARCHAR},
		</if>
		<if test="contactTel != null">
		contact_tel = #{contactTel,jdbcType=VARCHAR},
		</if>
		<if test="traineePic != null">
		trainee_pic = #{traineePic,jdbcType=VARCHAR},
		</if>
		<if test="traineeHead != null">
		trainee_head = #{traineeHead,jdbcType=VARCHAR},
		</if>
		<if test="traineeQq != null">
		trainee_qq = #{traineeQq,jdbcType=VARCHAR},
		</if>
		<if test="traineeEducation != null">
		trainee_education = #{traineeEducation,jdbcType=VARCHAR},
		</if>
		<if test="email != null">
		email = #{email,jdbcType=VARCHAR},
		</if>
		<if test="userPasswd != null">
		user_passwd = #{userPasswd,jdbcType=VARCHAR},
		</if>
		<if test="userYan != null">
		user_yan = #{userYan,jdbcType=VARCHAR},
		</if>
		<if test="token != null">
		token = #{token,jdbcType=VARCHAR},
		</if>
		<if test="traineeWxid != null">
		trainee_wxid = #{traineeWxid,jdbcType=VARCHAR},
		</if>
		<if test="wxOpenid != null">
		wx_openid = #{wxOpenid,jdbcType=VARCHAR},
		</if>
		<if test="qqOpenid != null">
		qq_openid = #{qqOpenid,jdbcType=VARCHAR},
		</if>
		<if test="weiboOpenid != null">
		weibo_openid = #{weiboOpenid,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="traineeType != null">
		trainee_type = #{traineeType,jdbcType=VARCHAR},
		</if>
		<if test="empiricalValue != null">
		empirical_value = #{empiricalValue,jdbcType=INTEGER},
		</if>
		<if test="blogsNum != null">
		blogs_num = #{blogsNum,jdbcType=INTEGER},
		</if>
		<if test="classroomNum != null">
		classroom_num = #{classroomNum,jdbcType=INTEGER},
		</if>
		<if test="jobNumber != null">
		job_number = #{jobNumber,jdbcType=VARCHAR},
		</if>
		<if test="fansNum != null">
		fans_num = #{fansNum,jdbcType=INTEGER}, 
		</if>
		<if test="followNum != null">
		follow_num = #{followNum,jdbcType=INTEGER},
		</if>
		<if test="blogBgPic != null">
		blog_bg_pic = #{blogBgPic,jdbcType=VARCHAR},
		</if>
		<if test="blogRemark != null">
		blog_remark = #{blogRemark,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		trainee_id = #{traineeId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TRAINEE_INFO WHERE
		trainee_id =
		#{traineeId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TRAINEE_INFO WHERE
		trainee_id in
		<foreach item="traineeId" collection="array" open="("
			separator="," close=")">
#{traineeId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_TRAINEE_INFO WHERE
		trainee_id = #{traineeId,jdbcType=VARCHAR} 
	</select>
	<select id="selectByMobile" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_TRAINEE_INFO WHERE
		mobile = #{mobile,jdbcType=VARCHAR} 
	</select>
	<select id="selectObjectByOpenId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_TRAINEE_INFO WHERE
		trainee_wxid = #{traineeWxid,jdbcType=VARCHAR} 
	</select>
	<select id="selectTraineeVoById" parameterType="java.lang.String" resultType="com.ossbar.modules.evgl.trainee.vo.TraineeInfoVO">
		select
		trainee_id, ifnull(trainee_name, nick_name) as trainee_name, ifnull(nick_name, trainee_name) as nick_name,
		trainee_sex, trainee_card, trainee_birthday, mobile, trainee_state, sort_num, remark, major, company, trainee_school,
		trainee_pic, trainee_head, trainee_qq, trainee_education, email, token, create_time,trainee_type,empirical_value,blogs_num,classroom_num,
		job_number,fans_num,follow_num,blog_bg_pic,blog_remark
		from T_EVGL_TRAINEE_INFO WHERE
		trainee_id = #{traineeId,jdbcType=VARCHAR} 
	</select>
	<select id="selectTraineeVoByToken" parameterType="java.lang.String" resultType="com.ossbar.modules.evgl.trainee.vo.TraineeInfoVO">
		select
		trainee_id, ifnull(trainee_name, nick_name) as trainee_name, ifnull(nick_name, trainee_name) as nick_name,
		trainee_sex, trainee_card, trainee_birthday, mobile, trainee_state, sort_num, remark, major, company, trainee_school,
		trainee_pic, trainee_head, trainee_qq, trainee_education, email, token, create_time,trainee_type,empirical_value,blogs_num,classroom_num,
		job_number,fans_num,follow_num,blog_bg_pic,blog_remark
		from T_EVGL_TRAINEE_INFO WHERE
		token = #{token,jdbcType=VARCHAR}
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_TRAINEE_INFO
        <where>
                <if test="traineeName != null and traineeName.trim() != ''">
                and trainee_name =#{traineeName,jdbcType=VARCHAR}            </if>
                <if test="nickName != null and nickName.trim() != ''">
                and nick_name like concat('%', #{nickName,jdbcType=VARCHAR}, '%')            </if>
                <if test="traineeSex != null and traineeSex.trim() != ''">
                and trainee_sex =#{traineeSex,jdbcType=VARCHAR}            </if>
                <if test="traineeCard != null and traineeCard.trim() != ''">
                and trainee_card =#{traineeCard,jdbcType=VARCHAR}            </if>
                <if test="traineeBirthday != null and traineeBirthday.trim() != ''">
                and trainee_birthday =#{traineeBirthday,jdbcType=VARCHAR}            </if>
                <if test="mobile != null and mobile.trim() != ''">
                and mobile =#{mobile,jdbcType=VARCHAR}            </if>
                <if test="traineeState != null and traineeState.trim() != ''">
                and trainee_state =#{traineeState,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="remark != null and remark.trim() != ''">
                and remark =#{remark,jdbcType=VARCHAR}            </if>
                <if test="major != null and major.trim() != ''">
                and major =#{major,jdbcType=VARCHAR}            </if>
                <if test="company != null and company.trim() != ''">
                and company =#{company,jdbcType=VARCHAR}            </if>
                <if test="traineeSchool != null and traineeSchool.trim() != ''">
                and trainee_school =#{traineeSchool,jdbcType=VARCHAR}            </if>
                <if test="contactMan != null and contactMan.trim() != ''">
                and contact_man =#{contactMan,jdbcType=VARCHAR}            </if>
                <if test="contactTel != null and contactTel.trim() != ''">
                and contact_tel =#{contactTel,jdbcType=VARCHAR}            </if>
                <if test="traineePic != null and traineePic.trim() != ''">
                and trainee_pic =#{traineePic,jdbcType=VARCHAR}            </if>
                <if test="traineeHead != null and traineeHead.trim() != ''">
                and trainee_head =#{traineeHead,jdbcType=VARCHAR}            </if>
                <if test="traineeQq != null and traineeQq.trim() != ''">
                and trainee_qq =#{traineeQq,jdbcType=VARCHAR}            </if>
                <if test="traineeEducation != null and traineeEducation.trim() != ''">
                and trainee_education =#{traineeEducation,jdbcType=VARCHAR}            </if>
                <if test="email != null and email.trim() != ''">
                and email =#{email,jdbcType=VARCHAR}            </if>
                <if test="userPasswd != null and userPasswd.trim() != ''">
                and user_passwd =#{userPasswd,jdbcType=VARCHAR}            </if>
                <if test="userYan != null and userYan.trim() != ''">
                and user_yan =#{userYan,jdbcType=VARCHAR}            </if>
                <if test="token != null and token.trim() != ''">
                and token =#{token,jdbcType=VARCHAR}            </if>
                <if test="traineeWxid != null and traineeWxid.trim() != ''">
                and trainee_wxid =#{traineeWxid,jdbcType=VARCHAR}            </if>
                <if test="wxOpenid != null and wxOpenid.trim() != ''">
                and wx_openid =#{wxOpenid,jdbcType=VARCHAR}            </if>
                <if test="qqOpenid != null and qqOpenid.trim() != ''">
                and qq_openid =#{qqOpenid,jdbcType=VARCHAR}            </if>
                <if test="weiboOpenid != null and weiboOpenid.trim() != ''">
                and weibo_openid =#{weiboOpenid,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="traineeType != null and traineeType.trim() != ''">
                and trainee_type =#{traineeType,jdbcType=VARCHAR}            </if>
                <if test="empiricalValue != null and empiricalValue != ''">
                and empirical_value =#{empiricalValue,jdbcType=INTEGER}            </if>
                <if test="blogsNum != null and blogsNum != ''">
                and blogs_num =#{blogsNum,jdbcType=INTEGER}            </if>
                <if test="classroomNum != null and classroomNum != ''">
                and classroom_num =#{classroomNum,jdbcType=INTEGER}            </if>
                <if test="jobNumber != null and jobNumber.trim() != ''">
                and job_number =#{jobNumber,jdbcType=VARCHAR}            </if>
                <if test="fansNum != null and fansNum != ''">
                and fans_num =#{fansNum,jdbcType=INTEGER}            </if>
                <if test="followNum != null and followNum != ''">
                and follow_num =#{followNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by trainee_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_TRAINEE_INFO t1
        <where>
                <if test="traineeName != null and traineeName.trim() != ''">
                and t1.trainee_name =#{traineeName,jdbcType=VARCHAR}            </if>
                <if test="nickName != null and nickName.trim() != ''">
                and t1.nick_name =#{nickName,jdbcType=VARCHAR}            </if>
                <if test="traineeSex != null and traineeSex.trim() != ''">
                and t1.trainee_sex =#{traineeSex,jdbcType=VARCHAR}            </if>
                <if test="traineeCard != null and traineeCard.trim() != ''">
                and t1.trainee_card =#{traineeCard,jdbcType=VARCHAR}            </if>
                <if test="traineeBirthday != null and traineeBirthday.trim() != ''">
                and t1.trainee_birthday =#{traineeBirthday,jdbcType=VARCHAR}            </if>
                <if test="mobile != null and mobile.trim() != ''">
                and t1.mobile =#{mobile,jdbcType=VARCHAR}            </if>
                <if test="traineeState != null and traineeState.trim() != ''">
                and t1.trainee_state =#{traineeState,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="remark != null and remark.trim() != ''">
                and t1.remark =#{remark,jdbcType=VARCHAR}            </if>
                <if test="major != null and major.trim() != ''">
                and t1.major =#{major,jdbcType=VARCHAR}            </if>
                <if test="company != null and company.trim() != ''">
                and t1.company =#{company,jdbcType=VARCHAR}            </if>
                <if test="traineeSchool != null and traineeSchool.trim() != ''">
                and t1.trainee_school =#{traineeSchool,jdbcType=VARCHAR}            </if>
                <if test="contactMan != null and contactMan.trim() != ''">
                and t1.contact_man =#{contactMan,jdbcType=VARCHAR}            </if>
                <if test="contactTel != null and contactTel.trim() != ''">
                and t1.contact_tel =#{contactTel,jdbcType=VARCHAR}            </if>
                <if test="traineePic != null and traineePic.trim() != ''">
                and t1.trainee_pic =#{traineePic,jdbcType=VARCHAR}            </if>
                <if test="traineeHead != null and traineeHead.trim() != ''">
                and t1.trainee_head =#{traineeHead,jdbcType=VARCHAR}            </if>
                <if test="traineeQq != null and traineeQq.trim() != ''">
                and t1.trainee_qq =#{traineeQq,jdbcType=VARCHAR}            </if>
                <if test="traineeEducation != null and traineeEducation.trim() != ''">
                and t1.trainee_education =#{traineeEducation,jdbcType=VARCHAR}            </if>
                <if test="email != null and email.trim() != ''">
                and t1.email =#{email,jdbcType=VARCHAR}            </if>
                <if test="userPasswd != null and userPasswd.trim() != ''">
                and t1.user_passwd =#{userPasswd,jdbcType=VARCHAR}            </if>
                <if test="userYan != null and userYan.trim() != ''">
                and t1.user_yan =#{userYan,jdbcType=VARCHAR}            </if>
                <if test="token != null and token.trim() != ''">
                and t1.token =#{token,jdbcType=VARCHAR}            </if>
                <if test="traineeWxid != null and traineeWxid.trim() != ''">
                and t1.trainee_wxid =#{traineeWxid,jdbcType=VARCHAR}            </if>
                <if test="wxOpenid != null and wxOpenid.trim() != ''">
                and t1.wx_openid =#{wxOpenid,jdbcType=VARCHAR}            </if>
                <if test="qqOpenid != null and qqOpenid.trim() != ''">
                and t1.qq_openid =#{qqOpenid,jdbcType=VARCHAR}            </if>
                <if test="weiboOpenid != null and weiboOpenid.trim() != ''">
                and t1.weibo_openid =#{weiboOpenid,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="traineeType != null and traineeType.trim() != ''">
                and t1.trainee_type =#{traineeType,jdbcType=VARCHAR}            </if>
                <if test="empiricalValue != null and empiricalValue != ''">
                and t1.empirical_value =#{empiricalValue,jdbcType=INTEGER}            </if>
                <if test="blogsNum != null and blogsNum != ''">
                and t1.blogs_num =#{blogsNum,jdbcType=INTEGER}            </if>
                <if test="classroomNum != null and classroomNum != ''">
                and t1.classroom_num =#{classroomNum,jdbcType=INTEGER}            </if>
                <if test="jobNumber != null and jobNumber.trim() != ''">
                and t1.job_number =#{jobNumber,jdbcType=VARCHAR}            </if>
                <if test="fansNum != null and fansNum != ''">
                and t1.fans_num =#{fansNum,jdbcType=INTEGER}            </if>
                <if test="followNum != null and followNum != ''">
                and t1.follow_num =#{followNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.trainee_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectSimpleListByMap" resultType="map"
        parameterType="map">
        select t1.trainee_id as traineeId, t1.job_number as jobNumber,
        ifnull(t1.trainee_name, t1.nick_name) as traineeName, 
        ifnull(t1.trainee_pic, ifnull(t1.trainee_head, '/uploads/defaulthead.png')) as traineePic,
        t1.trainee_sex as traineeSex
        from T_EVGL_TRAINEE_INFO t1
        <where>
        		<!-- t1.nick_name is not null and t1.nick_name != '' and t1.nick_name != 'undefined' -->
                <if test="traineeIds != null and traineeIds.size() > 0">
					and t1.trainee_id in 
				    <foreach collection="traineeIds" item="traineeId" open="(" separator="," close=")">
				        #{traineeId,jdbcType=VARCHAR}
				    </foreach> 
				</if>
                <if test="traineeName != null and traineeName.trim() != ''">
                and (t1.trainee_name like concat ('%', #{traineeName,jdbcType=VARCHAR}, '%') or t1.nick_name like concat ('%', #{traineeName,jdbcType=VARCHAR}, '%') or t1.mobile = #{traineeName})
                </if>
                <if test="nickName != null and nickName.trim() != ''">
                and t1.nick_name =#{nickName,jdbcType=VARCHAR}            </if>
                <if test="traineeSex != null and traineeSex.trim() != ''">
                and t1.trainee_sex =#{traineeSex,jdbcType=VARCHAR}            </if>
                <if test="traineeCard != null and traineeCard.trim() != ''">
                and t1.trainee_card =#{traineeCard,jdbcType=VARCHAR}            </if>
                <if test="traineeBirthday != null and traineeBirthday.trim() != ''">
                and t1.trainee_birthday =#{traineeBirthday,jdbcType=VARCHAR}            </if>
                <if test="mobile != null and mobile.trim() != ''">
                and t1.mobile =#{mobile,jdbcType=VARCHAR}            </if>
                <if test="traineeState != null and traineeState.trim() != ''">
                and t1.trainee_state =#{traineeState,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="remark != null and remark.trim() != ''">
                and t1.remark =#{remark,jdbcType=VARCHAR}            </if>
                <if test="major != null and major.trim() != ''">
                and t1.major =#{major,jdbcType=VARCHAR}            </if>
                <if test="company != null and company.trim() != ''">
                and t1.company =#{company,jdbcType=VARCHAR}            </if>
                <if test="traineeSchool != null and traineeSchool.trim() != ''">
                and t1.trainee_school =#{traineeSchool,jdbcType=VARCHAR}            </if>
                <if test="contactMan != null and contactMan.trim() != ''">
                and t1.contact_man =#{contactMan,jdbcType=VARCHAR}            </if>
                <if test="contactTel != null and contactTel.trim() != ''">
                and t1.contact_tel =#{contactTel,jdbcType=VARCHAR}            </if>
                <if test="traineePic != null and traineePic.trim() != ''">
                and t1.trainee_pic =#{traineePic,jdbcType=VARCHAR}            </if>
                <if test="traineeHead != null and traineeHead.trim() != ''">
                and t1.trainee_head =#{traineeHead,jdbcType=VARCHAR}            </if>
                <if test="traineeQq != null and traineeQq.trim() != ''">
                and t1.trainee_qq =#{traineeQq,jdbcType=VARCHAR}            </if>
                <if test="traineeEducation != null and traineeEducation.trim() != ''">
                and t1.trainee_education =#{traineeEducation,jdbcType=VARCHAR}            </if>
                <if test="email != null and email.trim() != ''">
                and t1.email =#{email,jdbcType=VARCHAR}            </if>
                <if test="userPasswd != null and userPasswd.trim() != ''">
                and t1.user_passwd =#{userPasswd,jdbcType=VARCHAR}            </if>
                <if test="userYan != null and userYan.trim() != ''">
                and t1.user_yan =#{userYan,jdbcType=VARCHAR}            </if>
                <if test="token != null and token.trim() != ''">
                and t1.token =#{token,jdbcType=VARCHAR}            </if>
                <if test="traineeWxid != null and traineeWxid.trim() != ''">
                and t1.trainee_wxid =#{traineeWxid,jdbcType=VARCHAR}            </if>
                <if test="wxOpenid != null and wxOpenid.trim() != ''">
                and t1.wx_openid =#{wxOpenid,jdbcType=VARCHAR}            </if>
                <if test="qqOpenid != null and qqOpenid.trim() != ''">
                and t1.qq_openid =#{qqOpenid,jdbcType=VARCHAR}            </if>
                <if test="weiboOpenid != null and weiboOpenid.trim() != ''">
                and t1.weibo_openid =#{weiboOpenid,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="traineeType != null and traineeType.trim() != ''">
                and t1.trainee_type =#{traineeType,jdbcType=VARCHAR}            </if>
                <if test="empiricalValue != null and empiricalValue != ''">
                and t1.empirical_value =#{empiricalValue,jdbcType=INTEGER}            </if>
                <if test="blogsNum != null and blogsNum != ''">
                and t1.blogs_num =#{blogsNum,jdbcType=INTEGER}            </if>
                <if test="classroomNum != null and classroomNum != ''">
                and t1.classroom_num =#{classroomNum,jdbcType=INTEGER}            </if>
                <if test="jobNumber != null and jobNumber.trim() != ''">
                and t1.job_number =#{jobNumber,jdbcType=VARCHAR}            </if>
                <if test="fansNum != null and fansNum != ''">
                and t1.fans_num =#{fansNum,jdbcType=INTEGER}            </if>
                <if test="followNum != null and followNum != ''">
                and t1.follow_num =#{followNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.trainee_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="plusNum" parameterType="com.ossbar.modules.evgl.trainee.domain.TevglTraineeInfo">
    	update T_EVGL_TRAINEE_INFO
    	<set>
    		<if test="empiricalValue != null">
    			empirical_value = ifnull(empirical_value, 0) + #{empiricalValue,jdbcType=INTEGER},
    		</if>
    		<if test="blogsNum != null">
    			blogs_num = ifnull(blogs_num, 0) + #{blogsNum,jdbcType=INTEGER},
    		</if>
    		<if test="classroomNum != null">
    			classroom_num = ifnull(classroom_num, 0) + #{classroomNum,jdbcType=INTEGER},
    		</if>
    		<if test="fansNum != null">
    			fans_num = ifnull(fans_num, 0) + #{fansNum,jdbcType=INTEGER},
    		</if>
    		<if test="followNum != null">
    			follow_num = ifnull(follow_num, 0) + #{followNum,jdbcType=INTEGER}
    		</if>
    	</set>
    	WHERE
		trainee_id = #{traineeId,jdbcType=VARCHAR} 
    </select>
    
   	<update id="plusEmpiricalValueBatch" parameterType="java.util.List">
		UPDATE t_evgl_trainee_info
		SET empirical_value = CASE trainee_id
		<foreach collection="list" item="item" open="" separator="" close="">
			WHEN #{item.traineeId} THEN ifnull(empirical_value, 0) + #{item.empiricalValue,jdbcType=INTEGER}
		</foreach>
		END
		WHERE trainee_id IN
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item.traineeId}
		</foreach>
	</update>
    
    <select id="selectObjectMapById" parameterType="java.lang.String"
		resultType="map">
		select t1.trainee_id as traineeId, ifnull(t1.trainee_name, t1.nick_name) as traineeName,
		t1.trainee_sex as traineeSex, t1.trainee_birthday as traineeBirthday, t1.email, t1.trainee_school as traineeSchool,
		ifnull(t1.trainee_pic, t1.trainee_head) as traineePic, ifnull(t1.job_number, '') as jobNumber,
		t1.trainee_type as traineeType, t1.trainee_type as traineeTypeName, t1.mobile,
		ifnull(t1.empirical_value, 0) as empiricalValue, ifnull(t1.blogs_num, 0) as blogsNum,
		ifnull(t1.classroom_num, 0) as classroomNum,
		t3.class_id as classId, t3.class_name as className
		from T_EVGL_TRAINEE_INFO t1 
		left join t_evgl_tch_classtrainee t2 on t1.trainee_id = t2.trainee_id
		left join t_evgl_tch_class t3 on t2.class_id = t3.class_id 
		WHERE t1.trainee_id = #{traineeId,jdbcType=VARCHAR} 
	</select>
	
	<select id="selectTraineeIdAndMobile" resultType="map">
		select trainee_id as traineeId, mobile from t_evgl_trainee_info where mobile is not null and mobile != ''
	</select>
    
    <!-- 查找热门博主 -->
    <select id="popularBloggers" resultType="map" parameterType="map">
    	SELECT
			trainee_id AS traineeId,
			nick_name AS traineeName,
			trainee_head as blogHead,
			IFNULL( blogs_num, 0 ) AS blogsNum,
			IFNULL( fans_num, 0 ) AS fansNum,
			IFNULL( follow_num, 0 ) AS followNum
		FROM
			t_evgl_trainee_info
		ORDER BY blogs_num desc, fans_num desc
		LIMIT 10
    </select>
    
    <select id="getTraineeMajorIdList" resultType="string" parameterType="string">
    	select DISTINCT major_id from t_evgl_tch_classroom 
    	where state = "Y" 
    	and ct_id in 
    		(
    			select ct_id from t_evgl_tch_classroom_trainee 
    			where state = "Y" 
    			and trainee_id = #{traineeId}
   			)    
 	</select>
 	
 	<select id="findTraineeListNotInClass" parameterType="map" resultType="com.ossbar.modules.evgl.trainee.vo.TraineeInfoVO" >
        select trainee_id, ifnull(trainee_name, nick_name) as trainee_name, ifnull(nick_name, trainee_name) as nick_name,
		trainee_sex, trainee_card, trainee_birthday, mobile, trainee_state, sort_num, remark, major, company, trainee_school,
		ifnull(trainee_pic, trainee_head) as trainee_pic, trainee_head, trainee_qq, trainee_education, email, token, create_time,trainee_type,empirical_value,blogs_num,classroom_num,
		job_number,fans_num,follow_num,blog_bg_pic,blog_remark
		from t_evgl_trainee_info
        <where>
        		mobile is not null
				and trainee_id not in (select trainee_id from t_evgl_tch_classtrainee)
				<if test="traineeName != null and traineeName.trim() != ''">
					and (trainee_name like concat ('%', #{traineeName,jdbcType=VARCHAR}, '%') or nick_name like concat('%', #{traineeName,jdbcType=VARCHAR}, '%'))
				</if>
                
                <if test="traineeSex != null and traineeSex.trim() != ''">
                and trainee_sex =#{traineeSex,jdbcType=VARCHAR}            </if>
                <if test="traineeCard != null and traineeCard.trim() != ''">
                and trainee_card =#{traineeCard,jdbcType=VARCHAR}            </if>
                <if test="traineeBirthday != null and traineeBirthday.trim() != ''">
                and trainee_birthday =#{traineeBirthday,jdbcType=VARCHAR}            </if>
                <if test="mobile != null and mobile.trim() != ''">
                and mobile =#{mobile,jdbcType=VARCHAR}            </if>
                <if test="traineeState != null and traineeState.trim() != ''">
                and trainee_state =#{traineeState,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="remark != null and remark.trim() != ''">
                and remark =#{remark,jdbcType=VARCHAR}            </if>
                <if test="major != null and major.trim() != ''">
                and major =#{major,jdbcType=VARCHAR}            </if>
                <if test="company != null and company.trim() != ''">
                and company =#{company,jdbcType=VARCHAR}            </if>
                <if test="traineeSchool != null and traineeSchool.trim() != ''">
                and trainee_school =#{traineeSchool,jdbcType=VARCHAR}            </if>
                <if test="contactMan != null and contactMan.trim() != ''">
                and contact_man =#{contactMan,jdbcType=VARCHAR}            </if>
                <if test="contactTel != null and contactTel.trim() != ''">
                and contact_tel =#{contactTel,jdbcType=VARCHAR}            </if>
                <if test="traineePic != null and traineePic.trim() != ''">
                and trainee_pic =#{traineePic,jdbcType=VARCHAR}            </if>
                <if test="traineeHead != null and traineeHead.trim() != ''">
                and trainee_head =#{traineeHead,jdbcType=VARCHAR}            </if>
                <if test="traineeQq != null and traineeQq.trim() != ''">
                and trainee_qq =#{traineeQq,jdbcType=VARCHAR}            </if>
                <if test="traineeEducation != null and traineeEducation.trim() != ''">
                and trainee_education =#{traineeEducation,jdbcType=VARCHAR}            </if>
                <if test="email != null and email.trim() != ''">
                and email =#{email,jdbcType=VARCHAR}            </if>
                <if test="userPasswd != null and userPasswd.trim() != ''">
                and user_passwd =#{userPasswd,jdbcType=VARCHAR}            </if>
                <if test="userYan != null and userYan.trim() != ''">
                and user_yan =#{userYan,jdbcType=VARCHAR}            </if>
                <if test="token != null and token.trim() != ''">
                and token =#{token,jdbcType=VARCHAR}            </if>
                <if test="traineeWxid != null and traineeWxid.trim() != ''">
                and trainee_wxid =#{traineeWxid,jdbcType=VARCHAR}            </if>
                <if test="wxOpenid != null and wxOpenid.trim() != ''">
                and wx_openid =#{wxOpenid,jdbcType=VARCHAR}            </if>
                <if test="qqOpenid != null and qqOpenid.trim() != ''">
                and qq_openid =#{qqOpenid,jdbcType=VARCHAR}            </if>
                <if test="weiboOpenid != null and weiboOpenid.trim() != ''">
                and weibo_openid =#{weiboOpenid,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="traineeType != null and traineeType.trim() != ''">
                and trainee_type =#{traineeType,jdbcType=VARCHAR}            </if>
                <if test="empiricalValue != null and empiricalValue != ''">
                and empirical_value =#{empiricalValue,jdbcType=INTEGER}            </if>
                <if test="blogsNum != null and blogsNum != ''">
                and blogs_num =#{blogsNum,jdbcType=INTEGER}            </if>
                <if test="classroomNum != null and classroomNum != ''">
                and classroom_num =#{classroomNum,jdbcType=INTEGER}            </if>
                <if test="jobNumber != null and jobNumber.trim() != ''">
                and job_number =#{jobNumber,jdbcType=VARCHAR}            </if>
                <if test="fansNum != null and fansNum != ''">
                and fans_num =#{fansNum,jdbcType=INTEGER}            </if>
                <if test="followNum != null and followNum != ''">
                and follow_num =#{followNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by create_time  desc
            </otherwise>
        </choose>
    </select>
    <insert id="insertBatch" parameterType="java.util.List">
		insert into t_evgl_trainee_info
		(
			trainee_id, trainee_name, nick_name, trainee_sex, trainee_card,
			trainee_birthday, mobile, trainee_state, sort_num, remark,
			major, company, trainee_school, contact_man, contact_tel,
			trainee_pic, trainee_head, trainee_qq, trainee_education, email,
			user_passwd, user_yan, token, create_user_id, create_time,
            trainee_type, empirical_value, blogs_num, classroom_num, job_number,
			fans_num, follow_num, blog_bg_pic, blog_remark
		)
		values
		<foreach collection="list" item="obj" separator="," >
		(
			#{obj.traineeId}, #{obj.traineeName}, #{obj.nickName}, #{obj.traineeSex}, #{obj.traineeCard},
			#{obj.traineeBirthday}, #{obj.mobile}, #{obj.traineeState}, #{obj.sortNum}, #{obj.remark},
			#{obj.major}, #{obj.company}, #{obj.traineeSchool}, #{obj.contactMan}, #{obj.contactTel},
			#{obj.traineePic}, #{obj.traineeHead}, #{obj.traineeQq}, #{obj.traineeEducation}, #{obj.email},
			#{obj.userPasswd}, #{obj.userYan}, #{obj.token}, #{obj.createUserId}, #{obj.createTime},
			#{obj.traineeType}, #{obj.empiricalValue}, #{obj.blogsNum}, #{obj.classroomNum}, #{obj.jobNumber},
			#{obj.fansNum}, #{obj.followNum}, #{obj.blogBgPic}, #{obj.blogRemark}
		)
		</foreach>
	</insert>
	
	<select id="countEmpiricalValue" parameterType="object" resultType="integer">
		select ifnull(sum(empirical_value), 0) from t_evgl_trainee_empirical_value_log where trainee_id = #{traineeId}
	</select>
	
	<select id="countBlogNum" parameterType="object" resultType="integer">
		select count(post_id) from t_evgl_forum_blog_post where state = 'Y' and trainee_id = #{traineeId}
	</select>
	
	<select id="countBlogLikeNum" parameterType="object" resultType="integer">
		select count(like_id) from t_medu_me_like where like_type = '7' and target_id in (select post_id from t_evgl_forum_blog_post where state = 'Y' and trainee_id = #{traineeId})
	</select>

	<select id="countClassroomPerformanceNum" parameterType="object" resultType="integer">
		select count(anser_id) from t_evgl_tch_room_pere_trainee_answer where trainee_id = #{traineeId} and ct_id = #{ctId}
	</select>
</mapper>

