<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:cb="http://www.ossbar.com/">
<head th:include="layout/head" />
<!-- 加载js -->
<div th:include="layout/foot" />
<script type="text/javascript">
	cb.loadmodules(["validate","ajax","lay","jqgrid"]);
</script>
<body>
<div class="panel-body">
		<div id="query_area">
			<!-- 查询条件区域begin-->
			<table class="table table-bordered FormView cb-table-fun" border="0"
				cellspacing="1" cellpadding="0">
				
				<tr>
					<td class="cb-label">联系人id</td>
					<td class="cb-value"><input type="text" id="mlId" name="mlId"
						class="form-control cb-form-control"></td>
				
					<td class="cb-label">联系人姓名</td>
					<td class="cb-value"><input type="text" id="mlName" name="mlName"
						class="form-control cb-form-control"></td>
				</tr>
				
				<tr>
					<td class="cb-label">联系人邮箱</td>
					<td class="cb-value"><input type="text" id="mlMail" name="mlMail"
						class="form-control cb-form-control"></td>
				
					<td class="cb-label">联系人电话</td>
					<td class="cb-value"><input type="text" id="mlTel" name="mlTel"
						class="form-control cb-form-control"></td>
				</tr>
				
				<tr>
					<td class="cb-label">归属员工</td>
					<td class="cb-value"><input type="text" id="maCustom" name="maCustom"
						class="form-control cb-form-control"></td>
				
					<td class="cb-label">组织机构</td>
					<td class="cb-value"><input type="text" id="orgId" name="orgId"
						class="form-control cb-form-control"></td>
				</tr>
				
				<tr>
					<td class="cb-label">备注</td>
					<td class="cb-value"><input type="text" id="remark" name="remark"
						class="form-control cb-form-control"></td>
				
					<td class="cb-label">创建人</td>
					<td class="cb-value"><input type="text" id="createUserId" name="createUserId"
						class="form-control cb-form-control"></td>
				</tr>
				
				<tr>
					<td class="cb-label">创建时间</td>
					<td class="cb-value"><input type="text" id="createTime" name="createTime"
						class="form-control cb-form-control"></td>
				
					<td class="cb-label">修改人</td>
					<td class="cb-value"><input type="text" id="updateUserId" name="updateUserId"
						class="form-control cb-form-control"></td>
				</tr>
				
				<tr>
					<td class="cb-label">修改时间</td>
					<td class="cb-value"><input type="text" id="updateTime" name="updateTime"
						class="form-control cb-form-control"></td>
				</tr>
			</table>
		</div>
		<!-- 查询条件区域end-->
		<!-- 按钮栏布局begin -->
		<div id="toolbar_area" class="toolbar_area">
			<a class="btn btn-default cb-btn" lay-filter="formDemo"
				href="javascript:void(0)" onclick="query()"><i
				class="glyphicon glyphicon-search"></i>&nbsp;查询</a> <a
				lay-filter="hasPermission('mail:tmaillinkman:add')" class="btn btn-default cb-btn"
				onclick="add()"><i class="glyphicon glyphicon-plus"></i>&nbsp;新增</a>
			<a lay-filter="hasPermission('mail:tmaillinkman:edit')" class="btn btn-default cb-btn"
				onclick="edit()"><i class="glyphicon glyphicon-edit"></i>&nbsp;修改</a>
			<a lay-filter="hasPermission('mail:tmaillinkman:remove')" class="btn btn-default cb-btn"
				onclick="del()"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
		</div>
		<!-- 按钮栏布局end -->
		</form>
	</div>
	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>
</body>
<script type="text/javascript">
	$(function() {
		$("#jqGrid").jqGrid({
			url : cb.baseurl + 'mail/tmaillinkman/query',
			datatype : "json",
			colModel : [ 
			{
				label:'联系人id',
				name : 'mlId',
				width : 100,
				key : true,
				hidden:true
				}, 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			

				{
				label:'联系人姓名',
				name : 'mlName',
				width : 100
				},
				{
				label:'联系人邮箱',
				name : 'mlMail',
				width : 100
				},
				{
				label:'联系人电话',
				name : 'mlTel',
				width : 100
				},
				{
				label:'归属员工',
				name : 'maCustom',
				width : 100
				},
				{
				label:'组织机构',
				name : 'orgId',
				width : 100
				},
				{
				label:'备注',
				name : 'remark',
				width : 100
				},
				{
				label:'创建人',
				name : 'createUserId',
				width : 100
				},
				{
				label:'创建时间',
				name : 'createTime',
				width : 100
				},
				{
				label:'修改人',
				name : 'updateUserId',
				width : 100
				},
				{
				label:'修改时间',
				name : 'updateTime',
				width : 100
				}
				 ],
			viewrecords : true,
			height : 385,
			rowNum : 10,
			rowList : [ 10, 30, 50 ],
			rownumbers : true,
			rownumWidth : 25,
			autowidth : true,
			multiselect : true,
			pager : "#jqGridPager",
			jsonReader : {
				root : "page.list",
				page : "page.currPage",
				total : "page.totalPage",
				records : "page.totalCount"
			},
			prmNames : {
				page : "page",
				rows : "limit",
				order : "order"
			},
			gridComplete : function() {
				//隐藏grid底部滚动条
				$("#jqGrid").closest(".ui-jqgrid-bdiv").css({
					"overflow-x" : "hidden"
				});
			}
		});

	});

	//查询
	function query() {
		var page = $("#jqGrid").jqGrid('getGridParam', 'page');
		$("#jqGrid").jqGrid('setGridParam', {
			postData : {
		"mlId" : $("#mlId").val()
		,	
		"mlName" : $("#mlName").val()
		,	
		"mlMail" : $("#mlMail").val()
		,	
		"mlTel" : $("#mlTel").val()
		,	
		"maCustom" : $("#maCustom").val()
		,	
		"orgId" : $("#orgId").val()
		,	
		"remark" : $("#remark").val()
		,	
		"createUserId" : $("#createUserId").val()
		,	
		"createTime" : $("#createTime").val()
		,	
		"updateUserId" : $("#updateUserId").val()
		,	
		"updateTime" : $("#updateTime").val()
			
			},
			page : page
		}).trigger("reloadGrid");
	}
	//新增
	function add() {
		cb.winopen('新增', '800px', '400px', 'mail/tmaillinkman/add', 'yes',
				function() {
					query()
				});
	}
	//修改
	function edit() {
		var id = cb.getselectedrow("#jqGrid")
		if (id)
			cb.winopen('修改', '800px', '400px', 'mail/tmaillinkman/edit?id=' + id,
					'yes', function() {
						query()
					});
	}
	//删除
	function del(){
		var ids = cb.getselectedrows("#jqGrid");
		if(ids){
			cb.confirm("确定删除吗？",function(){
				cb.post("mail/tmaillinkman/remove",JSON.stringify(ids),function(result){
					cb.alert("删除成功",function(){query();});
					
				},{contentType:"application/json"});
				
			})
		}
	}
</script>
</html>