<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:cb="http://www.ossbar.com/">
<head th:include="layout/head" />
<div th:include="layout/foot"></div>
<script type="text/javascript" th:inline="javascript">
	cb.loadmodules([ "validate", "ajax", "lay" ]);
</script>
<body>
<form class="form-horizontal" id="tmailReceiverForm" th:action="@{/mail/tmailreceiver/saveorupdate}" th:object="${tmailReceiver}">
	<input type="hidden" id="mrId" name="mrId" th:field="*{mrId}" />
		<input type="hidden" name="tokenForm"
			th:value="${#session.getAttribute('tokenForm')}" />
		<table class="table table-bordered FormView cb-table-fun">
				<tr>
				<td class="cb-label">邮件id</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[32]]" data-msg=""
					id="mid" name="mid" th:field="*{mid}" placeholder="邮件id" /></td>
				<td class="cb-label">收件人姓名</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[100]]" data-msg=""
					id="mrName" name="mrName" th:field="*{mrName}" placeholder="收件人姓名" /></td>
				</tr>
				<tr>
				<td class="cb-label">收件人邮箱</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[100]]" data-msg=""
					id="mrMail" name="mrMail" th:field="*{mrMail}" placeholder="收件人邮箱" /></td>
				<td class="cb-label">收件人类型(收件，抄送，密送)</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[10]]" data-msg=""
					id="mrType" name="mrType" th:field="*{mrType}" placeholder="收件人类型(收件，抄送，密送)" /></td>
				</tr>
		</table>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
	//保存
	top.cb.oper.save = function() {// save_click()

		cb.submit("#tmailReceiverForm", "mail/tmailreceiver/saveorupdate", $("#tmailReceiverForm")
				.serialize(), function() {
			cb.alert("保存成功", function() {
				cb.winclose()
			});
		}, {
			contentType : "application/x-www-form-urlencoded"
		})
	}
	//保存并继续
	top.cb.oper.saveAndAdd = function(){
		cb.submit("#tmailReceiverForm","mail/tmailreceiver/saveorupdate",function(){
			cb.alert("保存成功",function(){location.reload(true); });// 提交后重置表单
			
		})
	}
</script>
</html>