<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:cb="http://www.ossbar.com/">
<head th:include="layout/head" />
<div th:include="layout/foot"></div>
<script type="text/javascript" th:inline="javascript">
	cb.loadmodules([ "validate", "ajax", "lay" ]);
</script>
<body>
<form class="form-horizontal" id="tmailFoldForm" th:action="@{/mail/tmailfold/saveorupdate}" th:object="${tmailFold}">
	<input type="hidden" id="mfId" name="mfId" th:field="*{mfId}" />
	<input type="hidden" id="maId" name="maId" th:field="*{maId}" />
	<input type="hidden" id="parentId" name="parentId" th:field="*{parentId}" />
		<input type="hidden" name="tokenForm"
			th:value="${#session.getAttribute('tokenForm')}" />
		<table class="table table-bordered FormView cb-table-fun">
				<tr>
				<td class="cb-label">文件夹名称</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[50]]" data-msg=""
					id="mfName" name="mfName" th:field="*{mfName}" placeholder="文件夹名称" /></td>
				</tr>
		</table>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
	//保存
	top.cb.oper.save = function() {// save_click()

		cb.submit("#tmailFoldForm", "mail/tmailfold/saveorupdate", $("#tmailFoldForm")
				.serialize(), function() {
			cb.alert("保存成功", function() {
				cb.winclose()
			});
		}, {
			contentType : "application/x-www-form-urlencoded"
		})
	}
	//保存并继续
	top.cb.oper.saveAndAdd = function(){
		cb.submit("#tmailFoldForm","mail/tmailfold/saveorupdate",function(){
			cb.alert("保存成功",function(){location.reload(true); });// 提交后重置表单
			
		})
	}
</script>
</html>