<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:cb="http://www.ossbar.com/">
<head th:include="layout/head" />
<div th:include="layout/foot"></div>
<script type="text/javascript" th:inline="javascript">
	cb.loadmodules([ "validate", "ajax", "lay", "ztree" ]);
</script>
<body>
<form class="form-horizontal" id="tmailFoldForm" th:action="@{/mail/tmailfold/saveorupdate}">
	<input type="hidden" id="mids" name="mids" th:value="${mids}" />
	<input type="hidden" id="type" name="type" th:value="${type}" />
		<input type="hidden" name="tokenForm"
			th:value="${#session.getAttribute('tokenForm')}" />
		<table class="table table-bordered FormView cb-table-fun">
				<tr>
				<td class="cb-label">目标文件夹</td>
				<td class="cb-value"><cb:tree id="mfId" name="mfId"
						url="mail/tmailfold/foldtree" type="input"
						class="form-control cb-form-control" treeStyle="border:0px;"
						expandAll="true" placeholder="选择目标文件夹" readonly="readonly"
						mapper="{'name':'name','icon':'icon','parentId':'parentId','parentValue':'-1','cbid':'id'}" /></td>
				</tr>
		</table>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
	//保存
	top.cb.oper.save = function() {// save_click()

		cb.submit("#tmailFoldForm", "mail/tmaildetail/docopyormove",function() {
			cb.alert("保存成功", function() {
				cb.winclose()
			});
		}, {
			contentType : "application/x-www-form-urlencoded"
		})
	}
	//保存并继续
	top.cb.oper.saveAndAdd = function(){
		cb.submit("#tmailFoldForm","mail/tmaildetail/docopyormove",function(){
			cb.alert("保存成功",function(){location.reload(true); });// 提交后重置表单
			
		})
	}
</script>
</html>