<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:cb="http://www.ossbar.com/">
<head th:include="layout/head" />
<div th:include="layout/foot"></div>
<script type="text/javascript" th:inline="javascript">
	cb.loadmodules([ "validate", "ajax", "lay" ]);
</script>
<body>
<form class="form-horizontal" id="tmailLinkmanForm" th:action="@{/mail/tmaillinkman/saveorupdate}" th:object="${tmailLinkman}">
	<input type="hidden" id="mlId" name="mlId" th:field="*{mlId}" />
		<input type="hidden" name="tokenForm"
			th:value="${#session.getAttribute('tokenForm')}" />
		<table class="table table-bordered FormView cb-table-fun">
				<tr>
				<td class="cb-label">联系人姓名</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[100]]" data-msg=""
					id="mlName" name="mlName" th:field="*{mlName}" placeholder="联系人姓名" /></td>
				<td class="cb-label">联系人邮箱</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[100]]" data-msg=""
					id="mlMail" name="mlMail" th:field="*{mlMail}" placeholder="联系人邮箱" /></td>
				</tr>
				<tr>
				<td class="cb-label">联系人电话</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[20]]" data-msg=""
					id="mlTel" name="mlTel" th:field="*{mlTel}" placeholder="联系人电话" /></td>
				<td class="cb-label">归属员工</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[32]]" data-msg=""
					id="maCustom" name="maCustom" th:field="*{maCustom}" placeholder="归属员工" /></td>
				</tr>
				<tr>
				<td class="cb-label">组织机构</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[32]]" data-msg=""
					id="orgId" name="orgId" th:field="*{orgId}" placeholder="组织机构" /></td>
				<td class="cb-label">备注</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[1000]]" data-msg=""
					id="remark" name="remark" th:field="*{remark}" placeholder="备注" /></td>
				</tr>
				<tr>
				<td class="cb-label">创建人</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[32]]" data-msg=""
					id="createUserId" name="createUserId" th:field="*{createUserId}" placeholder="创建人" /></td>
				<td class="cb-label">创建时间</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[20]]" data-msg=""
					id="createTime" name="createTime" th:field="*{createTime}" placeholder="创建时间" /></td>
				</tr>
				<tr>
				<td class="cb-label">修改人</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[32]]" data-msg=""
					id="updateUserId" name="updateUserId" th:field="*{updateUserId}" placeholder="修改人" /></td>
				<td class="cb-label">修改时间</td>
				<td class="cb-value"><input type="text"
					class="form-control cb-form-control validate[required,maxSize[20]]" data-msg=""
					id="updateTime" name="updateTime" th:field="*{updateTime}" placeholder="修改时间" /></td>
				</tr>
		</table>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
	//保存
	top.cb.oper.save = function() {// save_click()

		cb.submit("#tmailLinkmanForm", "mail/tmaillinkman/saveorupdate", $("#tmailLinkmanForm")
				.serialize(), function() {
			cb.alert("保存成功", function() {
				cb.winclose()
			});
		}, {
			contentType : "application/x-www-form-urlencoded"
		})
	}
	//保存并继续
	top.cb.oper.saveAndAdd = function(){
		cb.submit("#tmailLinkmanForm","mail/tmaillinkman/saveorupdate",function(){
			cb.alert("保存成功",function(){location.reload(true); });// 提交后重置表单
			
		})
	}
</script>
</html>