<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.eao.persistence.TeaoTraineeExamineMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.eao.domain.TeaoTraineeExamine">
		<result column="examine_id" jdbcType="VARCHAR"
			property="examineId" />
		<result column="er_id" jdbcType="VARCHAR"
			property="erId" />	
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="subject_id" jdbcType="VARCHAR"
			property="subjectId" />
		<result column="regular_id" jdbcType="VARCHAR"
			property="regularId" />
		<result column="regular_sjnum" jdbcType="DECIMAL"
			property="regularSjnum" />
		<result column="examine_time" jdbcType="VARCHAR"
			property="examineTime" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="examine_type" jdbcType="VARCHAR"
			property="examineType" />
		<result column="create_user_name" jdbcType="VARCHAR"
			property="createUserName" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		examine_id,er_id,trainee_id,subject_id,regular_id,regular_sjnum,examine_time,create_user_id,create_time,update_user_id,update_time,examine_type,create_user_name,state
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.eao.domain.TeaoTraineeExamine">
		INSERT INTO T_EAO_TRAINEE_EXAMINE (
		examine_id ,
		er_id ,
		trainee_id ,
		subject_id ,
		regular_id ,
		regular_sjnum ,
		examine_time ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		examine_type ,
		create_user_name ,
		state 
		) VALUES (

#{examineId,jdbcType=VARCHAR} ,

#{erId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{subjectId,jdbcType=VARCHAR} ,

#{regularId,jdbcType=VARCHAR} ,

#{regularSjnum,jdbcType=DECIMAL} ,

#{examineTime,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{examineType,jdbcType=VARCHAR} ,

#{createUserName,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.eao.domain.TeaoTraineeExamine">
		UPDATE T_EAO_TRAINEE_EXAMINE 
		<set>
		<if test="erId != null">
		er_id = #{erId,jdbcType=VARCHAR},
		</if>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="subjectId != null">
		subject_id = #{subjectId,jdbcType=VARCHAR},
		</if>
		<if test="regularId != null">
		regular_id = #{regularId,jdbcType=VARCHAR},
		</if>
		<if test="regularSjnum != null">
		regular_sjnum = #{regularSjnum,jdbcType=DECIMAL},
		</if>
		<if test="examineTime != null">
		examine_time = #{examineTime,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="examineType != null">
		examine_type = #{examineType,jdbcType=VARCHAR},
		</if>
		<if test="createUserName != null">
		create_user_name = #{createUserName,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		examine_id = #{examineId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EAO_TRAINEE_EXAMINE WHERE
		examine_id =
		#{examineId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EAO_TRAINEE_EXAMINE WHERE
		examine_id in
		<foreach item="examineId" collection="array" open="("
			separator="," close=")">
#{examineId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EAO_TRAINEE_EXAMINE WHERE
		examine_id = #{examineId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EAO_TRAINEE_EXAMINE
        <where>
        		<if test="erId != null and erId.trim() != ''">
                and er_id =#{erId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="regularId != null and regularId.trim() != ''">
                and regular_id =#{regularId,jdbcType=VARCHAR}            </if>
                <if test="regularSjnum != null and regularSjnum != ''">
                and regular_sjnum =#{regularSjnum,jdbcType=DECIMAL}            </if>
                <if test="examineTime != null and examineTime.trim() != ''">
                and examine_time =#{examineTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="examineType != null and examineType.trim() != ''">
                and examine_type =#{examineType,jdbcType=VARCHAR}            </if>
                <if test="createUserName != null and createUserName.trim() != ''">
                and create_user_name =#{createUserName,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by examine_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EAO_TRAINEE_EXAMINE t1
        <where>
        		<if test="erId != null and erId.trim() != ''">
                and t1.er_id =#{erId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and t1.subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="regularId != null and regularId.trim() != ''">
                and t1.regular_id =#{regularId,jdbcType=VARCHAR}            </if>
                <if test="regularSjnum != null and regularSjnum != ''">
                and t1.regular_sjnum =#{regularSjnum,jdbcType=DECIMAL}            </if>
                <if test="examineTime != null and examineTime.trim() != ''">
                and t1.examine_time =#{examineTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="examineType != null and examineType.trim() != ''">
                and t1.examine_type =#{examineType,jdbcType=VARCHAR}            </if>
                <if test="createUserName != null and createUserName.trim() != ''">
                and t1.create_user_name =#{createUserName,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.examine_id  desc
            </otherwise>
        </choose>
    </select>
    
    <delete id="deleteOther" parameterType="map">
		DELETE FROM T_EAO_TRAINEE_EXAMINE
		<where>
			<if test="examineId != null and examineId.trim() != ''">
				and examine_id =#{examineId,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state.trim() != ''">
				and state =#{state,jdbcType=VARCHAR}
			</if>
			<if test="traineeId != null and traineeId.trim() != ''">
				and trainee_id =#{traineeId,jdbcType=VARCHAR}
			</if>
			<if test="subjectId != null and subjectId.trim() != ''">
				and subject_id =#{subjectId,jdbcType=VARCHAR}
			</if>
			<if test="examineTime != null and examineTime.trim() != ''">
				and examine_time =#{examineTime,jdbcType=VARCHAR}
			</if>
			<if test="regularId != null and regularId.trim() != ''">
				and regular_id =#{regularId,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>
    
    <select id="countMySelfGiveScore" parameterType="map" resultType="string">
		select ifnull(SUM(regular_sjnum), 0) as totalScore from T_EAO_TRAINEE_EXAMINE
		<where>
			<if test="erId != null and erId.trim() != ''">
				and er_id =#{erId,jdbcType=VARCHAR}
			</if>
			<if test="traineeId != null and traineeId.trim() != ''">
				and trainee_id =#{traineeId,jdbcType=VARCHAR}
			</if>
			<if test="subjectId != null and subjectId.trim() != ''">
				and subject_id =#{subjectId,jdbcType=VARCHAR}
			</if>
			<if test="examineType != null and examineType.trim() != ''">
				and examine_type =#{examineType,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state.trim() != ''">
				and state =#{state,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="countMyStudentGiveScore" parameterType="map" resultType="string">
		select ifnull(SUM(regular_sjnum), 0) as totalScore from T_EAO_TRAINEE_EXAMINE
		<where>
			<if test="erId != null and erId.trim() != ''">
				and er_id =#{erId,jdbcType=VARCHAR}
			</if>
			<if test="traineeId != null and traineeId.trim() != ''">
				and trainee_id =#{traineeId,jdbcType=VARCHAR}
			</if>
			<if test="subjectId != null and subjectId.trim() != ''">
				and subject_id =#{subjectId,jdbcType=VARCHAR}
			</if>
			<if test="examineType != null and examineType.trim() != ''">
				and examine_type =#{examineType,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state.trim() != ''">
				and state =#{state,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="countMyTeacherGiveScore" parameterType="map" resultType="string">
		select ifnull(SUM(regular_sjnum), 0) as totalScore from T_EAO_TRAINEE_EXAMINE
		<where>
			<if test="erId != null and erId.trim() != ''">
				and er_id =#{erId,jdbcType=VARCHAR}
			</if>
			<if test="traineeId != null and traineeId.trim() != ''">
				and trainee_id =#{traineeId,jdbcType=VARCHAR}
			</if>
			<if test="subjectId != null and subjectId.trim() != ''">
				and subject_id =#{subjectId,jdbcType=VARCHAR}
			</if>
			<if test="examineType != null and examineType.trim() != ''">
				and examine_type =#{examineType,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state.trim() != ''">
				and state =#{state,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<!-- 参与师评的人数 -->
	<select id="selectHowManyTeacherJoinExamine" parameterType="map"
		resultMap="BaseResultMap">
		select * from T_EAO_TRAINEE_EXAMINE
		<where>
			<if test="traineeId != null and traineeId.trim() != ''">
				and trainee_id =#{traineeId,jdbcType=VARCHAR}
			</if>
			<if test="subjectId != null and subjectId.trim() != ''">
				and subject_id =#{subjectId,jdbcType=VARCHAR}
			</if>
			<if test="examineType != null and examineType.trim() != ''">
				and examine_type &lt;&gt; #{examineType,jdbcType=VARCHAR}
			</if>
			<if test="examineType2 != null and examineType2.trim() != ''">
				and examine_type &lt;&gt;
				#{examineType2,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state.trim() != ''">
				and state =#{state,jdbcType=VARCHAR}
			</if>
		</where>
		GROUP BY create_user_id
	</select>
	
	<select id="selectHowManyTraineesJoinExamine" parameterType="map"
		resultMap="BaseResultMap">
		select * from T_EAO_TRAINEE_EXAMINE
		<where>
			<if test="erId != null and erId.trim() != ''">
				and er_id =#{erId,jdbcType=VARCHAR}
			</if>
			<if test="traineeId != null and traineeId.trim() != ''">
				and trainee_id =#{traineeId,jdbcType=VARCHAR}
			</if>
			<if test="subjectId != null and subjectId.trim() != ''">
				and subject_id =#{subjectId,jdbcType=VARCHAR}
			</if>
			<if test="examineType != null and examineType.trim() != ''">
				and examine_type =#{examineType,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state.trim() != ''">
				and state =#{state,jdbcType=VARCHAR}
			</if>
		</where>
		group by create_user_id
	</select>
	
	<select id="countTraineeListByMap" resultType="map"
        parameterType="map">
        select trainee_id as traineeId, er_id as erId from T_EAO_TRAINEE_EXAMINE
        <where>
        		<if test="erIds != null and erIds.size() > 0">
				and er_id in 
				    <foreach collection="erIds" item="erId" open="(" separator="," close=")">
				        #{erId,jdbcType=VARCHAR}
				    </foreach> 
				</if>
				<if test="activityIds != null and activityIds.size() > 0">
				and er_id in 
				    <foreach collection="activityIds" item="activityId" open="(" separator="," close=")">
				        #{activityId,jdbcType=VARCHAR}
				    </foreach> 
				</if>
        		<if test="erId != null and erId.trim() != ''">
                and er_id =#{erId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="regularId != null and regularId.trim() != ''">
                and regular_id =#{regularId,jdbcType=VARCHAR}            </if>
                <if test="regularSjnum != null and regularSjnum != ''">
                and regular_sjnum =#{regularSjnum,jdbcType=DECIMAL}            </if>
                <if test="examineTime != null and examineTime.trim() != ''">
                and examine_time =#{examineTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="examineType != null and examineType.trim() != ''">
                and examine_type =#{examineType,jdbcType=VARCHAR}            </if>
                <if test="createUserName != null and createUserName.trim() != ''">
                and create_user_name =#{createUserName,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        group by trainee_id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by examine_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

