<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.eao.persistence.TeaoTraineeSignupMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.eao.domain.TeaoTraineeSignup">
		<result column="signup_id" jdbcType="VARCHAR"
			property="signupId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="class_id" jdbcType="VARCHAR"
			property="classId" />
		<result column="org_id" jdbcType="VARCHAR"
			property="orgId" />
		<result column="signup_telphone" jdbcType="VARCHAR"
			property="signupTelphone" />
		<result column="signup_qq" jdbcType="VARCHAR"
			property="signupQq" />
		<result column="signup_time" jdbcType="VARCHAR"
			property="signupTime" />
		<result column="channel" jdbcType="VARCHAR"
			property="channel" />
			<result column="trainee_education" jdbcType="VARCHAR"
			property="traineeEducation" />
			
        <result column="trainee_name" jdbcType="VARCHAR"
            property="traineeName" />   
        <result column="ispx" jdbcType="VARCHAR"
            property="ispx" /> 
        <result column="issingupfrompublic" jdbcType="VARCHAR"
            property="issingupfrompublic" />    
		<result column="mobile" jdbcType="VARCHAR"
			property="mobile" />
		<result column="wechat_number" jdbcType="VARCHAR"
			property="wechatNumber" />	 
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		signup_id,trainee_id,class_id,org_id,signup_telphone,signup_qq,signup_time,channel,ispx,issingupfrompublic,mobile,wechat_number
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.eao.domain.TeaoTraineeSignup">
		INSERT INTO T_EAO_TRAINEE_SIGNUP (
		signup_id ,
		trainee_id ,
		class_id ,
		org_id ,
		signup_telphone ,
		signup_qq ,
		signup_time ,
		channel ,
		trainee_education,
        trainee_name,
        ispx,
        issingupfrompublic ,
		mobile ,
		wechat_number 
		) VALUES (

#{signupId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{classId,jdbcType=VARCHAR} ,

#{orgId,jdbcType=VARCHAR} ,

#{signupTelphone,jdbcType=VARCHAR} ,

#{signupQq,jdbcType=VARCHAR} ,

#{signupTime,jdbcType=VARCHAR} ,

#{channel,jdbcType=VARCHAR} ,
#{traineeEducation,jdbcType=VARCHAR} ,
#{traineeName,jdbcType=VARCHAR} ,
#{ispx,jdbcType=VARCHAR} ,
#{issingupfrompublic,jdbcType=VARCHAR}  ,

#{mobile,jdbcType=VARCHAR} ,

#{wechatNumber,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.eao.domain.TeaoTraineeSignup">
		UPDATE T_EAO_TRAINEE_SIGNUP 
		<set>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="classId != null">
		class_id = #{classId,jdbcType=VARCHAR},
		</if>
		<if test="orgId != null">
		org_id = #{orgId,jdbcType=VARCHAR},
		</if>
		<if test="signupTelphone != null">
		signup_telphone = #{signupTelphone,jdbcType=VARCHAR},
		</if>
		<if test="signupQq != null">
		signup_qq = #{signupQq,jdbcType=VARCHAR},
		</if>
		<if test="signupTime != null">
		signup_time = #{signupTime,jdbcType=VARCHAR},
		</if>
        <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
        </if>
        <if test="ispx != null">
        ispx = #{ispx,jdbcType=VARCHAR},
        </if>
        <if test="issingupfrompublic != null">
		issingupfrompublic = #{issingupfrompublic,jdbcType=VARCHAR},
		</if>
		<if test="mobile != null">
		mobile = #{mobile,jdbcType=VARCHAR},
		</if>
		<if test="wechatNumber != null">
		wechat_number = #{wechatNumber,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		signup_id = #{signupId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EAO_TRAINEE_SIGNUP WHERE
		signup_id =
		#{signupId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EAO_TRAINEE_SIGNUP WHERE
		signup_id in
		<foreach item="signupId" collection="array" open="("
			separator="," close=")">
#{signupId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EAO_TRAINEE_SIGNUP WHERE
		signup_id = #{signupId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<select id="selectListByMap" resultMap="BaseResultMap"
		parameterType="map">
		select * from T_EAO_TRAINEE_SIGNUP
		<where>
				<if test="traineeId != null and traineeId.trim() != ''">
				and trainee_id =#{traineeId,jdbcType=VARCHAR}			</if>
				<if test="classId != null and classId.trim() != ''">
				and class_id =#{classId,jdbcType=VARCHAR}			</if>
				<if test="orgId != null and orgId.trim() != ''">
				and org_id =#{orgId,jdbcType=VARCHAR}			</if>
				<if test="signupTelphone != null and signupTelphone.trim() != ''">
				and signup_telphone =#{signupTelphone,jdbcType=VARCHAR}			</if>
				<if test="signupQq != null and signupQq.trim() != ''">
				and signup_qq =#{signupQq,jdbcType=VARCHAR}			</if>
				<if test="signupTime != null and signupTime.trim() != ''">
				and signup_time =#{signupTime,jdbcType=VARCHAR}			</if>
                <if test="ispx != null">
                and ispx = #{ispx,jdbcType=VARCHAR}
                </if>
                <if test="issingupfrompublic != null and issingupfrompublic.trim() != ''">
                and issingupfrompublic =#{issingupfrompublic,jdbcType=VARCHAR}            </if>
                <if test="mobile != null and mobile.trim() != ''">
                and mobile =#{mobile,jdbcType=VARCHAR}            </if>
                <if test="wechatNumber != null and wechatNumber.trim() != ''">
                and wechat_number =#{wechatNumber,jdbcType=VARCHAR}            </if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by signup_id  desc
			</otherwise>
		</choose>
	</select>
</mapper>

