<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.book.persistence.TevglBookSubjectMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.book.domain.TevglBookSubject">
		<result column="subject_id" jdbcType="VARCHAR"
			property="subjectId" />
		<result column="org_id" jdbcType="VARCHAR"
			property="orgId" />
		<result column="subject_no" jdbcType="VARCHAR"
			property="subjectNo" />
		<result column="subject_name" jdbcType="VARCHAR"
			property="subjectName" />
		<result column="subject_author" jdbcType="VARCHAR"
			property="subjectAuthor" />
		<result column="publishing_house" jdbcType="VARCHAR"
			property="publishingHouse" />
		<result column="subject_desc" jdbcType="VARCHAR"
			property="subjectDesc" />
		<result column="subject_remark" jdbcType="LONGVARCHAR"
			property="subjectRemark" />
		<result column="subject_tag" jdbcType="VARCHAR"
			property="subjectTag" />
		<result column="subject_logo" jdbcType="VARCHAR"
			property="subjectLogo" />
		<result column="subject_type" jdbcType="VARCHAR"
			property="subjectType" />
		<result column="subject_version" jdbcType="VARCHAR"
			property="subjectVersion" />
		<result column="last_version_id" jdbcType="VARCHAR"
			property="lastVersionId" />
		<result column="subject_price" jdbcType="DECIMAL"
			property="subjectPrice" />
		<result column="class_score" jdbcType="DECIMAL"
			property="classScore" />
		<result column="class_hour" jdbcType="DECIMAL"
			property="classHour" />
		<result column="subject_ref" jdbcType="VARCHAR"
			property="subjectRef" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="deploy_user_id" jdbcType="VARCHAR"
			property="deployUserId" />
		<result column="deploy_time" jdbcType="VARCHAR"
			property="deployTime" />
		<result column="display" jdbcType="VARCHAR"
			property="display" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="subject_technology" jdbcType="VARCHAR"
			property="subjectTechnology" />
		<result column="view_num" jdbcType="INTEGER"
			property="viewNum" />
			
		<result column="star_level" jdbcType="INTEGER"
			property="starLevel" />
		<result column="store_num" jdbcType="INTEGER"
			property="storeNum" />
			<result column="like_num" jdbcType="INTEGER"
			property="likeNum" />
			<result column="report_num" jdbcType="INTEGER"
			property="reportNum" />	
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		subject_id,org_id,subject_no,subject_name,subject_author,publishing_house,subject_desc,subject_remark,subject_tag,subject_logo,subject_type,subject_version,last_version_id,subject_price,class_score,class_hour,subject_ref,create_user_id,create_time,update_user_id,update_time,deploy_user_id,deploy_time,display,state,subject_technology,view_num,star_level,store_num,like_num,report_num
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookSubject">
		INSERT INTO T_EVGL_BOOK_SUBJECT (
		subject_id ,
		org_id ,
		subject_no ,
		subject_name ,
		subject_author ,
		publishing_house ,
		subject_desc ,
		subject_remark ,
		subject_tag ,
		subject_logo ,
		subject_type ,
		subject_version ,
		last_version_id ,
		subject_price ,
		class_score ,
		class_hour ,
		subject_ref ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		deploy_user_id ,
		deploy_time ,
		display ,
		state ,
		subject_technology ,
		view_num ,
		star_level ,
		store_num ,
		like_num ,
		report_num
		) VALUES (

#{subjectId,jdbcType=VARCHAR} ,

#{orgId,jdbcType=VARCHAR} ,

#{subjectNo,jdbcType=VARCHAR} ,

#{subjectName,jdbcType=VARCHAR} ,

#{subjectAuthor,jdbcType=VARCHAR} ,

#{publishingHouse,jdbcType=VARCHAR} ,

#{subjectDesc,jdbcType=VARCHAR} ,

#{subjectRemark,jdbcType=LONGVARCHAR} ,

#{subjectTag,jdbcType=VARCHAR} ,

#{subjectLogo,jdbcType=VARCHAR} ,

#{subjectType,jdbcType=VARCHAR} ,

#{subjectVersion,jdbcType=VARCHAR} ,

#{lastVersionId,jdbcType=VARCHAR} ,

#{subjectPrice,jdbcType=DECIMAL} ,

#{classScore,jdbcType=DECIMAL} ,

#{classHour,jdbcType=DECIMAL} ,

#{subjectRef,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{deployUserId,jdbcType=VARCHAR} ,

#{deployTime,jdbcType=VARCHAR} ,

#{display,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} ,

#{subjectTechnology,jdbcType=VARCHAR},

#{viewNum,jdbcType=INTEGER} ,

#{starLevel,jdbcType=INTEGER} ,

#{storeNum,jdbcType=INTEGER} ,

#{likeNum,jdbcType=INTEGER} ,

#{reportNum,jdbcType=INTEGER}
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookSubject">
		UPDATE T_EVGL_BOOK_SUBJECT 
		<set>
		<if test="orgId != null">
		org_id = #{orgId,jdbcType=VARCHAR},
		</if>
		<if test="subjectNo != null">
		subject_no = #{subjectNo,jdbcType=VARCHAR},
		</if>
		<if test="subjectName != null">
		subject_name = #{subjectName,jdbcType=VARCHAR},
		</if>
		<if test="subjectAuthor != null">
		subject_author = #{subjectAuthor,jdbcType=VARCHAR},
		</if>
		<if test="publishingHouse != null">
		publishing_house = #{publishingHouse,jdbcType=VARCHAR},
		</if>
		<if test="subjectDesc != null">
		subject_desc = #{subjectDesc,jdbcType=VARCHAR},
		</if>
		<if test="subjectRemark != null">
		subject_remark = #{subjectRemark,jdbcType=LONGVARCHAR},
		</if>
		<if test="subjectTag != null">
		subject_tag = #{subjectTag,jdbcType=VARCHAR},
		</if>
		<if test="subjectLogo != null">
		subject_logo = #{subjectLogo,jdbcType=VARCHAR},
		</if>
		<if test="subjectType != null">
		subject_type = #{subjectType,jdbcType=VARCHAR},
		</if>
		<if test="subjectVersion != null">
		subject_version = #{subjectVersion,jdbcType=VARCHAR},
		</if>
		<if test="lastVersionId != null">
		last_version_id = #{lastVersionId,jdbcType=VARCHAR},
		</if>
		<if test="subjectPrice != null">
		subject_price = #{subjectPrice,jdbcType=DECIMAL},
		</if>
		<if test="classScore != null">
		class_score = #{classScore,jdbcType=DECIMAL},
		</if>
		<if test="classHour != null">
		class_hour = #{classHour,jdbcType=DECIMAL},
		</if>
		<if test="subjectRef != null">
		subject_ref = #{subjectRef,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="deployUserId != null">
		deploy_user_id = #{deployUserId,jdbcType=VARCHAR},
		</if>
		<if test="deployTime != null">
		deploy_time = #{deployTime,jdbcType=VARCHAR},
		</if>
		<if test="display != null">
		display = #{display,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="subjectTechnology != null">
		subject_technology = #{subjectTechnology,jdbcType=VARCHAR},
		</if>
		<if test="viewNum != null">
		view_num = #{viewNum,jdbcType=INTEGER},
		</if>
		
		<if test="starLevel != null">
		star_level = #{starLevel,jdbcType=INTEGER} ,
		</if>
		<if test="storeNum != null">
		store_num = #{storeNum,jdbcType=INTEGER} ,
		</if>
		<if test="likeNum != null">
		like_num = #{likeNum,jdbcType=INTEGER} ,
		</if>
		<if test="reportNum != null">
		report_num = #{reportNum,jdbcType=INTEGER},
		</if>
	
		</set>
		WHERE
		subject_id = #{subjectId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOK_SUBJECT WHERE
		subject_id =
		#{subjectId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOK_SUBJECT WHERE
		subject_id in
		<foreach item="subjectId" collection="array" open="("
			separator="," close=")">
#{subjectId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_BOOK_SUBJECT WHERE
		subject_id = #{subjectId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_BOOK_SUBJECT
        <where>
                <if test="orgId != null and orgId.trim() != ''">
                and org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="subjectNo != null and subjectNo.trim() != ''">
                and subject_no =#{subjectNo,jdbcType=VARCHAR}            </if>
                <if test="subjectName != null and subjectName.trim() != ''">
                and subject_name =#{subjectName,jdbcType=VARCHAR}            </if>
                <if test="subjectAuthor != null and subjectAuthor.trim() != ''">
                and subject_author =#{subjectAuthor,jdbcType=VARCHAR}            </if>
                <if test="publishingHouse != null and publishingHouse.trim() != ''">
                and publishing_house =#{publishingHouse,jdbcType=VARCHAR}            </if>
                <if test="subjectDesc != null and subjectDesc.trim() != ''">
                and subject_desc =#{subjectDesc,jdbcType=VARCHAR}            </if>
                <if test="subjectRemark != null and subjectRemark.trim() != ''">
                and subject_remark =#{subjectRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="subjectTag != null and subjectTag.trim() != ''">
                and subject_tag =#{subjectTag,jdbcType=VARCHAR}            </if>
                <if test="subjectLogo != null and subjectLogo.trim() != ''">
                and subject_logo =#{subjectLogo,jdbcType=VARCHAR}            </if>
                <if test="subjectType != null and subjectType.trim() != ''">
                and subject_type =#{subjectType,jdbcType=VARCHAR}            </if>
                <if test="subjectVersion != null and subjectVersion.trim() != ''">
                and subject_version =#{subjectVersion,jdbcType=VARCHAR}            </if>
                <if test="lastVersionId != null and lastVersionId.trim() != ''">
                and last_version_id =#{lastVersionId,jdbcType=VARCHAR}            </if>
                <if test="subjectPrice != null and subjectPrice != ''">
                and subject_price =#{subjectPrice,jdbcType=DECIMAL}            </if>
                <if test="classScore != null and classScore != ''">
                and class_score =#{classScore,jdbcType=DECIMAL}            </if>
                <if test="classHour != null and classHour != ''">
                and class_hour =#{classHour,jdbcType=DECIMAL}            </if>
                <if test="subjectRef != null and subjectRef.trim() != ''">
                and subject_ref =#{subjectRef,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="deployUserId != null and deployUserId.trim() != ''">
                and deploy_user_id =#{deployUserId,jdbcType=VARCHAR}            </if>
                <if test="deployTime != null and deployTime.trim() != ''">
                and deploy_time =#{deployTime,jdbcType=VARCHAR}            </if>
                <if test="display != null and display.trim() != ''">
                and display =#{display,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="subjectTechnology != null and subjectTechnology.trim() != ''">
                and subject_technology =#{subjectTechnology,jdbcType=VARCHAR}            </if>
                <if test="viewNum != null">
                and view_num =#{viewNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by subject_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_BOOK_SUBJECT t1
        <where>
        		<if test="subjectIds != null and subjectIds.size() > 0">
                and t1.subject_id in
	                <foreach collection="subjectIds" item="subjectId" open="("
						separator="," close=")">
						#{subjectId}
					</foreach>
                </if>
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="subjectNo != null and subjectNo.trim() != ''">
                and t1.subject_no =#{subjectNo,jdbcType=VARCHAR}            </if>
                <if test="subjectName != null and subjectName.trim() != ''">
                and t1.subject_name =#{subjectName,jdbcType=VARCHAR}            </if>
                <if test="subjectAuthor != null and subjectAuthor.trim() != ''">
                and t1.subject_author =#{subjectAuthor,jdbcType=VARCHAR}            </if>
                <if test="publishingHouse != null and publishingHouse.trim() != ''">
                and t1.publishing_house =#{publishingHouse,jdbcType=VARCHAR}            </if>
                <if test="subjectDesc != null and subjectDesc.trim() != ''">
                and t1.subject_desc =#{subjectDesc,jdbcType=VARCHAR}            </if>
                <if test="subjectRemark != null and subjectRemark.trim() != ''">
                and t1.subject_remark =#{subjectRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="subjectTag != null and subjectTag.trim() != ''">
                and t1.subject_tag =#{subjectTag,jdbcType=VARCHAR}            </if>
                <if test="subjectLogo != null and subjectLogo.trim() != ''">
                and t1.subject_logo =#{subjectLogo,jdbcType=VARCHAR}            </if>
                <if test="subjectType != null and subjectType.trim() != ''">
                and t1.subject_type =#{subjectType,jdbcType=VARCHAR}            </if>
                <if test="subjectVersion != null and subjectVersion.trim() != ''">
                and t1.subject_version =#{subjectVersion,jdbcType=VARCHAR}            </if>
                <if test="lastVersionId != null and lastVersionId.trim() != ''">
                and t1.last_version_id =#{lastVersionId,jdbcType=VARCHAR}            </if>
                <if test="subjectPrice != null and subjectPrice != ''">
                and t1.subject_price =#{subjectPrice,jdbcType=DECIMAL}            </if>
                <if test="classScore != null and classScore != ''">
                and t1.class_score =#{classScore,jdbcType=DECIMAL}            </if>
                <if test="classHour != null and classHour != ''">
                and t1.class_hour =#{classHour,jdbcType=DECIMAL}            </if>
                <if test="subjectRef != null and subjectRef.trim() != ''">
                and t1.subject_ref =#{subjectRef,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="deployUserId != null and deployUserId.trim() != ''">
                and t1.deploy_user_id =#{deployUserId,jdbcType=VARCHAR}            </if>
                <if test="deployTime != null and deployTime.trim() != ''">
                and t1.deploy_time =#{deployTime,jdbcType=VARCHAR}            </if>
                <if test="display != null and display.trim() != ''">
                and t1.display =#{display,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="subjectTechnology != null and subjectTechnology.trim() != ''">
                and t1.subject_technology =#{subjectTechnology,jdbcType=VARCHAR}            </if>
                <if test="viewNum != null">
                and t1.view_num =#{viewNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.subject_id  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 前端使用 注:subject_ref未空或空字符，代表的是课程，反之是老师录入的活教材 -->
    <select id="selectListByMapForWeb" resultMap="BaseResultMap"
        parameterType="map">
        select t1.* from T_EVGL_BOOK_SUBJECT t1 
        left join t_evgl_book_subperiod t2 on t1.subject_ref = t2.subject_id
        <where>
        		<if test="majorId != null and majorId.trim() != ''">
                and t2.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                
                <if test="majorIds != null and majorIds.size() > 0">
	                and t2.major_id in
	                <foreach collection="majorIds" item="majorId" open="("
						separator="," close=")">
						#{majorId}
					</foreach>
                </if>
                
                <if test="subjectIds != null and subjectIds.size() > 0">
	                and t1.subject_id in
	                <foreach collection="subjectIds" item="subjectId" open="("
						separator="," close=")">
						#{subjectId}
					</foreach>
                </if>
                
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="subjectNo != null and subjectNo.trim() != ''">
                and t1.subject_no =#{subjectNo,jdbcType=VARCHAR}            </if>
                <if test="subjectName != null and subjectName.trim() != ''">
                and t1.subject_name =#{subjectName,jdbcType=VARCHAR}            </if>
                <if test="subjectAuthor != null and subjectAuthor.trim() != ''">
                and t1.subject_author =#{subjectAuthor,jdbcType=VARCHAR}            </if>
                <if test="publishingHouse != null and publishingHouse.trim() != ''">
                and t1.publishing_house =#{publishingHouse,jdbcType=VARCHAR}            </if>
                <if test="subjectDesc != null and subjectDesc.trim() != ''">
                and t1.subject_desc =#{subjectDesc,jdbcType=VARCHAR}            </if>
                <if test="subjectRemark != null and subjectRemark.trim() != ''">
                and t1.subject_remark =#{subjectRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="subjectTag != null and subjectTag.trim() != ''">
                and t1.subject_tag =#{subjectTag,jdbcType=VARCHAR}            </if>
                <if test="subjectLogo != null and subjectLogo.trim() != ''">
                and t1.subject_logo =#{subjectLogo,jdbcType=VARCHAR}            </if>
                <if test="subjectType != null and subjectType.trim() != ''">
                and t1.subject_type =#{subjectType,jdbcType=VARCHAR}            </if>
                <if test="subjectVersion != null and subjectVersion.trim() != ''">
                and t1.subject_version =#{subjectVersion,jdbcType=VARCHAR}            </if>
                <if test="lastVersionId != null and lastVersionId.trim() != ''">
                and t1.last_version_id =#{lastVersionId,jdbcType=VARCHAR}            </if>
                <if test="subjectPrice != null and subjectPrice != ''">
                and t1.subject_price =#{subjectPrice,jdbcType=DECIMAL}            </if>
                <if test="classScore != null and classScore != ''">
                and t1.class_score =#{classScore,jdbcType=DECIMAL}            </if>
                <if test="classHour != null and classHour != ''">
                and t1.class_hour =#{classHour,jdbcType=DECIMAL}            </if>
                <if test="subjectRef != null and subjectRef.trim() != ''">
                and t1.subject_ref =#{subjectRef,jdbcType=VARCHAR}            </if>
                
                <!-- 额外的条件区分课程和教材begin -->
                <if test='isSubjectRefNull != null and isSubjectRefNull.trim() == "Y"'>
                and t1.subject_ref is null or t1.subject_ref = ""         </if>
                <if test='isSubjectRefNotNull != null and isSubjectRefNotNull.trim() == "Y"'>
                and t1.subject_ref is not null and t1.subject_ref != ""         </if>
                <!-- 额外的条件区分课程和教材end -->
                
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="deployUserId != null and deployUserId.trim() != ''">
                and t1.deploy_user_id =#{deployUserId,jdbcType=VARCHAR}            </if>
                <if test="deployTime != null and deployTime.trim() != ''">
                and t1.deploy_time =#{deployTime,jdbcType=VARCHAR}            </if>
                <if test="display != null and display.trim() != ''">
                and t1.display =#{display,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                
                <!-- 课程所属技术 -->
                <if test="subjectTechnology != null and subjectTechnology.trim() != ''">
                <!-- and t1.subject_technology =#{subjectTechnology,jdbcType=VARCHAR} -->
                and FIND_IN_SET(#{subjectTechnology}, t1.subject_technology)
                </if>
                <!-- 课程属性 -->
                <if test="subjectProperty != null and subjectProperty.trim() != ''">
                and t2.subject_property =#{subjectProperty,jdbcType=VARCHAR}            </if>
                <!-- 阅读量 -->
                <if test="viewNum != null">
                and t1.view_num =#{viewNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by subject_id  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 公共方法，注意此方法只会查询subject_ref为空的记录 -->
    <select id="selectListByMapForCommon" resultMap="BaseResultMap"
        parameterType="map">
        select t1.* from T_EVGL_BOOK_SUBJECT t1 
        inner join t_evgl_book_subperiod t2 on t1.subject_id = t2.subject_id
        <where>
        		(t1.subject_ref is null or t1.subject_ref = '')
        		
        		<if test="majorId != null and majorId.trim() != ''">
                and t2.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                
                <if test="majorIds != null and majorIds.size() > 0">
	                and t2.major_id in
	                <foreach collection="majorIds" item="majorId" open="("
						separator="," close=")">
						#{majorId}
					</foreach>
                </if>
                
                <if test="subjectIds != null and subjectIds.size() > 0">
	                and t1.subject_id in
	                <foreach collection="subjectIds" item="subjectId" open="("
						separator="," close=")">
						#{subjectId}
					</foreach>
                </if>
                
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="subjectNo != null and subjectNo.trim() != ''">
                and t1.subject_no =#{subjectNo,jdbcType=VARCHAR}            </if>
                <if test="subjectName != null and subjectName.trim() != ''">
                and t1.subject_name =#{subjectName,jdbcType=VARCHAR}            </if>
                <if test="subjectAuthor != null and subjectAuthor.trim() != ''">
                and t1.subject_author =#{subjectAuthor,jdbcType=VARCHAR}            </if>
                <if test="publishingHouse != null and publishingHouse.trim() != ''">
                and t1.publishing_house =#{publishingHouse,jdbcType=VARCHAR}            </if>
                <if test="subjectDesc != null and subjectDesc.trim() != ''">
                and t1.subject_desc =#{subjectDesc,jdbcType=VARCHAR}            </if>
                <if test="subjectRemark != null and subjectRemark.trim() != ''">
                and t1.subject_remark =#{subjectRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="subjectTag != null and subjectTag.trim() != ''">
                and t1.subject_tag =#{subjectTag,jdbcType=VARCHAR}            </if>
                <if test="subjectLogo != null and subjectLogo.trim() != ''">
                and t1.subject_logo =#{subjectLogo,jdbcType=VARCHAR}            </if>
                <if test="subjectType != null and subjectType.trim() != ''">
                and t1.subject_type =#{subjectType,jdbcType=VARCHAR}            </if>
                <if test="subjectVersion != null and subjectVersion.trim() != ''">
                and t1.subject_version =#{subjectVersion,jdbcType=VARCHAR}            </if>
                <if test="lastVersionId != null and lastVersionId.trim() != ''">
                and t1.last_version_id =#{lastVersionId,jdbcType=VARCHAR}            </if>
                <if test="subjectPrice != null and subjectPrice != ''">
                and t1.subject_price =#{subjectPrice,jdbcType=DECIMAL}            </if>
                <if test="classScore != null and classScore != ''">
                and t1.class_score =#{classScore,jdbcType=DECIMAL}            </if>
                <if test="classHour != null and classHour != ''">
                and t1.class_hour =#{classHour,jdbcType=DECIMAL}            </if>
                
                <if test="subjectRef != null and subjectRef.trim() != ''">
                and t1.subject_ref =#{subjectRef,jdbcType=VARCHAR}            </if>
                <if test='isSubjectRefNull != null and isSubjectRefNull.trim() == "Y"'>
                and t1.subject_ref is null or t1.subject_ref = ""         </if>
                <if test='isSubjectRefNotNull != null and isSubjectRefNotNull.trim() == "Y"'>
                and t1.subject_ref is not null and t1.subject_ref != ""         </if>
                
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="deployUserId != null and deployUserId.trim() != ''">
                and t1.deploy_user_id =#{deployUserId,jdbcType=VARCHAR}            </if>
                <if test="deployTime != null and deployTime.trim() != ''">
                and t1.deploy_time =#{deployTime,jdbcType=VARCHAR}            </if>
                <if test="display != null and display.trim() != ''">
                and t1.display =#{display,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                
                <!-- 课程所属技术 -->
                <if test="subjectTechnology != null and subjectTechnology.trim() != ''">
                and t1.subject_technology =#{subjectTechnology,jdbcType=VARCHAR}            </if>
                <!-- 课程属性 -->
                <if test="subjectProperty != null and subjectProperty.trim() != ''">
                and t2.subject_property =#{subjectProperty,jdbcType=VARCHAR}            </if>
                <!-- 阅读量 -->
                <if test="viewNum != null">
                and t1.view_num =#{viewNum,jdbcType=INTEGER}            </if>
        </where>
        group by t1.subject_id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by subject_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListByMapForMgr" resultType="map"
        parameterType="map">
        select t1.*,t2.subperiod_id,t2.major_id,t2.sort_num,t2.subject_property,t2.term from T_EVGL_BOOK_SUBJECT t1 
        left join t_evgl_book_subperiod t2 on t1.subject_id = t2.subject_id
        <where>
        		<if test="majorId != null and majorId.trim() != ''">
                and t2.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                
                <if test="majorIds != null and majorIds.size() > 0">
	                and t2.major_id in
	                <foreach collection="majorIds" item="majorId" open="("
						separator="," close=")">
						#{majorId}
					</foreach>
                </if>
                
                <if test="subjectIds != null and subjectIds.size() > 0">
	                and t1.subject_id in
	                <foreach collection="subjectIds" item="subjectId" open="("
						separator="," close=")">
						#{subjectId}
					</foreach>
                </if>
                
                <if test="term != null and term.trim() != ''">
                and t2.term =#{term,jdbcType=VARCHAR}            </if>
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="subjectNo != null and subjectNo.trim() != ''">
                and t1.subject_no =#{subjectNo,jdbcType=VARCHAR}            </if>
                <if test="subjectName != null and subjectName.trim() != ''">
                and t1.subject_name =#{subjectName,jdbcType=VARCHAR}            </if>
                <if test="subjectAuthor != null and subjectAuthor.trim() != ''">
                and t1.subject_author =#{subjectAuthor,jdbcType=VARCHAR}            </if>
                <if test="publishingHouse != null and publishingHouse.trim() != ''">
                and t1.publishing_house =#{publishingHouse,jdbcType=VARCHAR}            </if>
                <if test="subjectDesc != null and subjectDesc.trim() != ''">
                and t1.subject_desc =#{subjectDesc,jdbcType=VARCHAR}            </if>
                <if test="subjectRemark != null and subjectRemark.trim() != ''">
                and t1.subject_remark =#{subjectRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="subjectTag != null and subjectTag.trim() != ''">
                and t1.subject_tag =#{subjectTag,jdbcType=VARCHAR}            </if>
                <if test="subjectLogo != null and subjectLogo.trim() != ''">
                and t1.subject_logo =#{subjectLogo,jdbcType=VARCHAR}            </if>
                <if test="subjectType != null and subjectType.trim() != ''">
                and t1.subject_type =#{subjectType,jdbcType=VARCHAR}            </if>
                <if test="subjectVersion != null and subjectVersion.trim() != ''">
                and t1.subject_version =#{subjectVersion,jdbcType=VARCHAR}            </if>
                <if test="lastVersionId != null and lastVersionId.trim() != ''">
                and t1.last_version_id =#{lastVersionId,jdbcType=VARCHAR}            </if>
                <if test="subjectPrice != null and subjectPrice != ''">
                and t1.subject_price =#{subjectPrice,jdbcType=DECIMAL}            </if>
                <if test="classScore != null and classScore != ''">
                and t1.class_score =#{classScore,jdbcType=DECIMAL}            </if>
                <if test="classHour != null and classHour != ''">
                and t1.class_hour =#{classHour,jdbcType=DECIMAL}            </if>
                <if test="subjectRef != null and subjectRef.trim() != ''">
                and t1.subject_ref =#{subjectRef,jdbcType=VARCHAR}            </if>
                
                <!-- 额外的条件区分课程和教材begin -->
                <if test='isSubjectRefNull != null and isSubjectRefNull.trim() == "Y"'>
                and t1.subject_ref is null or t1.subject_ref = ""         </if>
                <if test='isSubjectRefNotNull != null and isSubjectRefNotNull.trim() == "Y"'>
                and t1.subject_ref is not null and t1.subject_ref != ""         </if>
                <!-- 额外的条件区分课程和教材end -->
                
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="deployUserId != null and deployUserId.trim() != ''">
                and t1.deploy_user_id =#{deployUserId,jdbcType=VARCHAR}            </if>
                <if test="deployTime != null and deployTime.trim() != ''">
                and t1.deploy_time =#{deployTime,jdbcType=VARCHAR}            </if>
                <if test="display != null and display.trim() != ''">
                and t1.display =#{display,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                
                <!-- 课程所属技术 -->
                <if test="subjectTechnology != null and subjectTechnology.trim() != ''">
                and t1.subject_technology =#{subjectTechnology,jdbcType=VARCHAR}            </if>
                <!-- 课程属性 -->
                <if test="subjectProperty != null and subjectProperty.trim() != ''">
                and t2.subject_property =#{subjectProperty,jdbcType=VARCHAR}            </if>
                <!-- 阅读量 -->
                <if test="viewNum != null">
                and t1.view_num =#{viewNum,jdbcType=INTEGER}            </if>
        </where>
        group by t1.subject_id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t2.sort_num  asc
            </otherwise>
        </choose>
    </select>
    <!-- 用于更新阅读量、点赞数、星级、收藏数等 -->
    <select id="updateNum" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookSubject">
		UPDATE T_EVGL_BOOK_SUBJECT 
		<set>
	        <if test="viewNum != null">
	        view_num = IFNULL(view_num,0) + #{viewNum,jdbcType=INTEGER},
	        </if>
	        <if test="starLevel != null">
	        star_level = IFNULL(star_level,0) + #{starLevel,jdbcType=INTEGER},
	        </if>
	        <if test="viewNum != null">
	        store_num = IFNULL(store_num,0) + #{viewNum,jdbcType=INTEGER},
	        </if>
	        <if test="likeNum != null">
	        like_num = IFNULL(like_num,0) + #{likeNum,jdbcType=INTEGER},
	        </if>
	        <if test="reportNum != null">
	        report_num = IFNULL(report_num,0) + #{reportNum,jdbcType=INTEGER},
	        </if>
        </set>
        WHERE
        subject_id = #{subjectId,jdbcType=VARCHAR} ;
	</select>
	
	<select id="selectSubjectList" resultMap="BaseResultMap"
        parameterType="map">
		SELECT
			distinct t1.subject_name,
			t2.subperiod_id,
			t2.major_id,
			t2.sort_num,
			t2.subject_property,
			t2.term 
		FROM
			T_EVGL_BOOK_SUBJECT t1
			LEFT JOIN t_evgl_book_subperiod t2 ON t1.subject_id = t2.subject_id
	</select>
	
	
	<!-- 云教材列表 -->
	<select id="queryLiveBookList" resultType="map" parameterType="map">
		select t.* from
		(
		
			
			select null as ctId, null as roomName, t1.pkg_id as pkgId, 'pkg' as type, t1.ref_pkg_id as refPkgId,
			t2.subject_id as subjectId, t2.subject_name as subjectName, ifnull(t6.trainee_name, t6.nick_name) as subjectAuthor,
			t2.subject_ref as subjectRef, t1.deploy_time as deployTime, t1.pkg_logo as pkgLogo,
			t1.pkg_limit as pkgLimit, t1.create_user_id as createUserId, t2.view_num as viewNum, sub.major_id as majorId
			from t_evgl_pkg_info t1
			inner join t_evgl_book_subject t2 on t1.subject_id = t2.subject_id
			inner join t_evgl_trainee_info t3 on t1.create_user_id = t3.trainee_id
			inner join t_evgl_book_subperiod sub on t2.subject_ref = sub.subject_id
			inner join t_evgl_trainee_info t6 on t1.create_user_id = t6.trainee_id
			where t1.pkg_id in (
				select pkg_id from t_evgl_pkg_info as b 
				where not exists(select 1 from t_evgl_pkg_info where ref_pkg_id = b.ref_pkg_id and display is null and b.create_time &lt; create_time )
				and b.release_status = "Y"
				and b.ref_pkg_id not in (select t1.pkg_id from t_evgl_tch_classroom t1)
			)
			group by t1.pkg_id
			
			union all

			select t1.ct_id as ctId, t1.name as roomName, t1.pkg_id as pkgId, 'old' as type, t3.ref_pkg_id as refPkgId,
			t5.subject_id as subjectId, t5.subject_name as subjectName, ifnull(t6.trainee_name, t6.nick_name) as subjectAuthor,
			t5.subject_ref as subjectRef, t3.deploy_time as deployTime, t3.pkg_logo as pkgLogo,
			t3.pkg_limit as pkgLimit, t3.create_user_id as createUserId, t5.view_num as viewNum, sub.major_id as majorId
			from t_evgl_tch_classroom t1 
			inner join t_evgl_pkg_info t3 on t1.pkg_id = t3.pkg_id
			inner join t_evgl_book_subject t5 on t3.subject_id = t5.subject_id
			inner join t_evgl_book_subperiod sub on t5.subject_ref = sub.subject_id
			left join t_evgl_trainee_info t6 on t1.create_user_id = t6.trainee_id
			where t1.ct_id in ("9878329d01bf44018168583a0001d353")
			
		) t
		<where>
			<if test="subjectRefList != null and subjectRefList.size() > 0">
				and t.subjectRef in 
				<foreach collection="subjectRefList" item="subjectRef" open="(" separator="," close=")">
			        #{subjectRef,jdbcType=VARCHAR}
			    </foreach>
			</if>
			<if test="majorId != null and majorId.trim() != ''">
				and t.majorId = #{majorId,jdbcType=VARCHAR}
			</if>
			<if test="subjectName != null and subjectName.trim() != ''">
				and t.subjectName like concat ('%', #{subjectName,jdbcType=VARCHAR}, '%') 
			</if>
		</where>
		<choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t.subjectId desc
            </otherwise>
        </choose>
	</select>
    
    <!-- 我的书架列表，展示的是参与的课堂中的活教材和收藏的免费教材 -->
	<select id="queryMyBookListVo" parameterType="map" resultType="com.ossbar.modules.evgl.book.vo.MyBookVo">
		select t.* from
		(

			select t1.ct_id as ctId, t1.name as roomName, t1.classroom_state as classroomState, t1.pkg_id as pkgId, 'room' as type, t3.ref_pkg_id as refPkgId,
			t4.subject_id as subjectId, t4.subject_name as subjectName, ifnull(t6.trainee_name, t6.nick_name) as subjectAuthor,
			t4.subject_ref as subjectRef, t3.deploy_time as deployTime, t3.pkg_logo as pkgLogo,
			t3.pkg_limit as pkgLimit, t3.create_user_id as createUserId, t4.view_num as viewNum
			from t_evgl_tch_classroom t1
			inner join t_evgl_tch_classroom_trainee t2 on t1.ct_id = t2.ct_id and t2.trainee_id = #{loginUserId}
			inner join t_evgl_pkg_info t3 on t1.pkg_id = t3.pkg_id
			inner join t_evgl_book_subject t4 on t3.subject_id = t4.subject_id
			inner join t_evgl_trainee_info t6 on t1.create_user_id = t6.trainee_id

			union all

			select null as ctId, null as roomName, null as classroomState, t1.pkg_id as pkgId, 'collec' as type, t3.ref_pkg_id as refPkgId,
			t4.subject_id as subjectId, t4.subject_name as subjectName, t4.subject_author as subjectAuthor,
			t4.subject_ref as subjectRef, t3.deploy_time as deployTime, t3.pkg_logo as pkgLogo,
			t3.pkg_limit as pkgLimit, t4.create_user_id as createUserId, t4.view_num as viewNum
			from t_medu_me_favority t1
			inner join t_evgl_pkg_info t3 on t1.pkg_id = t3.pkg_id
			inner join t_evgl_book_subject t4 on t1.target_id = t4.subject_id

		) t
		<where>
			<if test="subjectName != null and subjectName.trim() != ''">
				and t.subjectName like concat ('%', #{subjectName,jdbcType=VARCHAR}, '%')
			</if>
		</where>
		GROUP BY t.subjectId
	</select>
	
	<select id="querySubjectList" parameterType="map" resultType="com.ossbar.modules.evgl.book.vo.TevglBookSubjectSelectVo">
        select t1.subject_id, t1.subject_name, t1.subject_logo,t2.subperiod_id,t2.major_id,t2.sort_num,t2.subject_property,t2.term 
        from T_EVGL_BOOK_SUBJECT t1 
        inner join t_evgl_book_subperiod t2 on t1.subject_id = t2.subject_id
        <where>
        		(t1.subject_ref is null or t1.subject_ref = '')
        		<if test="majorId != null and majorId.trim() != ''">
                and t2.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                <if test="term != null and term.trim() != ''">
                and t2.term =#{term,jdbcType=VARCHAR}            </if>
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <!-- 额外的条件区分课程和教材begin -->
                <if test='isSubjectRefNull != null and isSubjectRefNull.trim() == "Y"'>
                and t1.subject_ref is null or t1.subject_ref = ""         </if>
                <if test='isSubjectRefNotNull != null and isSubjectRefNotNull.trim() == "Y"'>
                and t1.subject_ref is not null and t1.subject_ref != ""         </if>
                <!-- 额外的条件区分课程和教材end -->
                
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                
                <!-- 课程所属技术 -->
                <if test="subjectTechnology != null and subjectTechnology.trim() != ''">
                and t1.subject_technology =#{subjectTechnology,jdbcType=VARCHAR}            </if>
                <!-- 课程属性 -->
                <if test="subjectProperty != null and subjectProperty.trim() != ''">
                and t2.subject_property =#{subjectProperty,jdbcType=VARCHAR}            </if>
        </where>
        group by t1.subject_id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t2.sort_num  asc
            </otherwise>
        </choose>
    </select>
    
</mapper>

