<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.book.persistence.TevglBookChapterVisibleMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.book.domain.TevglBookChapterVisible">
		<result column="id" jdbcType="VARCHAR"
			property="id" />
		<result column="pkg_id" jdbcType="VARCHAR"
			property="pkgId" />
		<result column="chapter_id" jdbcType="VARCHAR"
			property="chapterId" />
		<result column="is_trainees_visible" jdbcType="VARCHAR"
			property="isTraineesVisible" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,pkg_id,chapter_id,is_trainees_visible
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookChapterVisible">
		INSERT INTO T_EVGL_BOOK_CHAPTER_VISIBLE (
		id ,
		pkg_id ,
		chapter_id ,
		is_trainees_visible 
		) VALUES (

#{id,jdbcType=VARCHAR} ,

#{pkgId,jdbcType=VARCHAR} ,

#{chapterId,jdbcType=VARCHAR} ,

#{isTraineesVisible,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.book.domain.TevglBookChapterVisible">
		UPDATE T_EVGL_BOOK_CHAPTER_VISIBLE 
		<set>
		<if test="pkgId != null">
		pkg_id = #{pkgId,jdbcType=VARCHAR},
		</if>
		<if test="chapterId != null">
		chapter_id = #{chapterId,jdbcType=VARCHAR},
		</if>
		<if test="isTraineesVisible != null">
		is_trainees_visible = #{isTraineesVisible,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		id = #{id,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOK_CHAPTER_VISIBLE WHERE
		id =
		#{id,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOK_CHAPTER_VISIBLE WHERE
		id in
		<foreach item="id" collection="array" open="("
			separator="," close=")">
#{id,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_BOOK_CHAPTER_VISIBLE WHERE
		id = #{id,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_BOOK_CHAPTER_VISIBLE
        <where>
                <if test="pkgId != null and pkgId.trim() != ''">
                and pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
                <if test="isTraineesVisible != null and isTraineesVisible.trim() != ''">
                and is_trainees_visible =#{isTraineesVisible,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_BOOK_CHAPTER_VISIBLE t1
        <where>
                <if test="pkgId != null and pkgId.trim() != ''">
                and t1.pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and t1.chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
                <if test="isTraineesVisible != null and isTraineesVisible.trim() != ''">
                and t1.is_trainees_visible =#{isTraineesVisible,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.id  desc
            </otherwise>
        </choose>
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List">
		insert into t_evgl_book_chapter_visible
			(id, pkg_id, chapter_id, is_trainees_visible)
		values
	    <foreach collection="list" item="obj" separator="," >
	    	(#{obj.id}, #{obj.pkgId}, #{obj.chapterId}, #{obj.isTraineesVisible})
	    </foreach>
	</insert>
	
	<insert id="updateVisibleBatch" parameterType="map">
		<if test="pkgId != null and pkgId.trim() != ''">
			update t_evgl_book_chapter_visible set is_trainees_visible = #{isTraineesVisible}
			where pkg_id = #{pkgId}
			<if test="chapterIds != null and chapterIds.size() > 0">
				and chapter_id in
				<foreach collection="chapterIds" item="chapterId" open="(" separator="," close=")">
					#{chapterId,jdbcType=VARCHAR}
				</foreach>
			</if>
		</if>
	</insert>
</mapper>

