<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.examine.persistence.TevglExamineHistoryPaperMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.examine.domain.TevglExamineHistoryPaper">
		<result column="history_id" jdbcType="VARCHAR"
			property="historyId" />
		<result column="dy_id" jdbcType="VARCHAR"
			property="dyId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="paper_begin_time" jdbcType="VARCHAR"
			property="paperBeginTime" />
		<result column="paper_end_time" jdbcType="VARCHAR"
			property="paperEndTime" />
		<result column="paper_final_score" jdbcType="VARCHAR"
			property="paperFinalScore" />
		<result column="paper_accuracy" jdbcType="VARCHAR"
			property="paperAccuracy" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		history_id,dy_id,trainee_id,paper_begin_time,paper_end_time,paper_final_score,paper_accuracy
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.examine.domain.TevglExamineHistoryPaper">
		INSERT INTO T_EVGL_EXAMINE_HISTORY_PAPER (
		history_id ,
		dy_id ,
		trainee_id ,
		paper_begin_time ,
		paper_end_time ,
		paper_final_score ,
		paper_accuracy 
		) VALUES (

#{historyId,jdbcType=VARCHAR} ,

#{dyId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{paperBeginTime,jdbcType=VARCHAR} ,

#{paperEndTime,jdbcType=VARCHAR} ,

#{paperFinalScore,jdbcType=VARCHAR} ,

#{paperAccuracy,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.examine.domain.TevglExamineHistoryPaper">
		UPDATE T_EVGL_EXAMINE_HISTORY_PAPER 
		<set>
		<if test="dyId != null">
		dy_id = #{dyId,jdbcType=VARCHAR},
		</if>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="paperBeginTime != null">
		paper_begin_time = #{paperBeginTime,jdbcType=VARCHAR},
		</if>
		<if test="paperEndTime != null">
		paper_end_time = #{paperEndTime,jdbcType=VARCHAR},
		</if>
		<if test="paperFinalScore != null">
		paper_final_score = #{paperFinalScore,jdbcType=VARCHAR},
		</if>
		<if test="paperAccuracy != null">
		paper_accuracy = #{paperAccuracy,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		history_id = #{historyId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_EXAMINE_HISTORY_PAPER WHERE
		history_id =
		#{historyId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_EXAMINE_HISTORY_PAPER WHERE
		history_id in
		<foreach item="historyId" collection="array" open="("
			separator="," close=")">
#{historyId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_EXAMINE_HISTORY_PAPER WHERE
		history_id = #{historyId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_EXAMINE_HISTORY_PAPER
        <where>
                <if test="dyId != null and dyId.trim() != ''">
                and dy_id =#{dyId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="paperBeginTime != null and paperBeginTime.trim() != ''">
                and paper_begin_time =#{paperBeginTime,jdbcType=VARCHAR}            </if>
                <if test="paperEndTime != null and paperEndTime.trim() != ''">
                and paper_end_time =#{paperEndTime,jdbcType=VARCHAR}            </if>
                <if test="paperFinalScore != null and paperFinalScore.trim() != ''">
                and paper_final_score =#{paperFinalScore,jdbcType=VARCHAR}            </if>
                <if test="paperAccuracy != null and paperAccuracy.trim() != ''">
                and paper_accuracy =#{paperAccuracy,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by history_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_EXAMINE_HISTORY_PAPER t1
        <where>
                <if test="dyId != null and dyId.trim() != ''">
                and t1.dy_id =#{dyId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="paperBeginTime != null and paperBeginTime.trim() != ''">
                and t1.paper_begin_time =#{paperBeginTime,jdbcType=VARCHAR}            </if>
                <if test="paperEndTime != null and paperEndTime.trim() != ''">
                and t1.paper_end_time =#{paperEndTime,jdbcType=VARCHAR}            </if>
                <if test="paperFinalScore != null and paperFinalScore.trim() != ''">
                and t1.paper_final_score =#{paperFinalScore,jdbcType=VARCHAR}            </if>
                <if test="paperAccuracy != null and paperAccuracy.trim() != ''">
                and t1.paper_accuracy =#{paperAccuracy,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.history_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

