<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.ScheduleJobLogMapper">
	<select id="selectObjectByLogId"
		resultType="com.ossbar.modules.sys.domain.ScheduleJobLogEntity">
		select * from t_schedule_job_log where log_id = #{logId}
	</select>

	<select id="selectListByMap"
		resultType="com.ossbar.modules.sys.domain.ScheduleJobLogEntity">
		select * from t_schedule_job_log
		<where>
			<if test="methodName != null and methodName.trim() != ''">
				and method_name = #{methodName}
			</if>
			<if test="beanName != null and beanName.trim() != ''">
			  and bean_name like concat('%', #{beanName}, '%')
			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by create_time desc,update_time desc
			</otherwise>
		</choose>
	</select>

	<insert id="insert"
		parameterType="com.ossbar.modules.sys.domain.ScheduleJobLogEntity">
		insert into t_schedule_job_log
		(
		log_id,
		job_id,
		bean_name,
		method_name,
		params,
		status,
		error,
		times,
		create_user_id,
		create_time,
		update_user_id,
		update_time
		)
		values
		(
		#{logId},
		#{jobId},
		#{beanName},
		#{methodName},
		#{params},
		#{status},
		#{error},
		#{times},
		#{createUserId},
		#{createTime},
		#{updateUserId},
		#{updateTime}
		)
	</insert>

</mapper>