<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.TsysResourceMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.sys.domain.TsysResource">
		<result column="menu_id" jdbcType="VARCHAR" property="menuId" />
		<result column="parent_id" jdbcType="VARCHAR" property="parentId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="perms" jdbcType="VARCHAR" property="perms" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="order_num" jdbcType="INTEGER" property="orderNum" />
		<result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
		<result column="RESOURCE_CLASS" jdbcType="INTEGER" property="resourceClass" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="DISPLAY" jdbcType="VARCHAR" property="display" />
	</resultMap>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SYS_RESOURCE WHERE
		menu_id = #{menuId,jdbcType=VARCHAR}
	</select>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		menu_id,parent_id,name,url,perms,type,icon,order_num,ORG_ID,RESOURCE_CLASS,REMARK,DISPLAY,create_user_id,
		create_time,
		update_user_id,
		update_time
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.sys.domain.TsysResource">
		INSERT INTO T_SYS_RESOURCE (
		menu_id ,
		parent_id ,
		name ,
		url ,
		perms ,
		type ,
		icon ,
		order_num ,
		ORG_ID ,
		RESOURCE_CLASS ,
		REMARK ,
		DISPLAY,
		create_user_id,
		create_time,
		update_user_id,
		update_time
		) VALUES (

		#{menuId,jdbcType=VARCHAR} ,

		#{parentId,jdbcType=VARCHAR} ,

		#{name,jdbcType=VARCHAR} ,

		#{url,jdbcType=VARCHAR} ,

		#{perms,jdbcType=VARCHAR} ,

		#{type,jdbcType=INTEGER} ,

		#{icon,jdbcType=VARCHAR} ,

		#{orderNum,jdbcType=INTEGER} ,

		#{orgId,jdbcType=VARCHAR} ,

		#{resourceClass,jdbcType=INTEGER} ,

		#{remark,jdbcType=VARCHAR} ,

		#{display,jdbcType=VARCHAR},
		#{createUserId},
		#{createTime},
		#{updateUserId},
		#{updateTime}
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.sys.domain.TsysResource">
		UPDATE T_SYS_RESOURCE SET
		parent_id = #{parentId,jdbcType=VARCHAR},
		name =
		#{name,jdbcType=VARCHAR},
		url = #{url,jdbcType=VARCHAR},
		perms =
		#{perms,jdbcType=VARCHAR},
		type = #{type,jdbcType=INTEGER},
		icon =
		#{icon,jdbcType=VARCHAR},
		order_num = #{orderNum,jdbcType=INTEGER},
		ORG_ID = #{orgId,jdbcType=VARCHAR},
		RESOURCE_CLASS =
		#{resourceClass,jdbcType=INTEGER},
		REMARK = #{remark,jdbcType=VARCHAR},
		DISPLAY = #{display,jdbcType=VARCHAR},
		<if test="createUserId != null and createUserId.trim() != ''">
			create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null and createTime.trim() != ''">
			create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null and updateUserId.trim() != ''">
			update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null and updateTime.trim() != ''">
			update_time = #{updateTime,jdbcType=VARCHAR}
		</if>
		WHERE
		menu_id =
		#{menuId,jdbcType=VARCHAR}
	</update>

	<select id="selectListParentId" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select * from
		t_sys_resource where type &lt;= 2 and parent_id = #{parentId} order by order_num asc
	</select>
	<select id="selectListParentId2" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select * from
		t_sys_resource where
		parent_id = #{parentId} order by order_num asc
	</select>
	<select id="selectSubSysList" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select * from
		t_sys_resource where type = -1 order by order_num asc
	</select>

	<select id="selectNotButtonList" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select * from
		t_sys_resource where type &lt;= 1 order by order_num asc
	</select>

	<!-- 只查出基础平台自有资源，不包括其他系统的个性化资源 -->
	<select id="selectListByMap" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select m.*,(select p.name from t_sys_resource p where p.menu_id =
		m.parent_id) as parentName
		from t_sys_resource m where m.type &lt;= 2
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by m.${sidx} ${order}
			</when>
			<otherwise>
				order by m.order_num asc
			</otherwise>
		</choose>
	</select>
	<!-- 查出所有资源，包括其他系统的个性化资源，统一做授权 -->
	<select id="selectAllListByMap" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select m.*,(select p.name from t_sys_resource p where p.menu_id =
		m.parent_id) as parentName
		from t_sys_resource m
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by m.${sidx} ${order}
			</when>
			<otherwise>
				order by m.order_num asc
			</otherwise>
		</choose>
	</select>
	<!-- 查询用户的权限列表 -->
	<select id="selectUserList" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select distinct
		m.*,(select p.name from t_sys_resource p where p.menu_id =
		m.parent_id) as parentName
		from t_user_role ur
		LEFT JOIN
		t_sys_roleprivilege rm on ur.role_id = rm.role_id
		LEFT JOIN
		t_sys_resource m on rm.menu_id = m.menu_id
		where ur.user_id = #{userId}
		order by m.order_num asc
	</select>
	<delete id="deleteBatchRes">
		delete from t_sys_resource where menu_id in
		<foreach item="menuId" collection="array" open="(" separator=","
			close=")">
			#{menuId}
		</foreach>
	</delete>

	<delete id="deleteBatchRolPri">
		delete from t_sys_roleprivilege where menu_id in
		<foreach item="menuId" collection="array" open="(" separator=","
			close=")">
			#{menuId}
		</foreach>
	</delete>

	<select id="selectSubSysListByDisplay" resultType="com.ossbar.modules.sys.domain.TsysResource">
		select * from
		t_sys_resource where type = -1 and display =
		#{display} order by
		order_num asc
	</select>

	<select id="selectCountParentIdAndDisplay" resultType="int">
		select
		count(menu_id) from
		t_sys_resource where type &lt;=
		2 and
		parent_id =
		#{parentId} and display = #{display}
	</select>
	<select id="selectCountParentId" resultType="int" parameterType="java.lang.String">
		select
		count(menu_id) from
		t_sys_resource where type &lt;=
		2 and
		parent_id =
		#{parentId}
	</select>
	<select id="selectMaxOrderNumByParentId" parameterType="string" resultType="int">
		select IFNULL(max(order_num),0) from t_sys_resource where
		parent_id =
		#{parentId,jdbcType=VARCHAR}
	</select>
</mapper>