<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.sys.persistence.TsysSerialnoMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.sys.domain.TsysSerialno">
		<result column="SERIALNO_ID" jdbcType="VARCHAR"
			property="serialnoId" />
		<result column="SERIAL_NAME" jdbcType="VARCHAR"
			property="serialName" />
		<result column="SECOUND_NAME" jdbcType="VARCHAR"
			property="secoundName" />
		<result column="FORMULAR_REGX" jdbcType="VARCHAR"
			property="formularRegx" />
		<result column="CREATE_TYPE" jdbcType="VARCHAR"
			property="createType" />
		<result column="SERIAL_LENGTH" jdbcType="INTEGER"
			property="serialLength" />
		<result column="STEP" jdbcType="INTEGER"
			property="step" />
		<result column="INIT_VALUE" jdbcType="VARCHAR"
			property="initValue" />
		<result column="CURRENT_VALUE" jdbcType="VARCHAR"
			property="currentValue" />
		<result column="REMARK" jdbcType="VARCHAR"
			property="remark" />
		<result column="TAB_NAME" jdbcType="VARCHAR"
			property="tabName" />
		<result column="SFBL" jdbcType="VARCHAR"
			property="sfbl" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		SERIALNO_ID,SERIAL_NAME,SECOUND_NAME,FORMULAR_REGX,CREATE_TYPE,SERIAL_LENGTH,STEP,INIT_VALUE,CURRENT_VALUE,REMARK,TAB_NAME,SFBL
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.sys.domain.TsysSerialno">
		INSERT INTO T_SYS_SERIALNO (
		SERIALNO_ID ,
		SERIAL_NAME ,
		SECOUND_NAME ,
		FORMULAR_REGX ,
		CREATE_TYPE ,
		SERIAL_LENGTH ,
		STEP ,
		INIT_VALUE ,
		CURRENT_VALUE ,
		REMARK ,
		TAB_NAME ,
		SFBL,
		create_user_id,
		create_time,
		update_user_id,
		update_time 
		) VALUES (

		#{serialnoId,jdbcType=VARCHAR} ,

		#{serialName,jdbcType=VARCHAR} ,

		#{secoundName,jdbcType=VARCHAR} ,

		#{formularRegx,jdbcType=VARCHAR} ,

		#{createType,jdbcType=VARCHAR} ,

		#{serialLength,jdbcType=INTEGER} ,

		#{step,jdbcType=INTEGER} ,

		#{initValue,jdbcType=VARCHAR} ,

		#{currentValue,jdbcType=VARCHAR} ,

		#{remark,jdbcType=VARCHAR} ,

		#{tabName,jdbcType=VARCHAR} ,

		#{sfbl,jdbcType=VARCHAR},
		#{createUserId,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR},
		#{updateUserId,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR}
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.sys.domain.TsysSerialno">
		UPDATE T_SYS_SERIALNO SET
		SERIAL_NAME = #{serialName,jdbcType=VARCHAR}
		,
		SECOUND_NAME = #{secoundName,jdbcType=VARCHAR}
		,
		FORMULAR_REGX = #{formularRegx,jdbcType=VARCHAR}
		,
		CREATE_TYPE = #{createType,jdbcType=VARCHAR}
		,
		SERIAL_LENGTH = #{serialLength,jdbcType=INTEGER}
		,
		STEP = #{step,jdbcType=INTEGER}
		,
		INIT_VALUE = #{initValue,jdbcType=VARCHAR}
		,
		CURRENT_VALUE = #{currentValue,jdbcType=VARCHAR}
		,
		REMARK = #{remark,jdbcType=VARCHAR}
		,
		TAB_NAME = #{tabName,jdbcType=VARCHAR}
		,
		<if test="createUserId != null and createUserId.trim() != ''">
			create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null and createTime.trim() != ''">
			create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null and updateUserId.trim() != ''">
			update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null and updateTime.trim() != ''">
			update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		SFBL = #{sfbl,jdbcType=VARCHAR}
		
		WHERE
		SERIALNO_ID = #{serialnoId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_SYS_SERIALNO WHERE
		SERIALNO_ID = #{serialnoId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		delete from T_SYS_SERIALNO where SERIALNO_ID in
		<foreach item="serialnoId" collection="array" open="(" separator=","
			close=")">
			#{serialnoId}
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SYS_SERIALNO WHERE
		SERIALNO_ID = #{serialnoId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<select id="selectTotalByMap" parameterType="map" resultType="int">
		select count(*) from T_SYS_SERIALNO where 1 = 1
		<if test="serialName != null and serialName.trim() != ''">
			and SERIAL_NAME like concat('%',#{serialName},'%')
		</if>
		<if test="secoundName != null and secoundName.trim() != ''">
			and SECOUND_NAME like concat('%',#{secoundName},'%')
		</if>
	</select>
	<select id="selectListByMap" parameterType="map"
		resultType="com.ossbar.modules.sys.domain.TsysSerialno">
		select * from T_SYS_SERIALNO where 1 = 1
		<if test="serialName != null and serialName.trim() != ''">
			and SERIAL_NAME like concat('%',#{serialName},'%')
		</if>
		<if test="secoundName != null and secoundName.trim() != ''">
			and SECOUND_NAME like concat('%',#{secoundName},'%')
		</if>
		<choose>
		<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
			order by create_time desc,update_time desc 
			</otherwise>
		</choose>
	</select>
</mapper>

