<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper
	namespace="com.ossbar.modules.sys.persistence.TsysDataprivilegeMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.sys.domain.TsysDataprivilege">
		<result column="ROLE_ORGID" jdbcType="VARCHAR" property="roleOrgid" />
		<result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
		<result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		ROLE_ORGID,ORG_ID,ROLE_ID
	</sql>
	<insert id="insert"
		parameterType="com.ossbar.modules.sys.domain.TsysDataprivilege">
		INSERT INTO T_SYS_DATAPRIVILEGE (
		ROLE_ORGID ,
		ORG_ID ,
		ROLE_ID
		) VALUES (

		#{id,jdbcType=VARCHAR} ,

		#{orgId,jdbcType=VARCHAR} ,

		#{roleId,jdbcType=VARCHAR}
		)
	</insert>
	<update id="update"
		parameterType="com.ossbar.modules.sys.domain.TsysDataprivilege">
	UPDATE T_SYS_DATAPRIVILEGE SET
	ORG_ID =
	#{orgId,jdbcType=VARCHAR}
	,
	ROLE_ID = #{roleId,jdbcType=VARCHAR}

	WHERE
	ROLE_ORGID = #{roleOrgid,jdbcType=VARCHAR}
	</update>
	<delete id="delete">
		delete from T_SYS_DATAPRIVILEGE where role_id =
		#{value}
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SYS_DATAPRIVILEGE WHERE
		ROLE_ORGID =
		#{roleOrgid,jdbcType=VARCHAR}
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<select id="selectOrgListByRoleId" resultType="string">
		select org_id
		from
		T_SYS_DATAPRIVILEGE where role_id = #{value}
	</select>
	<select id="selectOrgListByRoleIds" resultType="String">
		select org_id
		from
		T_SYS_DATAPRIVILEGE where role_id in
		<foreach item="roleId" collection="array" open="(" separator=","
			close=")">
			#{roleId}
		</foreach>
	</select>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into T_SYS_DATAPRIVILEGE
		( ROLE_ORGID, ORG_ID, ROLE_ID )
		values
		<foreach collection="list" item="obj" separator="," >
			(
			#{obj.roleOrgid}, #{obj.orgId}, #{obj.roleId}
			)
		</foreach>
	</insert>
</mapper>

