<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><link rel="shortcut icon" href=static/ossbar/favicon.ico><script type=text/javascript src=static/ossbar/jquery-3.3.1.min.js></script><title>创蓝教育实训云平台</title><link href=./static/css/app.a9b9182010378b7fab7c54e3ed630cdb.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=./static/js/manifest.c3e07ad733da6347a05f.js></script><script type=text/javascript src=./static/js/vendor.96c61f7e6c040d6df913.js></script><script type=text/javascript src=./static/js/app.99c59ae29cf0f5490857.js></script></body><script>const screenWidth = window.screen.width;
  //[1920,]
  let fontStyleTag = document.getElementById("fontStyle")
  if (!fontStyleTag) {
    fontStyleTag = document.createElement('style')
    fontStyleTag.setAttribute('id', "fontStyle")
    document.body.appendChild(fontStyleTag)
  }
  if(screenWidth >= 1920){
    fontStyleTag.innerText = "html {font-size: 14px;}";
  //[1680, 1920)
  } else if(screenWidth >= 1680){
    fontStyleTag.innerText = "html {font-size: 13px;}";
  //[1366, 1680)
  }else if(screenWidth >= 1366){
    fontStyleTag.innerText = "html {font-size: 12px;}";
  //[, 1366)
  } else {
    fontStyleTag.innerText = "html {font-size: 11px;}";
  }</script></html>