<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.site.persistence.TevglSiteVideoMgrMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.site.domain.TevglSiteVideoMgr">
		<result column="vm_id" jdbcType="VARCHAR"
			property="vmId" />
		<result column="video_id" jdbcType="VARCHAR"
			property="videoId" />
		<result column="major_id" jdbcType="VARCHAR"
			property="majorId" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		vm_id,video_id,major_id
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.site.domain.TevglSiteVideoMgr">
		INSERT INTO T_EVGL_SITE_VIDEO_MGR (
		vm_id ,
		video_id ,
		major_id 
		) VALUES (

#{vmId,jdbcType=VARCHAR} ,

#{videoId,jdbcType=VARCHAR} ,

#{majorId,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.site.domain.TevglSiteVideoMgr">
		UPDATE T_EVGL_SITE_VIDEO_MGR 
		<set>
		<if test="videoId != null">
		video_id = #{videoId,jdbcType=VARCHAR},
		</if>
		<if test="majorId != null">
		major_id = #{majorId,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		vm_id = #{vmId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_VIDEO_MGR WHERE
		vm_id =
		#{vmId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_VIDEO_MGR WHERE
		vm_id in
		<foreach item="vmId" collection="array" open="("
			separator="," close=")">
#{vmId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_SITE_VIDEO_MGR WHERE
		vm_id = #{vmId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_SITE_VIDEO_MGR
        <where>
                <if test="videoId != null and videoId.trim() != ''">
                and video_id =#{videoId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and major_id =#{majorId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by vm_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_SITE_VIDEO_MGR t1
        <where>
                <if test="videoId != null and videoId.trim() != ''">
                and t1.video_id =#{videoId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.vm_id  desc
            </otherwise>
        </choose>
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List">
		insert into T_EVGL_SITE_VIDEO_MGR
		(
		vm_id, major_id, video_id
		)
		values
		<foreach collection="list" item="obj" separator="," >
			(
			#{obj.vmId}, #{obj.majorId}, #{obj.videoId}
			)
		</foreach>
	</insert>
</mapper>

