<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.site.persistence.TevglSiteSysMsgMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.site.domain.TevglSiteSysMsg">
		<result column="msg_id" jdbcType="VARCHAR"
			property="msgId" />
		<result column="to_trainee_id" jdbcType="VARCHAR"
			property="toTraineeId" />
		<result column="msg_title" jdbcType="VARCHAR"
			property="msgTitle" />
		<result column="msg_content" jdbcType="VARCHAR"
			property="msgContent" />
		<result column="msg_type" jdbcType="VARCHAR"
			property="msgType" />
		<result column="msg_pic" jdbcType="VARCHAR"
			property="msgPic" />
		<result column="msg_file" jdbcType="VARCHAR"
			property="msgFile" />
		<result column="read_state" jdbcType="VARCHAR"
			property="readState" />
		<result column="params1" jdbcType="VARCHAR"
			property="params1" />
		<result column="params2" jdbcType="VARCHAR"
			property="params2" />
		<result column="params3" jdbcType="VARCHAR"
			property="params3" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="pkg_id" jdbcType="VARCHAR"
			property="pkgId" />	
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		msg_id,to_trainee_id,msg_title,msg_content,msg_type,msg_pic,msg_file,read_state,params1,params2,params3,create_time,create_user_id,state,pkg_id
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.site.domain.TevglSiteSysMsg">
		INSERT INTO T_EVGL_SITE_SYS_MSG (
		msg_id ,
		to_trainee_id ,
		msg_title ,
		msg_content ,
		msg_type ,
		msg_pic ,
		msg_file ,
		read_state ,
		params1 ,
		params2 ,
		params3 ,
		create_time ,
		create_user_id ,
		state ,
		pkg_id
		) VALUES (

#{msgId,jdbcType=VARCHAR} ,

#{toTraineeId,jdbcType=VARCHAR} ,

#{msgTitle,jdbcType=VARCHAR} ,

#{msgContent,jdbcType=VARCHAR} ,

#{msgType,jdbcType=VARCHAR} ,

#{msgPic,jdbcType=VARCHAR} ,

#{msgFile,jdbcType=VARCHAR} ,

#{readState,jdbcType=VARCHAR} ,

#{params1,jdbcType=VARCHAR} ,

#{params2,jdbcType=VARCHAR} ,

#{params3,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR}  ,

#{pkgId,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.site.domain.TevglSiteSysMsg">
		UPDATE T_EVGL_SITE_SYS_MSG 
		<set>
		<if test="toTraineeId != null">
		to_trainee_id = #{toTraineeId,jdbcType=VARCHAR},
		</if>
		<if test="msgTitle != null">
		msg_title = #{msgTitle,jdbcType=VARCHAR},
		</if>
		<if test="msgContent != null">
		msg_content = #{msgContent,jdbcType=VARCHAR},
		</if>
		<if test="msgType != null">
		msg_type = #{msgType,jdbcType=VARCHAR},
		</if>
		<if test="msgPic != null">
		msg_pic = #{msgPic,jdbcType=VARCHAR},
		</if>
		<if test="msgFile != null">
		msg_file = #{msgFile,jdbcType=VARCHAR},
		</if>
		<if test="readState != null">
		read_state = #{readState,jdbcType=VARCHAR},
		</if>
		<if test="params1 != null">
		params1 = #{params1,jdbcType=VARCHAR},
		</if>
		<if test="params2 != null">
		params2 = #{params2,jdbcType=VARCHAR},
		</if>
		<if test="params3 != null">
		params3 = #{params3,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="pkgId != null">
		pkg_id = #{pkgId,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		msg_id = #{msgId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_SYS_MSG WHERE
		msg_id =
		#{msgId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_SYS_MSG WHERE
		msg_id in
		<foreach item="msgId" collection="array" open="("
			separator="," close=")">
#{msgId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_SITE_SYS_MSG WHERE
		msg_id = #{msgId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_SITE_SYS_MSG
        <where>
                <if test="toTraineeId != null and toTraineeId.trim() != ''">
                and to_trainee_id =#{toTraineeId,jdbcType=VARCHAR}            </if>
                <if test="msgTitle != null and msgTitle.trim() != ''">
                and msg_title =#{msgTitle,jdbcType=VARCHAR}            </if>
                <if test="msgContent != null and msgContent.trim() != ''">
                and msg_content =#{msgContent,jdbcType=VARCHAR}            </if>
                <if test="msgType != null and msgType.trim() != ''">
                and msg_type =#{msgType,jdbcType=VARCHAR}            </if>
                <if test="msgPic != null and msgPic.trim() != ''">
                and msg_pic =#{msgPic,jdbcType=VARCHAR}            </if>
                <if test="msgFile != null and msgFile.trim() != ''">
                and msg_file =#{msgFile,jdbcType=VARCHAR}            </if>
                <if test="readState != null and readState.trim() != ''">
                and read_state =#{readState,jdbcType=VARCHAR}            </if>
                <if test="params1 != null and params1.trim() != ''">
                and params1 =#{params1,jdbcType=VARCHAR}            </if>
                <if test="params2 != null and params2.trim() != ''">
                and params2 =#{params2,jdbcType=VARCHAR}            </if>
                <if test="params3 != null and params3.trim() != ''">
                and params3 =#{params3,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="pkgId != null and pkgId.trim() != ''">
                and pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by msg_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select t1.msg_id as msgId, t1.to_trainee_id as toTraineeId, t1.msg_title as msgTitle, t1.msg_content as msgContent,
        t1.msg_type as msgType, t1.msg_pic as msgPic, t1.msg_file as msgFile, t1.read_state as readState, t1.params1,
        t1.params2, t1.params3, t1.create_time as createTime, t1.create_user_id as createUserId, t1.state, t1.pkg_id as pkgId,
        ifnull(t2.trainee_name, t2.nick_name) as createUserName  
        from T_EVGL_SITE_SYS_MSG t1
        left join t_evgl_trainee_info t2 on t1.create_user_id = t2.trainee_id
        <where>
        		<if test="name != null and name.trim() != ''">
                and (t1.msg_title like concat ('%', #{name,jdbcType=VARCHAR}, '%') or t1.msg_content like concat ('%', #{name,jdbcType=VARCHAR}, '%'))            
                </if>
                <if test="toTraineeId != null and toTraineeId.trim() != ''">
                and t1.to_trainee_id =#{toTraineeId,jdbcType=VARCHAR}            </if>
                <if test="msgTitle != null and msgTitle.trim() != ''">
                and t1.msg_title =#{msgTitle,jdbcType=VARCHAR}            </if>
                <if test="msgContent != null and msgContent.trim() != ''">
                and t1.msg_content =#{msgContent,jdbcType=VARCHAR}            </if>
                <if test="msgType != null and msgType.trim() != ''">
                and t1.msg_type =#{msgType,jdbcType=VARCHAR}            </if>
                <if test="msgPic != null and msgPic.trim() != ''">
                and t1.msg_pic =#{msgPic,jdbcType=VARCHAR}            </if>
                <if test="msgFile != null and msgFile.trim() != ''">
                and t1.msg_file =#{msgFile,jdbcType=VARCHAR}            </if>
                <if test="readState != null and readState.trim() != ''">
                and t1.read_state =#{readState,jdbcType=VARCHAR}            </if>
                <if test="params1 != null and params1.trim() != ''">
                and t1.params1 =#{params1,jdbcType=VARCHAR}            </if>
                <if test="params2 != null and params2.trim() != ''">
                and t1.params2 =#{params2,jdbcType=VARCHAR}            </if>
                <if test="params3 != null and params3.trim() != ''">
                and t1.params3 =#{params3,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="pkgId != null and pkgId.trim() != ''">
                and t1.pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.msg_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="countUnReadMsgNum" parameterType="String" resultType="int">
      select count(*) from t_evgl_site_sys_msg 
      where read_state = 'N' and to_trainee_id = #{loginUserId}
    </select>
    
   	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_evgl_site_sys_msg
		(
		msg_id, to_trainee_id, msg_title, msg_content, msg_type,
		msg_pic, msg_file, read_state, params1, params2,
		params3, create_time, create_user_id, state, pkg_id
		)
		values
		<foreach collection="list" item="obj" separator="," >
			(
			#{obj.msgId}, #{obj.toTraineeId}, #{obj.msgTitle}, #{obj.msgContent}, #{obj.msgType},
			#{obj.msgPic}, #{obj.msgFile}, #{obj.readState}, #{obj.params1}, #{obj.params2},
			#{obj.params3}, #{obj.createTime}, #{obj.createUserId}, #{obj.state}, #{obj.pkgId}
			)
		</foreach>
	</insert>
	
	<select id="findMsgList" parameterType="com.ossbar.modules.evgl.site.query.TevglSiteSysMsgQuery" resultType="com.ossbar.modules.evgl.site.vo.TevglSiteSysMsgVo">
		SELECT t1.msg_id, t1.to_trainee_id, t1.msg_title, t1.msg_content, t1.read_state
		FROM t_evgl_site_sys_msg t1
		<where>
			<if test="toTraineeId != null and toTraineeId.trim() != ''">
				and t1.to_trainee_id =#{toTraineeId,jdbcType=VARCHAR}
			</if>
			<if test="msgTitle != null and msgTitle.trim() != ''">
				and t1.msg_title =#{msgTitle,jdbcType=VARCHAR}
			</if>
			<if test="msgType != null and msgType.trim() != ''">
				and t1.msg_type =#{msgType,jdbcType=VARCHAR}
			</if>
			<if test="readState != null and readState.trim() != ''">
				and t1.read_state =#{readState,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<update id="batchUpdateRead" parameterType="java.util.List">
		UPDATE t_evgl_site_sys_msg SET read_state = "Y"
		WHERE msg_id IN
		<foreach collection="list" item="msgId" open="(" separator="," close=")">
			#{msgId}
		</foreach>
	</update>
</mapper>

