<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.site.persistence.TevglSitePartnerMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.site.domain.TevglSitePartner">
		<result column="company_id" jdbcType="VARCHAR"
			property="companyId" />
		<result column="company_name" jdbcType="VARCHAR"
			property="companyName" />
		<result column="company_website" jdbcType="VARCHAR"
			property="companyWebsite" />
		<result column="company_logo" jdbcType="VARCHAR"
			property="companyLogo" />
		<result column="company_addr" jdbcType="VARCHAR"
			property="companyAddr" />
		<result column="cooperation_time" jdbcType="VARCHAR"
			property="cooperationTime" />
		<result column="cooperation_end_time" jdbcType="VARCHAR"
			property="cooperationEndTime" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="cooperation_agreement" jdbcType="LONGVARCHAR"
			property="cooperationAgreement" />
		<result column="company_intro" jdbcType="VARCHAR"
			property="companyIntro" />
		<result column="company_detail_intro" jdbcType="LONGVARCHAR"
			property="companyDetailIntro" />
		<result column="company_evaluation" jdbcType="VARCHAR"
			property="companyEvaluation" />
		<result column="company_evaluation_person" jdbcType="VARCHAR"
			property="companyEvaluationPerson" />
		<result column="company_linkman" jdbcType="VARCHAR"
			property="companyLinkman" />
		<result column="linkman_phone" jdbcType="VARCHAR"
			property="linkmanPhone" />
		<result column="company_size" jdbcType="INTEGER"
			property="companySize" />
		<result column="is_public_company" jdbcType="VARCHAR"
			property="isPublicCompany" />
		<result column="is_key_point" jdbcType="VARCHAR"
			property="isKeyPoint" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		company_id,company_name,company_website,company_logo,company_addr,cooperation_time,cooperation_end_time,create_user_id,create_time,update_user_id,update_time,state,cooperation_agreement,company_intro,company_detail_intro,company_evaluation,company_evaluation_person,company_linkman,linkman_phone,company_size,is_public_company,is_key_point
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.site.domain.TevglSitePartner">
		INSERT INTO T_EVGL_SITE_PARTNER (
		company_id ,
		company_name ,
		company_website ,
		company_logo ,
		company_addr ,
		cooperation_time ,
		cooperation_end_time ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		state ,
		cooperation_agreement ,
		company_intro ,
		company_detail_intro ,
		company_evaluation ,
		company_evaluation_person ,
		company_linkman ,
		linkman_phone ,
		company_size ,
		is_public_company ,
		is_key_point 
		) VALUES (

#{companyId,jdbcType=VARCHAR} ,

#{companyName,jdbcType=VARCHAR} ,

#{companyWebsite,jdbcType=VARCHAR} ,

#{companyLogo,jdbcType=VARCHAR} ,

#{companyAddr,jdbcType=VARCHAR} ,

#{cooperationTime,jdbcType=VARCHAR} ,

#{cooperationEndTime,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} ,

#{cooperationAgreement,jdbcType=LONGVARCHAR} ,

#{companyIntro,jdbcType=VARCHAR} ,

#{companyDetailIntro,jdbcType=LONGVARCHAR} ,

#{companyEvaluation,jdbcType=VARCHAR} ,

#{companyEvaluationPerson,jdbcType=VARCHAR} ,

#{companyLinkman,jdbcType=VARCHAR} ,

#{linkmanPhone,jdbcType=VARCHAR} ,

#{companySize,jdbcType=INTEGER} ,

#{isPublicCompany,jdbcType=VARCHAR} ,

#{isKeyPoint,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.site.domain.TevglSitePartner">
		UPDATE T_EVGL_SITE_PARTNER 
		<set>
		<if test="companyName != null">
		company_name = #{companyName,jdbcType=VARCHAR},
		</if>
		<if test="companyWebsite != null">
		company_website = #{companyWebsite,jdbcType=VARCHAR},
		</if>
		<if test="companyLogo != null">
		company_logo = #{companyLogo,jdbcType=VARCHAR},
		</if>
		<if test="companyAddr != null">
		company_addr = #{companyAddr,jdbcType=VARCHAR},
		</if>
		<if test="cooperationTime != null">
		cooperation_time = #{cooperationTime,jdbcType=VARCHAR},
		</if>
		<if test="cooperationEndTime != null">
		cooperation_end_time = #{cooperationEndTime,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="cooperationAgreement != null">
		cooperation_agreement = #{cooperationAgreement,jdbcType=LONGVARCHAR},
		</if>
		<if test="companyIntro != null">
		company_intro = #{companyIntro,jdbcType=VARCHAR},
		</if>
		<if test="companyDetailIntro != null">
		company_detail_intro = #{companyDetailIntro,jdbcType=LONGVARCHAR},
		</if>
		<if test="companyEvaluation != null">
		company_evaluation = #{companyEvaluation,jdbcType=VARCHAR},
		</if>
		<if test="companyEvaluationPerson != null">
		company_evaluation_person = #{companyEvaluationPerson,jdbcType=VARCHAR},
		</if>
		<if test="companyLinkman != null">
		company_linkman = #{companyLinkman,jdbcType=VARCHAR},
		</if>
		<if test="linkmanPhone != null">
		linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
		</if>
		<if test="companySize != null">
		company_size = #{companySize,jdbcType=INTEGER},
		</if>
		<if test="isPublicCompany != null">
		is_public_company = #{isPublicCompany,jdbcType=VARCHAR},
		</if>
		<if test="isKeyPoint != null">
		is_key_point = #{isKeyPoint,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		company_id = #{companyId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_PARTNER WHERE
		company_id =
		#{companyId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_SITE_PARTNER WHERE
		company_id in
		<foreach item="companyId" collection="array" open="("
			separator="," close=")">
#{companyId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_SITE_PARTNER WHERE
		company_id = #{companyId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_SITE_PARTNER
        <where>
                <if test="companyName != null and companyName.trim() != ''">
                and company_name like concat ('%',#{companyName,jdbcType=VARCHAR}, '%')             </if>
                <if test="companyWebsite != null and companyWebsite.trim() != ''">
                and company_website =#{companyWebsite,jdbcType=VARCHAR}            </if>
                <if test="companyLogo != null and companyLogo.trim() != ''">
                and company_logo =#{companyLogo,jdbcType=VARCHAR}            </if>
                <if test="companyAddr != null and companyAddr.trim() != ''">
                and company_addr like concat ('%',#{companyAddr,jdbcType=VARCHAR}, '%')             </if>
                <if test="cooperationTime != null and cooperationTime.trim() != ''">
                and cooperation_time &gt;=#{cooperationTime,jdbcType=VARCHAR}            </if>
                <if test="cooperationEndTime != null and cooperationEndTime.trim() != ''">
                and cooperation_end_time &lt;=#{cooperationEndTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="cooperationAgreement != null and cooperationAgreement.trim() != ''">
                and cooperation_agreement =#{cooperationAgreement,jdbcType=LONGVARCHAR}            </if>
                <if test="companyIntro != null and companyIntro.trim() != ''">
                and company_intro =#{companyIntro,jdbcType=VARCHAR}            </if>
                <if test="companyDetailIntro != null and companyDetailIntro.trim() != ''">
                and company_detail_intro =#{companyDetailIntro,jdbcType=LONGVARCHAR}            </if>
                <if test="companyEvaluation != null and companyEvaluation.trim() != ''">
                and company_evaluation =#{companyEvaluation,jdbcType=VARCHAR}            </if>
                <if test="companyEvaluationPerson != null and companyEvaluationPerson.trim() != ''">
                and company_evaluation_person =#{companyEvaluationPerson,jdbcType=VARCHAR}            </if>
                <if test="companyLinkman != null and companyLinkman.trim() != ''">
                and company_linkman like concat ('%',#{companyLinkman,jdbcType=VARCHAR}, '%')              </if>
                <if test="linkmanPhone != null and linkmanPhone.trim() != ''">
                and linkman_phone like concat ('%',#{linkmanPhone,jdbcType=VARCHAR} , '%')           </if>
                <if test="companySize != null and companySize != ''">
                and company_size =#{companySize,jdbcType=INTEGER}            </if>
                <if test="isPublicCompany != null and isPublicCompany.trim() != ''">
                and is_public_company =#{isPublicCompany,jdbcType=VARCHAR}            </if>
                <!-- 是否首页显示 -->
                <if test="isKeyPoint != null and isKeyPoint.trim() != ''">
                and is_key_point =#{isKeyPoint,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by company_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_SITE_PARTNER t1
        <where>
                <if test="companyName != null and companyName.trim() != ''">
                and t1.company_name =#{companyName,jdbcType=VARCHAR}            </if>
                <if test="companyWebsite != null and companyWebsite.trim() != ''">
                and t1.company_website =#{companyWebsite,jdbcType=VARCHAR}            </if>
                <if test="companyLogo != null and companyLogo.trim() != ''">
                and t1.company_logo =#{companyLogo,jdbcType=VARCHAR}            </if>
                <if test="companyAddr != null and companyAddr.trim() != ''">
                and t1.company_addr =#{companyAddr,jdbcType=VARCHAR}            </if>
                <if test="cooperationTime != null and cooperationTime.trim() != ''">
                and t1.cooperation_time =#{cooperationTime,jdbcType=VARCHAR}            </if>
                <if test="cooperationEndTime != null and cooperationEndTime.trim() != ''">
                and t1.cooperation_end_time =#{cooperationEndTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="cooperationAgreement != null and cooperationAgreement.trim() != ''">
                and t1.cooperation_agreement =#{cooperationAgreement,jdbcType=LONGVARCHAR}            </if>
                <if test="companyIntro != null and companyIntro.trim() != ''">
                and t1.company_intro =#{companyIntro,jdbcType=VARCHAR}            </if>
                <if test="companyDetailIntro != null and companyDetailIntro.trim() != ''">
                and t1.company_detail_intro =#{companyDetailIntro,jdbcType=LONGVARCHAR}            </if>
                <if test="companyEvaluation != null and companyEvaluation.trim() != ''">
                and t1.company_evaluation =#{companyEvaluation,jdbcType=VARCHAR}            </if>
                <if test="companyEvaluationPerson != null and companyEvaluationPerson.trim() != ''">
                and t1.company_evaluation_person =#{companyEvaluationPerson,jdbcType=VARCHAR}            </if>
                <if test="companyLinkman != null and companyLinkman.trim() != ''">
                and t1.company_linkman =#{companyLinkman,jdbcType=VARCHAR}            </if>
                <if test="linkmanPhone != null and linkmanPhone.trim() != ''">
                and t1.linkman_phone =#{linkmanPhone,jdbcType=VARCHAR}            </if>
                <if test="companySize != null and companySize != ''">
                and t1.company_size =#{companySize,jdbcType=INTEGER}            </if>
                <if test="isPublicCompany != null and isPublicCompany.trim() != ''">
                and t1.is_public_company =#{isPublicCompany,jdbcType=VARCHAR}            </if>
                <!-- 是否首页显示 -->
                <if test="isKeyPoint != null and isKeyPoint.trim() != ''">
                and t1.is_key_point =#{isKeyPoint,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.company_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectSimpleListMapByMap" resultType="map"
        parameterType="map">
        select t1.company_id as companyId, t1.company_name as companyName, t1.company_website as companyWebsite, t1.company_logo as companyLogo 
        from T_EVGL_SITE_PARTNER t1
        <where>
                <if test="companyName != null and companyName.trim() != ''">
                and t1.company_name =#{companyName,jdbcType=VARCHAR}            </if>
                <if test="companyWebsite != null and companyWebsite.trim() != ''">
                and t1.company_website =#{companyWebsite,jdbcType=VARCHAR}            </if>
                <if test="companyLogo != null and companyLogo.trim() != ''">
                and t1.company_logo =#{companyLogo,jdbcType=VARCHAR}            </if>
                <if test="companyAddr != null and companyAddr.trim() != ''">
                and t1.company_addr =#{companyAddr,jdbcType=VARCHAR}            </if>
                <if test="cooperationTime != null and cooperationTime.trim() != ''">
                and t1.cooperation_time =#{cooperationTime,jdbcType=VARCHAR}            </if>
                <if test="cooperationEndTime != null and cooperationEndTime.trim() != ''">
                and t1.cooperation_end_time =#{cooperationEndTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="cooperationAgreement != null and cooperationAgreement.trim() != ''">
                and t1.cooperation_agreement =#{cooperationAgreement,jdbcType=LONGVARCHAR}            </if>
                <if test="companyIntro != null and companyIntro.trim() != ''">
                and t1.company_intro =#{companyIntro,jdbcType=VARCHAR}            </if>
                <if test="companyDetailIntro != null and companyDetailIntro.trim() != ''">
                and t1.company_detail_intro =#{companyDetailIntro,jdbcType=LONGVARCHAR}            </if>
                <if test="companyEvaluation != null and companyEvaluation.trim() != ''">
                and t1.company_evaluation =#{companyEvaluation,jdbcType=VARCHAR}            </if>
                <if test="companyEvaluationPerson != null and companyEvaluationPerson.trim() != ''">
                and t1.company_evaluation_person =#{companyEvaluationPerson,jdbcType=VARCHAR}            </if>
                <if test="companyLinkman != null and companyLinkman.trim() != ''">
                and t1.company_linkman =#{companyLinkman,jdbcType=VARCHAR}            </if>
                <if test="linkmanPhone != null and linkmanPhone.trim() != ''">
                and t1.linkman_phone =#{linkmanPhone,jdbcType=VARCHAR}            </if>
                <if test="companySize != null and companySize != ''">
                and t1.company_size =#{companySize,jdbcType=INTEGER}            </if>
                <if test="isPublicCompany != null and isPublicCompany.trim() != ''">
                and t1.is_public_company =#{isPublicCompany,jdbcType=VARCHAR}            </if>
                <!-- 是否首页显示 -->
                <if test="isKeyPoint != null and isKeyPoint.trim() != ''">
                and t1.is_key_point =#{isKeyPoint,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.company_id  desc
            </otherwise>
        </choose>
    </select>
    
</mapper>

