<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.forum.persistence.TevglForumCommentInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.forum.domain.TevglForumCommentInfo">
		<result column="ci_id" jdbcType="VARCHAR"
			property="ciId" />
		<result column="cust_id" jdbcType="VARCHAR"
			property="custId" />
		<result column="cust_nickname" jdbcType="VARCHAR"
			property="custNickname" />
		<result column="cust_headimg" jdbcType="VARCHAR"
			property="custHeadimg" />
		<result column="cust_star" jdbcType="VARCHAR"
			property="custStar" />
		<result column="parent_id" jdbcType="VARCHAR"
			property="parentId" />
		<result column="parent_type" jdbcType="VARCHAR"
			property="parentType" />
		<result column="ci_content" jdbcType="LONGVARCHAR"
			property="ciContent" />
		<result column="ci_time" jdbcType="VARCHAR"
			property="ciTime" />
		<result column="ci_floor" jdbcType="INTEGER"
			property="ciFloor" />
		<result column="ci_total" jdbcType="INTEGER"
			property="ciTotal" />
		<result column="ci_report" jdbcType="INTEGER"
			property="ciReport" />
		<result column="ci_like" jdbcType="INTEGER"
			property="ciLike" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="target_id" jdbcType="VARCHAR"
			property="targetId" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		ci_id,cust_id,cust_nickname,cust_headimg,cust_star,parent_id,parent_type,ci_content,ci_time,ci_floor,ci_total,ci_report,ci_like,state,target_id
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.forum.domain.TevglForumCommentInfo">
		INSERT INTO T_EVGL_FORUM_COMMENT_INFO (
		ci_id ,
		cust_id ,
		cust_nickname ,
		cust_headimg ,
		cust_star ,
		parent_id ,
		parent_type ,
		ci_content ,
		ci_time ,
		ci_floor ,
		ci_total ,
		ci_report ,
		ci_like ,
		state ,
		target_id 
		) VALUES (

#{ciId,jdbcType=VARCHAR} ,

#{custId,jdbcType=VARCHAR} ,

#{custNickname,jdbcType=VARCHAR} ,

#{custHeadimg,jdbcType=VARCHAR} ,

#{custStar,jdbcType=VARCHAR} ,

#{parentId,jdbcType=VARCHAR} ,

#{parentType,jdbcType=VARCHAR} ,

#{ciContent,jdbcType=LONGVARCHAR} ,

#{ciTime,jdbcType=VARCHAR} ,

#{ciFloor,jdbcType=INTEGER} ,

#{ciTotal,jdbcType=INTEGER} ,

#{ciReport,jdbcType=INTEGER} ,

#{ciLike,jdbcType=INTEGER} ,

#{state,jdbcType=VARCHAR} ,

#{targetId,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.forum.domain.TevglForumCommentInfo">
		UPDATE T_EVGL_FORUM_COMMENT_INFO 
		<set>
		<if test="custId != null">
		cust_id = #{custId,jdbcType=VARCHAR},
		</if>
		<if test="custNickname != null">
		cust_nickname = #{custNickname,jdbcType=VARCHAR},
		</if>
		<if test="custHeadimg != null">
		cust_headimg = #{custHeadimg,jdbcType=VARCHAR},
		</if>
		<if test="custStar != null">
		cust_star = #{custStar,jdbcType=VARCHAR},
		</if>
		<if test="parentId != null">
		parent_id = #{parentId,jdbcType=VARCHAR},
		</if>
		<if test="parentType != null">
		parent_type = #{parentType,jdbcType=VARCHAR},
		</if>
		<if test="ciContent != null">
		ci_content = #{ciContent,jdbcType=LONGVARCHAR},
		</if>
		<if test="ciTime != null">
		ci_time = #{ciTime,jdbcType=VARCHAR},
		</if>
		<if test="ciFloor != null">
		ci_floor = #{ciFloor,jdbcType=INTEGER},
		</if>
		<if test="ciTotal != null">
		ci_total = #{ciTotal,jdbcType=INTEGER},
		</if>
		<if test="ciReport != null">
		ci_report = #{ciReport,jdbcType=INTEGER},
		</if>
		<if test="ciLike != null">
		ci_like = #{ciLike,jdbcType=INTEGER},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="targetId != null">
		target_id = #{targetId,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		ci_id = #{ciId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_FORUM_COMMENT_INFO WHERE
		ci_id =
		#{ciId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_FORUM_COMMENT_INFO WHERE
		ci_id in
		<foreach item="ciId" collection="array" open="("
			separator="," close=")">
#{ciId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_FORUM_COMMENT_INFO WHERE
		ci_id = #{ciId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_FORUM_COMMENT_INFO
        <where>
        		<if test="ciId != null and ciId.trim() != ''">
                and ci_id =#{ciId,jdbcType=VARCHAR}            </if>
                <if test="custId != null and custId.trim() != ''">
                and cust_id =#{custId,jdbcType=VARCHAR}            </if>
                <if test="custNickname != null and custNickname.trim() != ''">
                and cust_nickname =#{custNickname,jdbcType=VARCHAR}            </if>
                <if test="custHeadimg != null and custHeadimg.trim() != ''">
                and cust_headimg =#{custHeadimg,jdbcType=VARCHAR}            </if>
                <if test="custStar != null and custStar.trim() != ''">
                and cust_star =#{custStar,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="parentIds != null and parentIds.size() > 0">
                and parent_id in 
	                <foreach collection="parentIds" item="parentId" open="(" separator="," close=")">
	                	#{parentId,jdbcType=VARCHAR}    
	                </foreach>        
                </if>
                <if test="parentType != null and parentType.trim() != ''">
                and parent_type =#{parentType,jdbcType=VARCHAR}            </if>
                <if test="ciContent != null and ciContent.trim() != ''">
                and ci_content =#{ciContent,jdbcType=LONGVARCHAR}            </if>
                <if test="ciTime != null and ciTime.trim() != ''">
                and ci_time =#{ciTime,jdbcType=VARCHAR}            </if>
                <if test="ciFloor != null and ciFloor != ''">
                and ci_floor =#{ciFloor,jdbcType=INTEGER}            </if>
                <if test="ciTotal != null and ciTotal != ''">
                and ci_total =#{ciTotal,jdbcType=INTEGER}            </if>
                <if test="ciReport != null and ciReport != ''">
                and ci_report =#{ciReport,jdbcType=INTEGER}            </if>
                <if test="ciLike != null and ciLike != ''">
                and ci_like =#{ciLike,jdbcType=INTEGER}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and target_id =#{targetId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by ci_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_FORUM_COMMENT_INFO t1
        <where>
        		<if test="ciIds != null and ciIds.size() > 0">
                and t1.ci_id in 
	                <foreach collection="ciIds" item="ciId" open="(" separator="," close=")">
	                	#{ciId,jdbcType=VARCHAR}   
	                </foreach>         
                </if>
                <if test="ciId != null and ciIds != ''">
                and t1.ci_id = #{ciId,jdbcType=VARCHAR}   
                </if>
                <if test="custId != null and custId.trim() != ''">
                and t1.cust_id =#{custId,jdbcType=VARCHAR}            </if>
                <if test="custNickname != null and custNickname.trim() != ''">
                and t1.cust_nickname =#{custNickname,jdbcType=VARCHAR}            </if>
                <if test="custHeadimg != null and custHeadimg.trim() != ''">
                and t1.cust_headimg =#{custHeadimg,jdbcType=VARCHAR}            </if>
                <if test="custStar != null and custStar.trim() != ''">
                and t1.cust_star =#{custStar,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="parentType != null and parentType.trim() != ''">
                and t1.parent_type =#{parentType,jdbcType=VARCHAR}            </if>
                <if test="ciContent != null and ciContent.trim() != ''">
                and t1.ci_content =#{ciContent,jdbcType=LONGVARCHAR}            </if>
                <if test="ciTime != null and ciTime.trim() != ''">
                and t1.ci_time =#{ciTime,jdbcType=VARCHAR}            </if>
                <if test="ciFloor != null and ciFloor != ''">
                and t1.ci_floor =#{ciFloor,jdbcType=INTEGER}            </if>
                <if test="ciTotal != null and ciTotal != ''">
                and t1.ci_total =#{ciTotal,jdbcType=INTEGER}            </if>
                <if test="ciReport != null and ciReport != ''">
                and t1.ci_report =#{ciReport,jdbcType=INTEGER}            </if>
                <if test="ciLike != null and ciLike != ''">
                and t1.ci_like =#{ciLike,jdbcType=INTEGER}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and t1.target_id =#{targetId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.ci_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="queryBlogCommentList" resultType="map"
        parameterType="map">
        select t2.trainee_id,  
        ifnull(t2.trainee_name, t2.nick_name) as trainee_name,
        t2.trainee_head as trainee_pic,
        t1.ci_id, t1.cust_id, t1.parent_id, t1.parent_type,
        t1.ci_content, t1.ci_time, t1.ci_floor, t1.ci_total,
        t1.ci_report, t1.ci_like, t1.state 
        from t_evgl_forum_comment_info t1
        inner join t_evgl_trainee_info t2 on t1.cust_id = t2.trainee_id
        <where>
        		<if test="traineeId != null and traineeId.trim() != ''">
                and t2.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="custId != null and custId.trim() != ''">
                and t1.cust_id =#{custId,jdbcType=VARCHAR}            </if>
                <if test="custNickname != null and custNickname.trim() != ''">
                and t1.cust_nickname =#{custNickname,jdbcType=VARCHAR}            </if>
                <if test="custHeadimg != null and custHeadimg.trim() != ''">
                and t1.cust_headimg =#{custHeadimg,jdbcType=VARCHAR}            </if>
                <if test="custStar != null and custStar.trim() != ''">
                and t1.cust_star =#{custStar,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="parentType != null and parentType.trim() != ''">
                and t1.parent_type =#{parentType,jdbcType=VARCHAR}            </if>
                <if test="ciContent != null and ciContent.trim() != ''">
                and t1.ci_content =#{ciContent,jdbcType=LONGVARCHAR}            </if>
                <if test="ciTime != null and ciTime.trim() != ''">
                and t1.ci_time =#{ciTime,jdbcType=VARCHAR}            </if>
                <if test="ciFloor != null and ciFloor != ''">
                and t1.ci_floor =#{ciFloor,jdbcType=INTEGER}            </if>
                <if test="ciTotal != null and ciTotal != ''">
                and t1.ci_total =#{ciTotal,jdbcType=INTEGER}            </if>
                <if test="ciReport != null and ciReport != ''">
                and t1.ci_report =#{ciReport,jdbcType=INTEGER}            </if>
                <if test="ciLike != null and ciLike != ''">
                and t1.ci_like =#{ciLike,jdbcType=INTEGER}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.ci_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="queryTraineeList" resultType="map"
        parameterType="map">
        select t2.trainee_id,  
        ifnull(t2.trainee_name, t2.nick_name) as trainee_name,
        ifnull(t2.trainee_pic, t2.trainee_head) as trainee_pic
        from t_evgl_forum_comment_info t1
        inner join t_evgl_trainee_info t2 on t1.cust_id = t2.trainee_id
        <where>
        		<if test="traineeId != null and traineeId.trim() != ''">
                and t2.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="custId != null and custId.trim() != ''">
                and t1.cust_id =#{custId,jdbcType=VARCHAR}            </if>
                <if test="custNickname != null and custNickname.trim() != ''">
                and t1.cust_nickname =#{custNickname,jdbcType=VARCHAR}            </if>
                <if test="custHeadimg != null and custHeadimg.trim() != ''">
                and t1.cust_headimg =#{custHeadimg,jdbcType=VARCHAR}            </if>
                <if test="custStar != null and custStar.trim() != ''">
                and t1.cust_star =#{custStar,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="parentType != null and parentType.trim() != ''">
                and t1.parent_type =#{parentType,jdbcType=VARCHAR}            </if>
                <if test="ciContent != null and ciContent.trim() != ''">
                and t1.ci_content =#{ciContent,jdbcType=LONGVARCHAR}            </if>
                <if test="ciTime != null and ciTime.trim() != ''">
                and t1.ci_time =#{ciTime,jdbcType=VARCHAR}            </if>
                <if test="ciFloor != null and ciFloor != ''">
                and t1.ci_floor =#{ciFloor,jdbcType=INTEGER}            </if>
                <if test="ciTotal != null and ciTotal != ''">
                and t1.ci_total =#{ciTotal,jdbcType=INTEGER}            </if>
                <if test="ciReport != null and ciReport != ''">
                and t1.ci_report =#{ciReport,jdbcType=INTEGER}            </if>
                <if test="ciLike != null and ciLike != ''">
                and t1.ci_like =#{ciLike,jdbcType=INTEGER}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and t1.target_id =#{targetId,jdbcType=VARCHAR}            </if>
        </where>
        group by t2.trainee_id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.ci_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="getLastCiFloor" resultType="INTEGER" parameterType="map">
        select ifnull(max(t1.ci_floor), 0) + 1  from T_EVGL_FORUM_COMMENT_INFO t1
        <where>
                <if test="custId != null and custId.trim() != ''">
                and t1.cust_id =#{custId,jdbcType=VARCHAR}            </if>
                <if test="custNickname != null and custNickname.trim() != ''">
                and t1.cust_nickname =#{custNickname,jdbcType=VARCHAR}            </if>
                <if test="custHeadimg != null and custHeadimg.trim() != ''">
                and t1.cust_headimg =#{custHeadimg,jdbcType=VARCHAR}            </if>
                <if test="custStar != null and custStar.trim() != ''">
                and t1.cust_star =#{custStar,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="parentType != null and parentType.trim() != ''">
                and t1.parent_type =#{parentType,jdbcType=VARCHAR}            </if>
                <if test="ciContent != null and ciContent.trim() != ''">
                and t1.ci_content =#{ciContent,jdbcType=LONGVARCHAR}            </if>
                <if test="ciTime != null and ciTime.trim() != ''">
                and t1.ci_time =#{ciTime,jdbcType=VARCHAR}            </if>
                <if test="ciFloor != null and ciFloor != ''">
                and t1.ci_floor =#{ciFloor,jdbcType=INTEGER}            </if>
                <if test="ciTotal != null and ciTotal != ''">
                and t1.ci_total =#{ciTotal,jdbcType=INTEGER}            </if>
                <if test="ciReport != null and ciReport != ''">
                and t1.ci_report =#{ciReport,jdbcType=INTEGER}            </if>
                <if test="ciLike != null and ciLike != ''">
                and t1.ci_like =#{ciLike,jdbcType=INTEGER}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and t1.target_id =#{targetId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.ci_id  desc
            </otherwise>
        </choose>
    </select>
    
    <update id="plusNum" parameterType="com.ossbar.modules.evgl.forum.domain.TevglForumCommentInfo">
	    UPDATE t_evgl_forum_comment_info 
	    <set>
	        <if test="ciFloor != null">
	            ci_floor = IFNULL(ci_floor, 0) + #{ciFloor,jdbcType=INTEGER},
	        </if>
	        <if test="ciTotal != null">
	            ci_total = IFNULL(ci_total, 0) + #{ciTotal,jdbcType=INTEGER},
	        </if>
	        <if test="ciReport != null">
	            ci_report = IFNULL(ci_report, 0) + #{ciReport,jdbcType=INTEGER},
	        </if>
	        <if test="ciLike != null">
	            ci_like = IFNULL(ci_like, 0) + #{ciLike,jdbcType=INTEGER},
	        </if>
	    </set>
	    where ci_id = #{ciId,jdbcType=VARCHAR}
	</update>
	
	<select id="selectCommentList" resultType="map"
        parameterType="map">
        select * from T_EVGL_FORUM_COMMENT_INFO t1
        <where>
                <if test="custId != null and custId.trim() != ''">
                and t1.cust_id =#{custId,jdbcType=VARCHAR}            </if>
                <if test="custNickname != null and custNickname.trim() != ''">
                and t1.cust_nickname =#{custNickname,jdbcType=VARCHAR}            </if>
                <if test="custHeadimg != null and custHeadimg.trim() != ''">
                and t1.cust_headimg =#{custHeadimg,jdbcType=VARCHAR}            </if>
                <if test="custStar != null and custStar.trim() != ''">
                and t1.cust_star =#{custStar,jdbcType=VARCHAR}            </if>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="parentType != null and parentType.trim() != ''">
                and t1.parent_type =#{parentType,jdbcType=VARCHAR}            </if>
                <if test="ciContent != null and ciContent.trim() != ''">
                and t1.ci_content =#{ciContent,jdbcType=LONGVARCHAR}            </if>
                <if test="ciTime != null and ciTime.trim() != ''">
                and t1.ci_time =#{ciTime,jdbcType=VARCHAR}            </if>
                <if test="ciFloor != null and ciFloor != ''">
                and t1.ci_floor =#{ciFloor,jdbcType=INTEGER}            </if>
                <if test="ciTotal != null and ciTotal != ''">
                and t1.ci_total =#{ciTotal,jdbcType=INTEGER}            </if>
                <if test="ciReport != null and ciReport != ''">
                and t1.ci_report =#{ciReport,jdbcType=INTEGER}            </if>
                <if test="ciLike != null and ciLike != ''">
                and t1.ci_like =#{ciLike,jdbcType=INTEGER}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="targetId != null and targetId.trim() != ''">
                and t1.target_id =#{targetId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.ci_id  desc
            </otherwise>
        </choose>
        limit 1;
    </select>
</mapper>

