<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.medu.persistence.TmeduApiTokenMapper">

	<select id="selectTokenByUserId" resultType="com.ossbar.modules.evgl.medu.domain.TmeduApiToken">
		select * from T_MEDU_API_TOKEN where user_id = #{value}
	</select> 
   
	<select id="selectTokenByToken" resultType="com.ossbar.modules.evgl.medu.domain.TmeduApiToken">
		select * from T_MEDU_API_TOKEN where token = #{value}
	</select>
	
	<select id="selectTokenByMobile" resultType="com.ossbar.modules.evgl.medu.domain.TmeduApiToken">
		select * from T_MEDU_API_TOKEN where mobile = #{mobile}
		<if test="userType != null">
			and  user_type = #{userType}
		</if>
	</select>
	
	<select id="selectTokenByopenid" resultType="com.ossbar.modules.evgl.medu.domain.TmeduApiToken">
		select * from T_MEDU_API_TOKEN where openid = #{openid}
		<if test="userType != null">
			and  user_type = #{userType}
		</if>
	</select>
	 
	<insert id="insert">
		insert into T_MEDU_API_TOKEN
		(
			token_id,
			user_id, 
			token, 
			expire_time, 
			update_time,
			mobile,
			sms_code,
			user_type,
			img_code,
			openid,
			session_key
		)
		values
		(
			#{tokenId},
			#{userId}, 
			#{token}, 
			#{expireTime}, 
			#{updateTime},
			#{mobile},
			#{smsCode},
			#{userType},
			#{imgCode},
			#{openid},
			#{sessionKey}
		)
	</insert>
	 
	<update id="update">
		update T_MEDU_API_TOKEN 
		<set>
			<if test="token != null">token = #{token}, </if>
			<if test="expireTime != null">expire_time = #{expireTime}, </if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="mobile != null">mobile = #{mobile},</if>
			<if test="smsCode != null">sms_code = #{smsCode},</if>
			<if test="userType != null">user_type = #{userType},</if>
			<if test="imgCode != null">img_code = #{imgCode},</if>
			<if test="openid != null">openid = #{openid},</if>
			<if test="sessionKey != null">session_key = #{sessionKey}</if>
		</set>
		where user_id = #{userId}
	</update>
	
	<update id="updateByMobile">
		update T_MEDU_API_TOKEN 
		<set>
			<if test="token != null">token = #{token}, </if>
			<if test="expireTime != null">expire_time = #{expireTime}, </if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="smsCode != null">sms_code = #{smsCode},</if>
			<if test="userId != null">user_id = #{userId},</if>
			<if test="imgCode != null">img_code = #{imgCode},</if>
			<if test="openid != null">openid = #{openid},</if>
			<if test="userType != null">user_type = #{userType},</if>
			<if test="sessionKey != null">session_key = #{sessionKey}</if>
		</set>
		where mobile = #{mobile}
		<if test="userType != null">
			and  user_type = #{userType}
		</if>
	</update>
	
	<update id="updateByOpenid">
		update T_MEDU_API_TOKEN 
		<set>
			<if test="token != null">token = #{token}, </if>
			<if test="expireTime != null">expire_time = #{expireTime}, </if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="smsCode != null">sms_code = #{smsCode},</if>
			<if test="mobile != null">mobile = #{mobile},</if>
			<if test="userId != null">user_id = #{userId},</if>
			<if test="imgCode != null">img_code = #{imgCode},</if>
			<if test="sessionKey != null">session_key = #{sessionKey}</if>
		</set>
		where openid = #{openid}
		<if test="userType != null">
			and  user_type = #{userType}
		</if>
		 
	</update>
	
	<delete id="deleteTokenById">
		delete from T_MEDU_API_TOKEN where mobile=#{mobile}
		<if test="userType != null">
			and  user_type = #{userType}
		</if>
	</delete>
</mapper>