<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.empirical.persistence.TevglEmpiricalLogVideoMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.empirical.domain.TevglEmpiricalLogVideo">
		<result column="cb_id" jdbcType="VARCHAR"
			property="cbId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="ct_id" jdbcType="VARCHAR"
			property="ctId" />
		<result column="pkg_id" jdbcType="VARCHAR"
			property="pkgId" />
		<result column="subject_id" jdbcType="VARCHAR"
			property="subjectId" />
		<result column="chapter_id" jdbcType="VARCHAR"
			property="chapterId" />
		<result column="video_id" jdbcType="VARCHAR"
			property="videoId" />
		<result column="empirical_value" jdbcType="INTEGER"
			property="empiricalValue" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		cb_id,trainee_id,ct_id,pkg_id,subject_id,chapter_id,video_id,empirical_value,create_time
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.empirical.domain.TevglEmpiricalLogVideo">
		INSERT INTO T_EVGL_EMPIRICAL_LOG_VIDEO (
		cb_id ,
		trainee_id ,
		ct_id ,
		pkg_id ,
		subject_id ,
		chapter_id ,
		video_id ,
		empirical_value ,
		create_time 
		) VALUES (

#{cbId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{ctId,jdbcType=VARCHAR} ,

#{pkgId,jdbcType=VARCHAR} ,

#{subjectId,jdbcType=VARCHAR} ,

#{chapterId,jdbcType=VARCHAR} ,

#{videoId,jdbcType=VARCHAR} ,

#{empiricalValue,jdbcType=INTEGER} ,

#{createTime,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.empirical.domain.TevglEmpiricalLogVideo">
		UPDATE T_EVGL_EMPIRICAL_LOG_VIDEO 
		<set>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="ctId != null">
		ct_id = #{ctId,jdbcType=VARCHAR},
		</if>
		<if test="pkgId != null">
		pkg_id = #{pkgId,jdbcType=VARCHAR},
		</if>
		<if test="subjectId != null">
		subject_id = #{subjectId,jdbcType=VARCHAR},
		</if>
		<if test="chapterId != null">
		chapter_id = #{chapterId,jdbcType=VARCHAR},
		</if>
		<if test="videoId != null">
		video_id = #{videoId,jdbcType=VARCHAR},
		</if>
		<if test="empiricalValue != null">
		empirical_value = #{empiricalValue,jdbcType=INTEGER},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		cb_id = #{cbId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_EMPIRICAL_LOG_VIDEO WHERE
		cb_id =
		#{cbId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_EMPIRICAL_LOG_VIDEO WHERE
		cb_id in
		<foreach item="cbId" collection="array" open="("
			separator="," close=")">
#{cbId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_EMPIRICAL_LOG_VIDEO WHERE
		cb_id = #{cbId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_EMPIRICAL_LOG_VIDEO
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="pkgId != null and pkgId.trim() != ''">
                and pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
                <if test="videoId != null and videoId.trim() != ''">
                and video_id =#{videoId,jdbcType=VARCHAR}            </if>
                <if test="empiricalValue != null and empiricalValue != ''">
                and empirical_value =#{empiricalValue,jdbcType=INTEGER}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by cb_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_EMPIRICAL_LOG_VIDEO t1
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="ctId != null and ctId.trim() != ''">
                and t1.ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="pkgId != null and pkgId.trim() != ''">
                and t1.pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and t1.subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and t1.chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
                <if test="videoId != null and videoId.trim() != ''">
                and t1.video_id =#{videoId,jdbcType=VARCHAR}            </if>
                <if test="empiricalValue != null and empiricalValue != ''">
                and t1.empirical_value =#{empiricalValue,jdbcType=INTEGER}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.cb_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

