<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivityTaskScoreMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskScore">
		<result column="score_id" jdbcType="VARCHAR"
			property="scoreId" />
		<result column="ct_id" jdbcType="VARCHAR"
			property="ctId" />
		<result column="type" jdbcType="VARCHAR"
			property="type" />
		<result column="group_id" jdbcType="VARCHAR"
			property="groupId" />
		<result column="member_id" jdbcType="VARCHAR"
			property="memberId" />
		<result column="activity_id" jdbcType="VARCHAR"
			property="activityId" />
		<result column="score" jdbcType="DECIMAL"
			property="score" />
		<result column="user_type" jdbcType="VARCHAR"
			property="userType" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		score_id,ct_id,type,group_id,member_id,activity_id,score,user_type,create_user_id,create_time,update_user_id,update_time,state
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskScore">
		INSERT INTO T_EVGL_ACTIVITY_TASK_SCORE (
		score_id ,
		ct_id ,
		type ,
		group_id ,
		member_id ,
		activity_id ,
		score ,
		user_type ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		state 
		) VALUES (

#{scoreId,jdbcType=VARCHAR} ,

#{ctId,jdbcType=VARCHAR} ,

#{type,jdbcType=VARCHAR} ,

#{groupId,jdbcType=VARCHAR} ,

#{memberId,jdbcType=VARCHAR} ,

#{activityId,jdbcType=VARCHAR} ,

#{score,jdbcType=DECIMAL} ,

#{userType,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskScore">
		UPDATE T_EVGL_ACTIVITY_TASK_SCORE 
		<set>
		<if test="ctId != null">
		ct_id = #{ctId,jdbcType=VARCHAR},
		</if>
		<if test="type != null">
		type = #{type,jdbcType=VARCHAR},
		</if>
		<if test="groupId != null">
		group_id = #{groupId,jdbcType=VARCHAR},
		</if>
		<if test="memberId != null">
		member_id = #{memberId,jdbcType=VARCHAR},
		</if>
		<if test="activityId != null">
		activity_id = #{activityId,jdbcType=VARCHAR},
		</if>
		<if test="score != null">
		score = #{score,jdbcType=DECIMAL},
		</if>
		<if test="userType != null">
		user_type = #{userType,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		score_id = #{scoreId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_TASK_SCORE WHERE
		score_id =
		#{scoreId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_TASK_SCORE WHERE
		score_id in
		<foreach item="scoreId" collection="array" open="("
			separator="," close=")">
#{scoreId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_ACTIVITY_TASK_SCORE WHERE
		score_id = #{scoreId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_TASK_SCORE
        <where>
                <if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="type != null and type.trim() != ''">
                and type =#{type,jdbcType=VARCHAR}            </if>
                <if test="groupId != null and groupId.trim() != ''">
                and group_id =#{groupId,jdbcType=VARCHAR}            </if>
                <if test="memberId != null and memberId.trim() != ''">
                and member_id =#{memberId,jdbcType=VARCHAR}            </if>
                <if test="activityId != null and activityId.trim() != ''">
                and activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="score != null and score != ''">
                and score =#{score,jdbcType=DECIMAL}            </if>
                <if test="userType != null and userType.trim() != ''">
                and user_type =#{userType,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by score_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_TASK_SCORE t1
        <where>
                <if test="ctId != null and ctId.trim() != ''">
                and t1.ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="type != null and type.trim() != ''">
                and t1.type =#{type,jdbcType=VARCHAR}            </if>
                <if test="groupId != null and groupId.trim() != ''">
                and t1.group_id =#{groupId,jdbcType=VARCHAR}            </if>
                <if test="memberId != null and memberId.trim() != ''">
                and t1.member_id =#{memberId,jdbcType=VARCHAR}            </if>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="score != null and score != ''">
                and t1.score =#{score,jdbcType=DECIMAL}            </if>
                <if test="userType != null and userType.trim() != ''">
                and t1.user_type =#{userType,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.score_id  desc
            </otherwise>
        </choose>
    </select>
   	<update id="updateBatchByDuplicateKey" parameterType="java.util.List">
		INSERT INTO t_evgl_activity_task_score
		(score_id, score, update_user_id, update_time)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.scoreId},
			#{item.score},
			#{item.updateUserId},
			#{item.updateTime}
			)
		</foreach>
		on duplicate key update
		score_id=VALUES(score_id),
		score=VALUES(score),
		update_user_id=VALUES(update_user_id),
		update_time=VALUES(update_time)
		;
	</update>
</mapper>

