<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivityMapper">
	
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select
        relation.pkg_id as pkgId, ifnull(relation.activity_state, 0) as activityState, relation.group_id as groupId,
        ifnull(relation.activity_begin_time, '') as activityBeginTime,
        ifnull(relation.activity_end_time, '') as activityEndTime,
        t.*
        from 
		(
			select t1.activity_id as activityId, 1 as resgroupId, t1.activity_title as activityTitle, '投票/问卷' as activityTypeName, '1' as activityType,
			t1.empirical_value as empiricalValue, t1.purpose, 
			t1.question_number as questionNumber, t1.answer_number as answerNumber, null as signType, t1.create_user_id as createUserId, '' as viewResultTime,
			t1.create_time as createTime, t1.chapter_id as chapterId, '' as type
			from t_evgl_activity_vote_questionnaire t1
			
			union all
			
			select t2.activity_id as activityId, 2 as resgroupId, t2.activity_title as activityTitle,  '头脑风暴' as activityTypeName, '2' as activityType,
			t2.empirical_value as empiricalValue, t2.purpose,
			0 as questionNumber, t2.answer_number as answerNumber, null as signType, t2.create_user_id as createUserId, '' as viewResultTime,
			t2.create_time as createTime, t2.chapter_id as chapterId, '' as type
			from t_evgl_activity_brainstorming t2
			
			union all
			
			select t3.activity_id as activityId, 3 as resgroupId, t3.activity_title as activityTitle, '答疑讨论' as activityTypeName, '3' as activityType,
			t3.empirical_value as empiricalValue, t3.purpose, 
			0 as questionNumber, 0 as answerNumber, null as signType, t3.create_user_id as createUserId, '' as viewResultTime,
			t3.create_time as createTime, t3.chapter_id as chapterId, '' as type
			from t_evgl_activity_answer_discuss t3
			
			union all
			
			select t4.paper_id as activityId, 4 as resgroupId, t4.paper_name as activityTitle, '测试活动' as activityTypeName, '4' as activityType,
			t4.empirical_value as empiricalValue, null as purpose, 
			t4.question_number as questionNumber, 0 as answerNumber, t4.redo_num as signType, t4.create_user_id as createUserId, t4.view_result_time as viewResultTime,
			t4.create_time as createTime, t4.chapter_id as chapterId, '' as type
			from t_ep_examine_paper_info t4
			
			union all
			
			select t5.activity_id as activityId, 5 as resgroupId, t5.activity_title as activityTitle, '作业/小组任务' as activityTypeName, '5' as activityType,
			t5.empirical_value as empiricalValue, t5.purpose, 
			0 as questionNumber, 0 as answerNumber, null as signType, t5.create_user_id as createUserId, '' as viewResultTime,
			t5.create_time as createTime, t5.chapter_id as chapterId, '' as type
			from t_evgl_activity_task t5
			
			union all
			
			select t6.answer_id as activityId, 6 as resgroupId, t6.answer_title as activityTitle, '课堂表现' as activityTypeName, '6' as activityType, 
			t6.empirical_value as empiricalValue, null as purpose, 
			0 as questionNumber, ifnull(t6.answer_num, 0) as answerNumber, null as signType, t6.create_user_id as createUserId, 
			'' as viewResultTime, t6.create_time as createTime, '' as chapterId, ifnull(t6.type, 0) as type
			from t_evgl_tch_room_pere_answer t6
			
			union all
			
			select t7.activity_id as activityId, 7 as resgroupId, t7.activity_title as activityTitle, '轻直播' as activityTypeName, '7' as activityType, 
			t7.empirical_value as empiricalValue, null as purpose, 
			0 as questionNumber, 0 as answerNumber, null as signType, t7.create_user_id as createUserId, 
			'' as viewResultTime, t7.create_time as createTime, t7.chapter_id as chapterId, '' as type
			from t_evgl_activity_live t7
			
			union all
			
			select t8.activity_id as activityId, 8 as resgroupId, t8.activity_title as activityTitle, '签到活动' as activityTypeName, '8' as activityType,
			t8.empirical_value as empiricalValue, null as purpose,
			t8.number as questionNumber, ifnull(t8.trainee_num, 0) as answerNumber, t8.sign_type as signType, t8.create_user_id as createUserId, '' as viewResultTime,
			t8.create_time as createTime, t8.chapter_id as chapterId, '' as type
			from t_evgl_activity_signin_info t8 
			<where>
				<choose>
					<!-- 学员看到不到手工签到 -->
			        <when test="isCreator == null">
			            t8.is_trainees_visible in ('Y')  
			        </when>
			        <otherwise>
			            t8.is_trainees_visible in ('Y', 'N')
			        </otherwise>
			    </choose>
			</where>
			
			union all
			
			select t9.er_id as activityId, 4 as resgroupId, t9.activity_title as activityTitle, '实践考核' as activityTypeName, '9' as activityType,
			t9.empirical_value as empiricalValue, null as purpose,
			0 as questionNumber, 0 as answerNumber, '' as signType, t9.create_user_id as createUserId, '' as viewResultTime,
			t9.create_time as createTime, '' as chapterId, '' as type
			from t_eao_trainee_examroom t9
			
		) t 
		inner join t_evgl_pkg_activity_relation relation on t.activityId = relation.activity_id
        <where>
        		<if test="pkgIds != null and pkgIds.size() > 0">
                and relation.pkg_id in
                	<foreach collection="pkgIds" item="pkgId" open="(" separator="," close=")">
                		#{pkgId} 
                	</foreach>
                </if>
        		<!-- 不是课堂创建者是，只查询进行中和已结束的活动 -->
        		<if test="isCreator == null and isTogetherBuild == null">
                and relation.activity_state in (1, 2)         
                </if>
                <!-- 按名称模糊搜索 -->
                <if test="activityTitle != null and activityTitle.trim() != ''">
                and t.activityTitle like concat ('%', #{activityTitle,jdbcType=VARCHAR}, '%')            
                </if>
                <!-- 所属章节 -->
                <if test="chapterId != null and chapterId.trim() != ''">
                and t.chapterId =#{chapterId,jdbcType=VARCHAR}            </if>
        		
        		<if test="pkgId != null and pkgId.trim() != ''">
                and relation.pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                
                <if test="resgroupId != null and resgroupId.trim() != ''">
                and t.resgroupId =#{resgroupId,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="activityState != null and activityState.trim() != ''">
                and relation.activity_state =#{activityState,jdbcType=VARCHAR}            </if>
                <if test="activityType != null and activityType.trim() != ''">
                and t.activityType =#{activityType,jdbcType=VARCHAR}            </if>
        </where>
        GROUP BY t.activityId
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t.activityId  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 查找当前学员参与过的活动 -->
    <select id="queryJoinActivity"  resultType="map" parameterType="map">
    	select t.* from (
			select ct_id as ctId, trainee_id as traineeId, activity_id as activityId, '1' as activityTpe from t_evgl_activity_vote_questionnaire_trainee_answer
			<where>
				<if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            
                </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            
                </if>
			</where>
			
			union all
			
			select ct_id as ctId, trainee_id as traineeId, activity_id as activityId, '2' as activityTpe from t_evgl_activity_brainstorming_trainee_answer 
			<where>
				<if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            
                </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            
                </if>
			</where>
			
			union all
			
			select ct_id as ctId, trainee_id as traineeId, paper_id as activityId, '4' as activityTpe from t_ep_examine_dynamic_paper
			<where>
				paper_is_finished = "Y"
				<if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            
                </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            
                </if>
			</where>
			
			union all
			
			select ct_id as ctId, trainee_id as traineeId, anser_id as activityId, '5' as activityTpe from t_evgl_tch_room_pere_trainee_answer
			<where>
				<if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            
                </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            
                </if>
			</where>
			
			union all
			
			select ct_id as ctId, trainee_id as traineeId, activity_id as activityId, '6' as activityTpe from t_evgl_activity_signin_trainee 
			<where>
				<if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            
                </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            
                </if>
			</where>
			
			union all
			
			select t2.er_addr as ctId, t1.trainee_id as traineeId, t2.er_id as activityId, '7' as activityTpe from t_eao_trainee_exammember t1 inner join t_eao_trainee_examroom t2 on t1.er_id = t2.er_id 
			<where>
				<if test="ctId != null and ctId.trim() != ''">
                and t2.er_addr =#{ctId,jdbcType=VARCHAR}            
                </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            
                </if>
			</where>
		) t
    </select>
    
</mapper>

