<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivityTraineeJoinInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.activity.domain.TevglActivityTraineeJoinInfo">
		<result column="aj_id" jdbcType="VARCHAR"
			property="ajId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="activity_id" jdbcType="VARCHAR"
			property="activityId" />
		<result column="activity_type" jdbcType="VARCHAR"
			property="activityType" />
		<result column="join_time" jdbcType="VARCHAR"
			property="joinTime" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		aj_id,trainee_id,activity_id,activity_type,join_time,state
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityTraineeJoinInfo">
		INSERT INTO T_EVGL_ACTIVITY_TRAINEE_JOIN_INFO (
		aj_id ,
		trainee_id ,
		activity_id ,
		activity_type ,
		join_time ,
		state 
		) VALUES (

#{ajId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{activityId,jdbcType=VARCHAR} ,

#{activityType,jdbcType=VARCHAR} ,

#{joinTime,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityTraineeJoinInfo">
		UPDATE T_EVGL_ACTIVITY_TRAINEE_JOIN_INFO 
		<set>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="activityId != null">
		activity_id = #{activityId,jdbcType=VARCHAR},
		</if>
		<if test="activityType != null">
		activity_type = #{activityType,jdbcType=VARCHAR},
		</if>
		<if test="joinTime != null">
		join_time = #{joinTime,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		aj_id = #{ajId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_TRAINEE_JOIN_INFO WHERE
		aj_id =
		#{ajId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_TRAINEE_JOIN_INFO WHERE
		aj_id in
		<foreach item="ajId" collection="array" open="("
			separator="," close=")">
#{ajId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_ACTIVITY_TRAINEE_JOIN_INFO WHERE
		aj_id = #{ajId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_TRAINEE_JOIN_INFO
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="activityId != null and activityId.trim() != ''">
                and activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="activityType != null and activityType.trim() != ''">
                and activity_type =#{activityType,jdbcType=VARCHAR}            </if>
                <if test="joinTime != null and joinTime.trim() != ''">
                and join_time =#{joinTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by aj_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_TRAINEE_JOIN_INFO t1
        <where>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="activityType != null and activityType.trim() != ''">
                and t1.activity_type =#{activityType,jdbcType=VARCHAR}            </if>
                <if test="joinTime != null and joinTime.trim() != ''">
                and t1.join_time =#{joinTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.aj_id  desc
            </otherwise>
        </choose>
    </select>
    <!-- 批量新增 -->
    <insert id="insertBatch" parameterType="java.util.List">
    	insert into t_evgl_activity_trainee_join_info
    		(aj_id, trainee_id, activity_id, activity_type, join_time, state)
    	values
    	<foreach collection="list" item="obj" separator=",">
    		(
    		#{obj.ajId}, #{obj.traineeId}, #{obj.activityId}, #{obj.activityType},
    		#{obj.joinTime}, #{obj.state}
    		)
    	</foreach>
    </insert>
</mapper>

