<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivityVoteQuestionnaireQuestionMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.activity.domain.TevglActivityVoteQuestionnaireQuestion">
		<result column="question_id" jdbcType="VARCHAR"
			property="questionId" />
		<result column="activity_id" jdbcType="VARCHAR"
			property="activityId" />
		<result column="question_name" jdbcType="LONGVARCHAR"
			property="questionName" />
		<result column="question_type" jdbcType="VARCHAR"
			property="questionType" />
		<result column="sort_num" jdbcType="INTEGER"
			property="sortNum" />
		<result column="question_answer" jdbcType="VARCHAR"
			property="questionAnswer" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="tips" jdbcType="VARCHAR"
			property="tips" />	
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		question_id,activity_id,question_name,question_type,sort_num,question_answer,state,create_time,create_user_id,update_time,update_user_id,tips
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityVoteQuestionnaireQuestion">
		INSERT INTO T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION (
		question_id ,
		activity_id ,
		question_name ,
		question_type ,
		sort_num ,
		question_answer ,
		state ,
		create_time ,
		create_user_id ,
		update_time ,
		update_user_id ,
		tips
		) VALUES (

#{questionId,jdbcType=VARCHAR} ,

#{activityId,jdbcType=VARCHAR} ,

#{questionName,jdbcType=LONGVARCHAR} ,

#{questionType,jdbcType=VARCHAR} ,

#{sortNum,jdbcType=INTEGER} ,

#{questionAnswer,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{tips,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityVoteQuestionnaireQuestion">
		UPDATE T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION 
		<set>
		<if test="activityId != null">
		activity_id = #{activityId,jdbcType=VARCHAR},
		</if>
		<if test="questionName != null">
		question_name = #{questionName,jdbcType=LONGVARCHAR},
		</if>
		<if test="questionType != null">
		question_type = #{questionType,jdbcType=VARCHAR},
		</if>
		<if test="sortNum != null">
		sort_num = #{sortNum,jdbcType=INTEGER},
		</if>
		<if test="questionAnswer != null">
		question_answer = #{questionAnswer,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="tips != null">
		tips = #{tips,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		question_id = #{questionId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION WHERE
		question_id =
		#{questionId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION WHERE
		question_id in
		<foreach item="questionId" collection="array" open="("
			separator="," close=")">
#{questionId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION WHERE
		question_id = #{questionId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION
        <where>
        		<if test="activityIds != null and activityIds.size() > 0">
				and activity_id in 
				    <foreach collection="activityIds" item="activityId" open="(" separator="," close=")">
				        #{activityId,jdbcType=VARCHAR}
				    </foreach> 
				</if>
                <if test="activityId != null and activityId.trim() != ''">
                and activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="questionName != null and questionName.trim() != ''">
                and question_name =#{questionName,jdbcType=LONGVARCHAR}            </if>
                <if test="questionType != null and questionType.trim() != ''">
                and question_type =#{questionType,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="questionAnswer != null and questionAnswer.trim() != ''">
                and question_answer =#{questionAnswer,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="tips != null and tips.trim() != ''">
                and tips =#{tips,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by question_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION t1
        <where>
        		<if test="activityIds != null and activityIds.size() > 0">
				and activity_id in 
				    <foreach collection="activityIds" item="activityId" open="(" separator="," close=")">
				        #{activityId,jdbcType=VARCHAR}
				    </foreach> 
				</if>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="questionName != null and questionName.trim() != ''">
                and t1.question_name =#{questionName,jdbcType=LONGVARCHAR}            </if>
                <if test="questionType != null and questionType.trim() != ''">
                and t1.question_type =#{questionType,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="questionAnswer != null and questionAnswer.trim() != ''">
                and t1.question_answer =#{questionAnswer,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="tips != null and tips.trim() != ''">
                and t1.tips =#{tips,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.question_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectSimpleListMapByMap" resultType="map"
        parameterType="map">
        select t1.question_id as questionId, t1.question_name as questionName, ifnull(t1.tips, '') as tips,
        t1.activity_id as activityId, t1.question_type as questionType, t1.sort_num as sortNum,
        t1.state, t1.question_answer as questionAnswer
        from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION t1
        <where>
        		<if test="activityIds != null and activityIds.size() > 0">
				and t1.activity_id in 
				    <foreach collection="activityIds" item="activityId" open="(" separator="," close=")">
				        #{activityId,jdbcType=VARCHAR}
				    </foreach> 
				</if>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="questionName != null and questionName.trim() != ''">
                and t1.question_name =#{questionName,jdbcType=LONGVARCHAR}            </if>
                <if test="questionType != null and questionType.trim() != ''">
                and t1.question_type =#{questionType,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="questionAnswer != null and questionAnswer.trim() != ''">
                and t1.question_answer =#{questionAnswer,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="tips != null and tips.trim() != ''">
                and t1.tips =#{tips,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.question_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="getMaxSortNum" parameterType="map" resultType="Integer">
    	select ifnull(MAX(sort_num), 0) + 1 as sortNum 
    	from t_evgl_activity_vote_questionnaire_question t1
    	<where>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
        </where>
    </select>
    
    <select id="selectActivityQuestionList" parameterType="java.lang.String" resultMap="BaseResultMap">
    	select * from t_evgl_activity_vote_questionnaire_question
    	where activity_id = #{activityId}
    </select>
    
    <!-- 仅查询主键id -->
    <select id="selectQuestionIdListByMap" resultType="string" parameterType="map">
        select question_id from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION t1
        <where>
        		<if test="activityIds != null and activityIds.size() > 0">
				and activity_id in 
				    <foreach collection="activityIds" item="activityId" open="(" separator="," close=")">
				        #{activityId,jdbcType=VARCHAR}
				    </foreach> 
				</if>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="questionName != null and questionName.trim() != ''">
                and t1.question_name =#{questionName,jdbcType=LONGVARCHAR}            </if>
                <if test="questionType != null and questionType.trim() != ''">
                and t1.question_type =#{questionType,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="questionAnswer != null and questionAnswer.trim() != ''">
                and t1.question_answer =#{questionAnswer,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="tips != null and tips.trim() != ''">
                and t1.tips =#{tips,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.question_id  desc
            </otherwise>
        </choose>
    </select>
    
</mapper>

