<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivityVoteQuestionnaireQuestionOptionMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.activity.domain.TevglActivityVoteQuestionnaireQuestionOption">
		<result column="option_id" jdbcType="VARCHAR"
			property="optionId" />
		<result column="question_id" jdbcType="VARCHAR"
			property="questionId" />
		<result column="option_code" jdbcType="VARCHAR"
			property="optionCode" />
		<result column="option_name" jdbcType="LONGVARCHAR"
			property="optionName" />
		<result column="sort_num" jdbcType="INTEGER"
			property="sortNum" />
		<result column="is_right" jdbcType="VARCHAR"
			property="isRight" />
		<result column="can_fill" jdbcType="VARCHAR"
			property="canFill" />		
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		option_id,question_id,option_code,option_name,sort_num,is_right,can_fill
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityVoteQuestionnaireQuestionOption">
		INSERT INTO T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION (
		option_id ,
		question_id ,
		option_code ,
		option_name ,
		sort_num ,
		is_right ,
		can_fill 
		) VALUES (

#{optionId,jdbcType=VARCHAR} ,

#{questionId,jdbcType=VARCHAR} ,

#{optionCode,jdbcType=VARCHAR} ,

#{optionName,jdbcType=LONGVARCHAR} ,

#{sortNum,jdbcType=INTEGER} ,

#{isRight,jdbcType=VARCHAR} ,

#{canFill,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityVoteQuestionnaireQuestionOption">
		UPDATE T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION 
		<set>
		<if test="questionId != null">
		question_id = #{questionId,jdbcType=VARCHAR},
		</if>
		<if test="optionCode != null">
		option_code = #{optionCode,jdbcType=VARCHAR},
		</if>
		<if test="optionName != null">
		option_name = #{optionName,jdbcType=LONGVARCHAR},
		</if>
		<if test="sortNum != null">
		sort_num = #{sortNum,jdbcType=INTEGER},
		</if>
		<if test="isRight != null">
		is_right = #{isRight,jdbcType=VARCHAR},
		</if>
		<if test="canFill != null">
		can_fill = #{canFill,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		option_id = #{optionId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION WHERE
		option_id =
		#{optionId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION WHERE
		option_id in
		<foreach item="optionId" collection="array" open="("
			separator="," close=")">
#{optionId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	
	<delete id="deleteByQuestionId" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION WHERE
		question_id =
		#{questionId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatchByQuestionId" parameterType="java.lang.String">
		delete from t_evgl_activity_vote_questionnaire_question_option 
		where question_id in 
		<foreach collection="array" item="questionId" open="(" separator="," close=")">
			#{questionId,jdbcType=VARCHAR}			
		</foreach>
	</delete>
	
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION WHERE
		option_id = #{optionId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION
        <where>
        		<if test="questionIds != null and questionIds.size() > 0">
                and question_id in 
	                <foreach collection="questionIds" item="questionId" open="(" separator="," close=")">
		                #{questionId,jdbcType=VARCHAR}
	                </foreach>
                </if>
        
                <if test="questionId != null and questionId.trim() != ''">
                and question_id =#{questionId,jdbcType=VARCHAR}            </if>
                <if test="optionCode != null and optionCode.trim() != ''">
                and option_code =#{optionCode,jdbcType=VARCHAR}            </if>
                <if test="optionName != null and optionName.trim() != ''">
                and option_name =#{optionName,jdbcType=LONGVARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="isRight != null and isRight.trim() != ''">
                and is_right =#{isRight,jdbcType=LONGVARCHAR}            </if>
                <if test="canFill != null and canFill.trim() != ''">
                and can_fill =#{canFill,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by option_id  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 查询了is_right字段 -->
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select t1.option_id as optionId, t1.question_id as questionId, t1.option_code as optionCode,
        t1.option_name as optionName, t1.sort_num as sortNum, t1.is_right as isRight, t1.can_fill as canFill
        from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION t1
        <where>
        		<if test="questionIds != null and questionIds.size() > 0">
                and t1.question_id in 
                	<foreach collection="questionIds" item="questionId" open="(" separator="," close=")">
                		#{questionId,jdbcType=VARCHAR}
                	</foreach>
                </if>
                <if test="questionId != null and questionId.trim() != ''">
                and t1.question_id =#{questionId,jdbcType=VARCHAR}            </if>
                <if test="optionCode != null and optionCode.trim() != ''">
                and t1.option_code =#{optionCode,jdbcType=VARCHAR}            </if>
                <if test="optionName != null and optionName.trim() != ''">
                and t1.option_name =#{optionName,jdbcType=LONGVARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="isRight != null and isRight.trim() != ''">
                and t1.is_right =#{isRight,jdbcType=LONGVARCHAR}            </if>
                <if test="canFill != null and canFill.trim() != ''">
                and t1.can_fill =#{canFill,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.option_id  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 不查询is_right字段 -->
    <select id="selectListMapForWeb" resultType="map"
        parameterType="map">
        select t1.option_id as optionId, t1.question_id as questionId, t1.option_code as optionCode,
        t1.option_name as optionName, t1.sort_num as sortNum, t1.can_fill as canFill
        from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION t1
        <where>
        		<if test="questionIds != null and questionIds.size() > 0">
                and t1.question_id in 
                	<foreach collection="questionIds" item="questionId" open="(" separator="," close=")">
                		#{questionId,jdbcType=VARCHAR}
                	</foreach>
                </if>
                <if test="questionId != null and questionId.trim() != ''">
                and t1.question_id =#{questionId,jdbcType=VARCHAR}            </if>
                <if test="optionCode != null and optionCode.trim() != ''">
                and t1.option_code =#{optionCode,jdbcType=VARCHAR}            </if>
                <if test="optionName != null and optionName.trim() != ''">
                and t1.option_name =#{optionName,jdbcType=LONGVARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="isRight != null and isRight.trim() != ''">
                and t1.is_right =#{isRight,jdbcType=LONGVARCHAR}            </if>
                <if test="canFill != null and canFill.trim() != ''">
                and t1.can_fill =#{canFill,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.option_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectOptionListByQuestionIds" parameterType="java.util.List" resultMap="BaseResultMap">
    	select * from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION
    	where question_id in 
    	<foreach collection="list" item="questionId" open="(" separator="," close=")">
    		#{questionId}
    	</foreach>
    </select>
    
    <!-- 仅查询主键id -->
    <select id="selectOptionIdListByMap" resultType="string" parameterType="map">
        select t1.option_id from T_EVGL_ACTIVITY_VOTE_QUESTIONNAIRE_QUESTION_OPTION t1
        <where>
        		<if test="questionIds != null and questionIds.size() > 0">
                and t1.question_id in 
                	<foreach collection="questionIds" item="questionId" open="(" separator="," close=")">
                		#{questionId,jdbcType=VARCHAR}
                	</foreach>
                </if>
                <if test="questionId != null and questionId.trim() != ''">
                and t1.question_id =#{questionId,jdbcType=VARCHAR}            </if>
                <if test="optionCode != null and optionCode.trim() != ''">
                and t1.option_code =#{optionCode,jdbcType=VARCHAR}            </if>
                <if test="optionName != null and optionName.trim() != ''">
                and t1.option_name =#{optionName,jdbcType=LONGVARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="isRight != null and isRight.trim() != ''">
                and t1.is_right =#{isRight,jdbcType=LONGVARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.option_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

