<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivityTaskGroupMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskGroup">
		<result column="group_id" jdbcType="VARCHAR"
			property="groupId" />
		<result column="ct_id" jdbcType="VARCHAR"
			property="ctId" />
		<result column="group_name" jdbcType="VARCHAR"
			property="groupName" />
		<result column="group_num" jdbcType="INTEGER"
			property="groupNum" />
		<result column="content" jdbcType="LONGVARCHAR"
			property="content" />
		<result column="final_score" jdbcType="DECIMAL"
			property="finalScore" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		group_id,ct_id,group_name,group_num,content,final_score,create_time,create_user_id,update_time,update_user_id,state
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskGroup">
		INSERT INTO T_EVGL_ACTIVITY_TASK_GROUP (
		group_id ,
		ct_id ,
		group_name ,
		group_num ,
		content ,
		final_score ,
		create_time ,
		create_user_id ,
		update_time ,
		update_user_id ,
		state 
		) VALUES (

#{groupId,jdbcType=VARCHAR} ,

#{ctId,jdbcType=VARCHAR} ,

#{groupName,jdbcType=VARCHAR} ,

#{groupNum,jdbcType=INTEGER} ,

#{content,jdbcType=LONGVARCHAR} ,

#{finalScore,jdbcType=DECIMAL} ,

#{createTime,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskGroup">
		UPDATE T_EVGL_ACTIVITY_TASK_GROUP 
		<set>
		<if test="ctId != null">
		ct_id = #{ctId,jdbcType=VARCHAR},
		</if>
		<if test="groupName != null">
		group_name = #{groupName,jdbcType=VARCHAR},
		</if>
		<if test="groupNum != null">
		group_num = #{groupNum,jdbcType=INTEGER},
		</if>
		<if test="content != null">
		content = #{content,jdbcType=LONGVARCHAR},
		</if>
		<if test="finalScore != null">
		final_score = #{finalScore,jdbcType=DECIMAL},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		group_id = #{groupId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_TASK_GROUP WHERE
		group_id =
		#{groupId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_TASK_GROUP WHERE
		group_id in
		<foreach item="groupId" collection="array" open="("
			separator="," close=")">
#{groupId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_ACTIVITY_TASK_GROUP WHERE
		group_id = #{groupId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_TASK_GROUP
        <where>
                <if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="groupName != null and groupName.trim() != ''">
                and group_name =#{groupName,jdbcType=VARCHAR}            </if>
                <if test="groupNum != null and groupNum != ''">
                and group_num =#{groupNum,jdbcType=INTEGER}            </if>
                <if test="content != null and content.trim() != ''">
                and content =#{content,jdbcType=LONGVARCHAR}            </if>
                <if test="finalScore != null and finalScore != ''">
                and final_score =#{finalScore,jdbcType=DECIMAL}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by group_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_TASK_GROUP t1
        <where>
                <if test="ctId != null and ctId.trim() != ''">
                and t1.ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="groupName != null and groupName.trim() != ''">
                and t1.group_name =#{groupName,jdbcType=VARCHAR}            </if>
                <if test="groupNum != null and groupNum != ''">
                and t1.group_num =#{groupNum,jdbcType=INTEGER}            </if>
                <if test="content != null and content.trim() != ''">
                and t1.content =#{content,jdbcType=LONGVARCHAR}            </if>
                <if test="finalScore != null and finalScore != ''">
                and t1.final_score =#{finalScore,jdbcType=DECIMAL}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.group_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

