<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivityTaskTraineeAnswerFileMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskTraineeAnswerFile">
		<result column="file_id" jdbcType="VARCHAR"
			property="fileId" />
		<result column="activity_id" jdbcType="VARCHAR"
			property="activityId" />
		<result column="group_id" jdbcType="VARCHAR"
			property="groupId" />
		<result column="member_id" jdbcType="VARCHAR"
			property="memberId" />
		<result column="file_name" jdbcType="VARCHAR"
			property="fileName" />
		<result column="file_access_url" jdbcType="VARCHAR"
			property="fileAccessUrl" />
		<result column="file_save_path" jdbcType="VARCHAR"
			property="fileSavePath" />
		<result column="file_suffix" jdbcType="VARCHAR"
			property="fileSuffix" />
		<result column="file_size" jdbcType="BIGINT"
			property="fileSize" />
		<result column="file_type" jdbcType="VARCHAR"
			property="fileType" />
		<result column="original_filename" jdbcType="VARCHAR"
			property="originalFilename" />
		<result column="sort_num" jdbcType="INTEGER"
			property="sortNum" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="first_capture_access_url" jdbcType="VARCHAR"
			property="firstCaptureAccessUrl" />
		<result column="first_capture_save_path" jdbcType="VARCHAR"
			property="firstCaptureSavePath" />
		<result column="duration_time" jdbcType="BIGINT"
			property="durationTime" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		file_id,activity_id,group_id,member_id,file_name,file_access_url,file_save_path,file_suffix,file_size,file_type,original_filename,sort_num,create_user_id,create_time,update_user_id,update_time,state,first_capture_access_url,first_capture_save_path,duration_time
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskTraineeAnswerFile">
		INSERT INTO T_EVGL_ACTIVITY_TASK_TRAINEE_ANSWER_FILE (
		file_id ,
		activity_id ,
		group_id ,
		member_id ,
		file_name ,
		file_access_url ,
		file_save_path ,
		file_suffix ,
		file_size ,
		file_type ,
		original_filename ,
		sort_num ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		state ,
		first_capture_access_url ,
		first_capture_save_path ,
		duration_time 
		) VALUES (

#{fileId,jdbcType=VARCHAR} ,

#{activityId,jdbcType=VARCHAR} ,

#{groupId,jdbcType=VARCHAR} ,

#{memberId,jdbcType=VARCHAR} ,

#{fileName,jdbcType=VARCHAR} ,

#{fileAccessUrl,jdbcType=VARCHAR} ,

#{fileSavePath,jdbcType=VARCHAR} ,

#{fileSuffix,jdbcType=VARCHAR} ,

#{fileSize,jdbcType=BIGINT} ,

#{fileType,jdbcType=VARCHAR} ,

#{originalFilename,jdbcType=VARCHAR} ,

#{sortNum,jdbcType=INTEGER} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} ,

#{firstCaptureAccessUrl,jdbcType=VARCHAR} ,

#{firstCaptureSavePath,jdbcType=VARCHAR} ,

#{durationTime,jdbcType=BIGINT} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityTaskTraineeAnswerFile">
		UPDATE T_EVGL_ACTIVITY_TASK_TRAINEE_ANSWER_FILE 
		<set>
		<if test="activityId != null">
		activity_id = #{activityId,jdbcType=VARCHAR},
		</if>
		<if test="groupId != null">
		group_id = #{groupId,jdbcType=VARCHAR},
		</if>
		<if test="memberId != null">
		member_id = #{memberId,jdbcType=VARCHAR},
		</if>
		<if test="fileName != null">
		file_name = #{fileName,jdbcType=VARCHAR},
		</if>
		<if test="fileAccessUrl != null">
		file_access_url = #{fileAccessUrl,jdbcType=VARCHAR},
		</if>
		<if test="fileSavePath != null">
		file_save_path = #{fileSavePath,jdbcType=VARCHAR},
		</if>
		<if test="fileSuffix != null">
		file_suffix = #{fileSuffix,jdbcType=VARCHAR},
		</if>
		<if test="fileSize != null">
		file_size = #{fileSize,jdbcType=BIGINT},
		</if>
		<if test="fileType != null">
		file_type = #{fileType,jdbcType=VARCHAR},
		</if>
		<if test="originalFilename != null">
		original_filename = #{originalFilename,jdbcType=VARCHAR},
		</if>
		<if test="sortNum != null">
		sort_num = #{sortNum,jdbcType=INTEGER},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="firstCaptureAccessUrl != null">
		first_capture_access_url = #{firstCaptureAccessUrl,jdbcType=VARCHAR},
		</if>
		<if test="firstCaptureSavePath != null">
		first_capture_save_path = #{firstCaptureSavePath,jdbcType=VARCHAR},
		</if>
		<if test="durationTime != null">
		duration_time = #{durationTime,jdbcType=BIGINT},
		</if>
		</set>
		WHERE
		file_id = #{fileId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_TASK_TRAINEE_ANSWER_FILE WHERE
		file_id =
		#{fileId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_TASK_TRAINEE_ANSWER_FILE WHERE
		file_id in
		<foreach item="fileId" collection="array" open="("
			separator="," close=")">
#{fileId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_ACTIVITY_TASK_TRAINEE_ANSWER_FILE WHERE
		file_id = #{fileId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_TASK_TRAINEE_ANSWER_FILE
        <where>
                <if test="activityId != null and activityId.trim() != ''">
                and activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="groupId != null and groupId.trim() != ''">
                and group_id =#{groupId,jdbcType=VARCHAR}            </if>
                <if test="memberId != null and memberId.trim() != ''">
                and member_id =#{memberId,jdbcType=VARCHAR}            </if>
                <if test="fileName != null and fileName.trim() != ''">
                and file_name =#{fileName,jdbcType=VARCHAR}            </if>
                <if test="fileAccessUrl != null and fileAccessUrl.trim() != ''">
                and file_access_url =#{fileAccessUrl,jdbcType=VARCHAR}            </if>
                <if test="fileSavePath != null and fileSavePath.trim() != ''">
                and file_save_path =#{fileSavePath,jdbcType=VARCHAR}            </if>
                <if test="fileSuffix != null and fileSuffix.trim() != ''">
                and file_suffix =#{fileSuffix,jdbcType=VARCHAR}            </if>
                <if test="fileSize != null and fileSize.trim() != ''">
                and file_size =#{fileSize,jdbcType=BIGINT}            </if>
                <if test="fileType != null and fileType.trim() != ''">
                and file_type =#{fileType,jdbcType=VARCHAR}            </if>
                <if test="originalFilename != null and originalFilename.trim() != ''">
                and original_filename =#{originalFilename,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="firstCaptureAccessUrl != null and firstCaptureAccessUrl.trim() != ''">
                and first_capture_access_url =#{firstCaptureAccessUrl,jdbcType=VARCHAR}            </if>
                <if test="firstCaptureSavePath != null and firstCaptureSavePath.trim() != ''">
                and first_capture_save_path =#{firstCaptureSavePath,jdbcType=VARCHAR}            </if>
                <if test="durationTime != null and durationTime.trim() != ''">
                and duration_time =#{durationTime,jdbcType=BIGINT}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by file_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_TASK_TRAINEE_ANSWER_FILE t1
        <where>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="groupId != null and groupId.trim() != ''">
                and t1.group_id =#{groupId,jdbcType=VARCHAR}            </if>
                <if test="memberId != null and memberId.trim() != ''">
                and t1.member_id =#{memberId,jdbcType=VARCHAR}            </if>
                <if test="fileName != null and fileName.trim() != ''">
                and t1.file_name =#{fileName,jdbcType=VARCHAR}            </if>
                <if test="fileAccessUrl != null and fileAccessUrl.trim() != ''">
                and t1.file_access_url =#{fileAccessUrl,jdbcType=VARCHAR}            </if>
                <if test="fileSavePath != null and fileSavePath.trim() != ''">
                and t1.file_save_path =#{fileSavePath,jdbcType=VARCHAR}            </if>
                <if test="fileSuffix != null and fileSuffix.trim() != ''">
                and t1.file_suffix =#{fileSuffix,jdbcType=VARCHAR}            </if>
                <if test="fileSize != null and fileSize.trim() != ''">
                and t1.file_size =#{fileSize,jdbcType=BIGINT}            </if>
                <if test="fileType != null and fileType.trim() != ''">
                and t1.file_type =#{fileType,jdbcType=VARCHAR}            </if>
                <if test="originalFilename != null and originalFilename.trim() != ''">
                and t1.original_filename =#{originalFilename,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="firstCaptureAccessUrl != null and firstCaptureAccessUrl.trim() != ''">
                and t1.first_capture_access_url =#{firstCaptureAccessUrl,jdbcType=VARCHAR}            </if>
                <if test="firstCaptureSavePath != null and firstCaptureSavePath.trim() != ''">
                and t1.first_capture_save_path =#{firstCaptureSavePath,jdbcType=VARCHAR}            </if>
                <if test="durationTime != null and durationTime.trim() != ''">
                and t1.duration_time =#{durationTime,jdbcType=BIGINT}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.file_id  desc
            </otherwise>
        </choose>
    </select>
   	<update id="updateBatchByDuplicateKey" parameterType="java.util.List">
		INSERT INTO t_evgl_activity_task_trainee_answer_file
		(file_id, ct_id, activity_id, group_id, member_id, update_user_id, update_time)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.fileId},
			#{item.ctId},
			#{item.activityId},
			#{item.groupId},
			#{item.memberId},
			#{item.updateUserId},
			#{item.updateTime}
			)
		</foreach>
		on duplicate key update
		file_id=VALUES(file_id),
		ct_id=VALUES(ct_id),
		activity_id=VALUES(activity_id),
		group_id=VALUES(group_id),
		member_id=VALUES(member_id),
		update_user_id=VALUES(update_user_id),
		update_time=VALUES(update_time)
		;
	</update>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_evgl_activity_task_trainee_answer_file
		(
		file_id, ct_id, activity_id, group_id, member_id,
		file_name, file_access_url, file_save_path, file_suffix, file_size,
		file_type, original_filename, sort_num, create_user_id, create_time,
		state, first_capture_access_url, first_capture_save_path, duration_time
		)
		values
		<foreach collection="list" item="obj" separator="," >
			(
			#{obj.fileId}, #{obj.ctId}, #{obj.activityId}, #{obj.groupId}, #{obj.memberId},
			#{obj.fileName}, #{obj.fileAccessUrl}, #{obj.fileSavePath}, #{obj.fileSuffix}, #{obj.fileSize},
			#{obj.fileType}, #{obj.originalFilename}, #{obj.sortNum}, #{obj.createUserId}, #{obj.createTime},
			#{obj.state}, #{obj.firstCaptureAccessUrl}, #{obj.firstCaptureSavePath}, #{obj.durationTime}
			)
		</foreach>
	</insert>
	<select id="findTraineeAnswerList" parameterType="map" resultType="com.ossbar.modules.evgl.activity.vo.ActTaskTraineeAnswerFileVo">
		select * from T_EVGL_ACTIVITY_TASK_TRAINEE_ANSWER_FILE t1
		<where>
			<if test="memberIdList != null and memberIdList.size() > 0">
				and t1.member_id in
				<foreach collection="memberIdList" item="memberId" open="(" separator="," close=")">
					#{memberId,jdbcType=VARCHAR}
				</foreach>
			</if>
			<if test="activityId != null and activityId.trim() != ''">
				and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
			<if test="groupId != null and groupId.trim() != ''">
				and t1.group_id =#{groupId,jdbcType=VARCHAR}            </if>
			<if test="memberId != null and memberId.trim() != ''">
				and t1.member_id =#{memberId,jdbcType=VARCHAR}            </if>
			<if test="fileName != null and fileName.trim() != ''">
				and t1.file_name =#{fileName,jdbcType=VARCHAR}            </if>
			<if test="fileAccessUrl != null and fileAccessUrl.trim() != ''">
				and t1.file_access_url =#{fileAccessUrl,jdbcType=VARCHAR}            </if>
			<if test="fileSavePath != null and fileSavePath.trim() != ''">
				and t1.file_save_path =#{fileSavePath,jdbcType=VARCHAR}            </if>
			<if test="fileSuffix != null and fileSuffix.trim() != ''">
				and t1.file_suffix =#{fileSuffix,jdbcType=VARCHAR}            </if>
			<if test="fileSize != null and fileSize.trim() != ''">
				and t1.file_size =#{fileSize,jdbcType=BIGINT}            </if>
			<if test="fileType != null and fileType.trim() != ''">
				and t1.file_type =#{fileType,jdbcType=VARCHAR}            </if>
			<if test="originalFilename != null and originalFilename.trim() != ''">
				and t1.original_filename =#{originalFilename,jdbcType=VARCHAR}            </if>
			<if test="sortNum != null and sortNum != ''">
				and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
			<if test="createUserId != null and createUserId.trim() != ''">
				and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
			<if test="createTime != null and createTime.trim() != ''">
				and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
			<if test="updateUserId != null and updateUserId.trim() != ''">
				and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
			<if test="updateTime != null and updateTime.trim() != ''">
				and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
			<if test="state != null and state.trim() != ''">
				and t1.state =#{state,jdbcType=VARCHAR}            </if>
			<if test="firstCaptureAccessUrl != null and firstCaptureAccessUrl.trim() != ''">
				and t1.first_capture_access_url =#{firstCaptureAccessUrl,jdbcType=VARCHAR}            </if>
			<if test="firstCaptureSavePath != null and firstCaptureSavePath.trim() != ''">
				and t1.first_capture_save_path =#{firstCaptureSavePath,jdbcType=VARCHAR}            </if>
			<if test="durationTime != null and durationTime.trim() != ''">
				and t1.duration_time =#{durationTime,jdbcType=BIGINT}            </if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by t1.file_id  desc
			</otherwise>
		</choose>
	</select>
</mapper>

