<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.activity.persistence.TevglActivityBrainstormingTraineeAnswerMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.activity.domain.TevglActivityBrainstormingTraineeAnswer">
		<result column="an_id" jdbcType="VARCHAR"
			property="anId" />
		<result column="ct_id" jdbcType="VARCHAR"
			property="ctId" />
		<result column="activity_id" jdbcType="VARCHAR"
			property="activityId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="content" jdbcType="LONGVARCHAR"
			property="content" />
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="like_num" jdbcType="INTEGER"
			property="likeNum" />		
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		an_id,ct_id,activity_id,trainee_id,content,state,create_time,like_num
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityBrainstormingTraineeAnswer">
		INSERT INTO T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER (
		an_id ,
		ct_id ,
		activity_id ,
		trainee_id ,
		content ,
		state ,
		create_time ,
		like_num
		) VALUES (

#{anId,jdbcType=VARCHAR} ,

#{ctId,jdbcType=VARCHAR} ,

#{activityId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{content,jdbcType=LONGVARCHAR} ,

#{state,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{likeNum,jdbcType=INTEGER} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityBrainstormingTraineeAnswer">
		UPDATE T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER 
		<set>
		<if test="ctId != null">
		ct_id = #{ctId,jdbcType=VARCHAR},
		</if>
		<if test="activityId != null">
		activity_id = #{activityId,jdbcType=VARCHAR},
		</if>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="content != null">
		content = #{content,jdbcType=LONGVARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="likeNum != null">
		like_num = #{likeNum,jdbcType=INTEGER},
		</if>
		</set>
		WHERE
		an_id = #{anId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER WHERE
		an_id =
		#{anId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER WHERE
		an_id in
		<foreach item="anId" collection="array" open="("
			separator="," close=")">
#{anId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER WHERE
		an_id = #{anId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER
        <where>
                <if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="activityId != null and activityId.trim() != ''">
                and activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="content != null and content.trim() != ''">
                and content =#{content,jdbcType=LONGVARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="likeNum != null and likeNum != ''">
                and like_num =#{likeNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by an_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select t1.an_id as anId, t1.ct_id as ctId, t1.activity_id as activityId, t1.trainee_id as traineeId, t1.content, t1.create_time as createTime,
        ifnull(t2.trainee_name, t2.nick_name) as traineeName, ifnull(t2.trainee_pic, ifnull(t2.trainee_head, '')) as traineePic, t2.trainee_sex as traineeSex
        from T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER  t1
        inner join t_evgl_trainee_info t2 on t1.trainee_id = t2.trainee_id
        <where>
                <if test="ctId != null and ctId.trim() != ''">
                and t1.ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="content != null and content.trim() != ''">
                and t1.content =#{content,jdbcType=LONGVARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="likeNum != null and likeNum != ''">
                and t1.like_num =#{likeNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.an_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectObjectMapById" parameterType="java.lang.String"
		resultType="map">
		select t1.an_id as anId, t1.ct_id as ctId, t1.activity_id as activityId, t1.trainee_id as traineeId,
		t1.trainee_id as createUserId,
		t1.content, t1.create_time as createTime, t1.like_num as likeNum,
		t2.activity_title as activityTitle, t2.content as activityContent
		from T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER t1
		inner join t_evgl_activity_brainstorming t2 on t1.activity_id = t2.activity_id 
		WHERE an_id = #{anId,jdbcType=VARCHAR} 
	</select>
	
	<!-- 更新数量 -->
    <update id="plusNum" parameterType="com.ossbar.modules.evgl.activity.domain.TevglActivityBrainstormingTraineeAnswer">
    	update t_evgl_activity_brainstorming_trainee_answer
    	<set>
			<if test="likeNum != null">
				like_num = #{likeNum,jdbcType=INTEGER},
			</if>
    	</set>
    </update>
    
    <!-- 根据条件仅查询主键id -->
    <select id="selectAnIdListByMap" resultType="string"
        parameterType="map">
        select t1.an_id from T_EVGL_ACTIVITY_BRAINSTORMING_TRAINEE_ANSWER  t1
        <where>
        		<if test="activityIds != null and activityIds.size() > 0">
				and t1.activity_id in 
				    <foreach collection="activityIds" item="activityId" open="(" separator="," close=")">
				        #{activityId,jdbcType=VARCHAR}
				    </foreach> 
				</if>
                <if test="ctId != null and ctId.trim() != ''">
                and t1.ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="activityId != null and activityId.trim() != ''">
                and t1.activity_id =#{activityId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="content != null and content.trim() != ''">
                and t1.content =#{content,jdbcType=LONGVARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="likeNum != null and likeNum != ''">
                and t1.like_num =#{likeNum,jdbcType=INTEGER}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.an_id  desc
            </otherwise>
        </choose>
    </select>
    
</mapper>

