<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.tch.persistence.TevglTchClassroomTraineeCheckMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomTraineeCheck">
		<result column="tc_id" jdbcType="VARCHAR"
			property="tcId" />
		<result column="ct_id" jdbcType="VARCHAR"
			property="ctId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="is_pass" jdbcType="VARCHAR"
			property="isPass" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		tc_id,ct_id,trainee_id,is_pass,create_time
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomTraineeCheck">
		INSERT INTO T_EVGL_TCH_CLASSROOM_TRAINEE_CHECK (
		tc_id ,
		ct_id ,
		trainee_id ,
		is_pass ,
		create_time 
		) VALUES (

#{tcId,jdbcType=VARCHAR} ,

#{ctId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{isPass,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomTraineeCheck">
		UPDATE T_EVGL_TCH_CLASSROOM_TRAINEE_CHECK 
		<set>
		<if test="ctId != null">
		ct_id = #{ctId,jdbcType=VARCHAR},
		</if>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="isPass != null">
		is_pass = #{isPass,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		tc_id = #{tcId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_CLASSROOM_TRAINEE_CHECK WHERE
		tc_id =
		#{tcId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_CLASSROOM_TRAINEE_CHECK WHERE
		tc_id in
		<foreach item="tcId" collection="array" open="("
			separator="," close=")">
#{tcId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_TCH_CLASSROOM_TRAINEE_CHECK WHERE
		tc_id = #{tcId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_TCH_CLASSROOM_TRAINEE_CHECK
        <where>	
        		<if test="traineeIds != null and traineeIds.size() > 0">
                and trainee_id in
                	<foreach collection="traineeIds" item="traineeId" open="(" separator="," close=")">
                		#{traineeId} 
                	</foreach>
                </if>
                <if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="isPass != null and isPass.trim() != ''">
                and is_pass =#{isPass,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and create_time =#{createTime,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by tc_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select t1.tc_id as tcId, t1.ct_id as ctId, t1.trainee_id as traineeId, t1.is_pass as isPass, t1.create_time as createTime,
        ifnull(t2.trainee_name, t2.nick_name) as traineeName, ifnull(t2.trainee_pic, t2.trainee_head) as traineePic,
        ifnull(t2.job_number, '') as jobNumber,
        t2.trainee_sex as traineeSex
        from T_EVGL_TCH_CLASSROOM_TRAINEE_CHECK t1
        inner join t_evgl_trainee_info t2 on t1.trainee_id = t2.trainee_id
        <where>
        		<if test="traineeIds != null and traineeIds.size() > 0">
                and trainee_id in
                	<foreach collection="traineeIds" item="traineeId" open="(" separator="," close=")">
                		#{traineeId} 
                	</foreach>
                </if>
        		<if test="traineeName != null and traineeName.trim() != ''">
                and t2.trainee_name like concat ('%', #{traineeId,jdbcType=VARCHAR}, '%') 
                or t2.nick_name like concat ('%', #{traineeId,jdbcType=VARCHAR}, '%')
                </if>
        		
                <if test="ctId != null and ctId.trim() != ''">
                and t1.ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="isPass != null and isPass.trim() != ''">
                and t1.is_pass =#{isPass,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.tc_id  desc
            </otherwise>
        </choose>
    </select>
    
    <update id="updateNotPassBatch" parameterType="java.util.List">
		update T_EVGL_TCH_CLASSROOM_TRAINEE_CHECK set is_pass = 'N'
		where tc_id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>

