<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.tch.persistence.TevglTchTeacherMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.tch.domain.TevglTchTeacher">
		<result column="teacher_id" jdbcType="VARCHAR"
			property="teacherId" />
		<result column="org_id" jdbcType="VARCHAR"
			property="orgId" />
		<result column="teacher_name" jdbcType="VARCHAR"
			property="teacherName" />
		<result column="teacher_post" jdbcType="VARCHAR"
			property="teacherPost" />
		<result column="teacher_pic" jdbcType="VARCHAR"
			property="teacherPic" />
		<result column="teacher_desc" jdbcType="VARCHAR"
			property="teacherDesc" />
		<result column="teacher_remark" jdbcType="LONGVARCHAR"
			property="teacherRemark" />
		<result column="user_id" jdbcType="VARCHAR"
			property="userId" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="nick_name" jdbcType="VARCHAR"
			property="traineeName" />
		<result column="major_id" jdbcType="VARCHAR"
			property="majorId" />
		<result column="show_index" jdbcType="VARCHAR"
			property="showIndex" />		
		<result column="state" jdbcType="VARCHAR"
			property="state" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />	
		<result column="sort_num" jdbcType="INTEGER"
			property="sortNum" />
		<result column="org_id_department" jdbcType="VARCHAR"
			property="orgIdDepartment" />
		<result column="teacher_ertificate_number" jdbcType="VARCHAR"
			property="teacherErtificateNumber" />
		<result column="job_number" jdbcType="VARCHAR"
			property="jobNumber" />
		<result column="sex" jdbcType="VARCHAR"
			property="sex" />		
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		teacher_id,org_id,teacher_name,teacher_post,teacher_pic,teacher_desc,teacher_remark,user_id,username,trainee_id,major_id,show_index,create_user_id,create_time,update_user_id,update_time
		,state,sort_num,org_id_department,teacher_ertificate_number,job_number,sex
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchTeacher">
		INSERT INTO T_EVGL_TCH_TEACHER (
		teacher_id ,
		org_id ,
		teacher_name ,
		teacher_post ,
		teacher_pic ,
		teacher_desc ,
		teacher_remark ,
		user_id ,
		username ,
		trainee_id ,
		major_id ,
		show_index ,
		state ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		sort_num ,
		org_id_department ,
		teacher_ertificate_number ,
		job_number ,
		sex
		) VALUES (

#{teacherId,jdbcType=VARCHAR} ,

#{orgId,jdbcType=VARCHAR} ,

#{teacherName,jdbcType=VARCHAR} ,

#{teacherPost,jdbcType=VARCHAR} ,

#{teacherPic,jdbcType=VARCHAR} ,

#{teacherDesc,jdbcType=VARCHAR} ,

#{teacherRemark,jdbcType=LONGVARCHAR} ,

#{userId,jdbcType=VARCHAR} ,

#{username,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{majorId,jdbcType=VARCHAR} ,

#{showIndex,jdbcType=VARCHAR} ,

#{state,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{sortNum,jdbcType=INTEGER} ,

#{orgIdDepartment,jdbcType=VARCHAR} ,

#{teacherErtificateNumber,jdbcType=VARCHAR} ,

#{jobNumber,jdbcType=VARCHAR} ,

#{sex,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchTeacher">
		UPDATE T_EVGL_TCH_TEACHER 
		<set>
		<if test="orgId != null">
		org_id = #{orgId,jdbcType=VARCHAR},
		</if>
		<if test="teacherName != null">
		teacher_name = #{teacherName,jdbcType=VARCHAR},
		</if>
		<if test="teacherPost != null">
		teacher_post = #{teacherPost,jdbcType=VARCHAR},
		</if>
		<if test="teacherPic != null">
		teacher_pic = #{teacherPic,jdbcType=VARCHAR},
		</if>
		<if test="teacherDesc != null">
		teacher_desc = #{teacherDesc,jdbcType=VARCHAR},
		</if>
		<if test="teacherRemark != null">
		teacher_remark = #{teacherRemark,jdbcType=LONGVARCHAR},
		</if>
		<if test="userId != null">
		user_id = #{userId,jdbcType=VARCHAR},
		</if>
		<if test="username != null">
		username = #{username,jdbcType=VARCHAR},
		</if>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="majorId != null">
		major_id = #{majorId,jdbcType=VARCHAR},
		</if>
		<if test="showIndex != null">
		show_index = #{showIndex,jdbcType=VARCHAR},
		</if>
		<if test="state != null">
		state = #{state,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="sortNum != null">
		sort_num = #{sortNum,jdbcType=INTEGER},
		</if>
		<if test="orgIdDepartment != null">
		org_id_department = #{orgIdDepartment,jdbcType=VARCHAR},
		</if>
		<if test="teacherErtificateNumber != null">
		teacher_ertificate_number = #{teacherErtificateNumber,jdbcType=VARCHAR},
		</if>
		<if test="jobNumber != null">
		job_number = #{jobNumber,jdbcType=VARCHAR},
		</if>
		<if test="sex != null">
		sex = #{sex,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		teacher_id = #{teacherId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_TEACHER WHERE
		teacher_id =
		#{teacherId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_TEACHER WHERE
		teacher_id in
		<foreach item="teacherId" collection="array" open="("
			separator="," close=")">
#{teacherId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		t1.*,t2.nick_name
		from T_EVGL_TCH_TEACHER t1 left join t_evgl_trainee_info t2 on t1.trainee_id=t2.trainee_id WHERE
		t1.teacher_id = #{teacherId,jdbcType=VARCHAR} 
	</select>
	<select id="selectObjectByTraineeId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select t1.*,t2.nick_name, t3.post_name
		from T_EVGL_TCH_TEACHER t1 inner join t_evgl_trainee_info t2 on t1.trainee_id=t2.trainee_id
		left join t_sys_post t3 on t1.teacher_post = t3.post_id
		WHERE t1.trainee_id = #{traineeId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select t1.*, GROUP_CONCAT(t2.major_name) as majorName, t3.post_name as postName from T_EVGL_TCH_TEACHER t1
        left join t_evgl_book_major t2 on FIND_IN_SET(t2.major_id,t1.major_id)
        left join t_sys_post t3 on t1.teacher_post = t3.post_id
        <where>
        		<if test="hasTraineeId != null and hasTraineeId.trim() != ''">
                and (t1.trainee_id is not null and t1.trainee_id != '')            </if>
        		<if test="userIds != null and userIds.size() > 0">
                and t1.teacher_id in 
	                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
	                	#{userId,jdbcType=VARCHAR}
	                </foreach>
                </if>
                <if test="traineeIdList != null and traineeIdList.size() > 0">
                and t1.trainee_id in 
	                <foreach collection="traineeIdList" item="traineeId" open="(" separator="," close=")">
	                	#{traineeId,jdbcType=VARCHAR}
	                </foreach>
                </if>
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="teacherName != null and teacherName.trim() != ''">
                and t1.teacher_name like concat('%',#{teacherName,jdbcType=VARCHAR}, '%')            </if>
                <if test="teacherPost != null and teacherPost.trim() != ''">
                and t1.teacher_post =#{teacherPost,jdbcType=VARCHAR}            </if>
                <if test="teacherPic != null and teacherPic.trim() != ''">
                and t1.teacher_pic =#{teacherPic,jdbcType=VARCHAR}            </if>
                <if test="teacherDesc != null and teacherDesc.trim() != ''">
                and t1.teacher_desc =#{teacherDesc,jdbcType=VARCHAR}            </if>
                <if test="teacherRemark != null and teacherRemark.trim() != ''">
                and t1.teacher_remark =#{teacherRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="userId != null and userId.trim() != ''">
                and t1.user_id =#{userId,jdbcType=VARCHAR}            </if>
                <if test="username != null and username.trim() != ''">
                and t1.username =#{username,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                <if test="showIndex != null and showIndex.trim() != ''">
                and t1.show_index =#{showIndex,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="orgIdDepartment != null and orgIdDepartment.trim() != ''">
                and t1.org_id_department =#{orgIdDepartment,jdbcType=VARCHAR}            </if>
                <if test="teacherErtificateNumber != null and teacherErtificateNumber.trim() != ''">
                and t1.teacher_ertificate_number =#{teacherErtificateNumber,jdbcType=VARCHAR}            </if>
                <if test="jobNumber != null and jobNumber.trim() != ''">
                and t1.job_number =#{jobNumber,jdbcType=VARCHAR}            </if>
                <if test="sex != null and sex.trim() != ''">
                and t1.sex =#{sex,jdbcType=VARCHAR}            </if>
        </where>
        group by t1.teacher_id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.teacher_id  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 多表关联 -->
    <select id="selectSimpleListByMap" resultType="map"
        parameterType="map">
        select t1.teacher_id as teacherId, t1.org_id as orgId, t1.teacher_name as teacherName,
        t1.teacher_post as teacherPost, t1.trainee_id as traineeId,
        ifnull(t1.teacher_pic, ifnull(t4.trainee_head, '/uploads/defaulthead.png')) as teacherPic,
        t1.sex, t1.job_number as jobNumber, t1.major_id as majorId, post.post_name as postName, t1.username as mobile
        from T_EVGL_TCH_TEACHER t1
        left join t_evgl_book_major t2 on t1.major_id = t2.major_id
        left join t_sys_post post on t1.teacher_post = post.post_id
        inner join t_evgl_trainee_info t4 on t1.trainee_id = t4.trainee_id
        <choose>
        	<!-- 已授权 -->
            <when test='type != null and type == "1"'>
                inner join t_evgl_bookpkg_team team on t1.teacher_id = team.user_id and team.pgk_id = #{pkgId}
            </when>
        </choose>
        <where>
        		<if test='type != null and type == "2"'>
                and t1.teacher_id not in (select user_id from t_evgl_bookpkg_team where pgk_id = #{pkgId})        
                </if>
                
        		<if test="notInList != null and notInList.size() > 0">
                and t1.teacher_id not in
                	<foreach collection="notInList" item="userId" open="(" separator="," close=")">
                		#{userId,jdbcType=VARCHAR}
                	</foreach>            
                </if>
                
        
        		<if test="mobile != null and mobile.trim() != ''">
                and t1.username like concat ('%', #{mobile,jdbcType=VARCHAR}, '%')            </if>
        		<if test="majorId != null and majorId.trim() != ''">
                and FIND_IN_SET(#{majorId}, t1.major_id)            </if>	
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="teacherName != null and teacherName.trim() != ''">
                and t1.teacher_name like concat ('%', #{teacherName,jdbcType=VARCHAR}, '%')            </if>
                <if test="teacherPost != null and teacherPost.trim() != ''">
                and t1.teacher_post =#{teacherPost,jdbcType=VARCHAR}            </if>
                <if test="teacherPic != null and teacherPic.trim() != ''">
                and t1.teacher_pic =#{teacherPic,jdbcType=VARCHAR}            </if>
                <if test="teacherDesc != null and teacherDesc.trim() != ''">
                and t1.teacher_desc =#{teacherDesc,jdbcType=VARCHAR}            </if>
                <if test="teacherRemark != null and teacherRemark.trim() != ''">
                and t1.teacher_remark =#{teacherRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="userId != null and userId.trim() != ''">
                and t1.user_id =#{userId,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="showIndex != null and showIndex.trim() != ''">
                and t1.show_index =#{showIndex,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="orgIdDepartment != null and orgIdDepartment.trim() != ''">
                and t1.org_id_department =#{orgIdDepartment,jdbcType=VARCHAR}            </if>
                <if test="teacherErtificateNumber != null and teacherErtificateNumber.trim() != ''">
                and t1.teacher_ertificate_number =#{teacherErtificateNumber,jdbcType=VARCHAR}            </if>
                <if test="jobNumber != null and jobNumber.trim() != ''">
                and t1.job_number =#{jobNumber,jdbcType=VARCHAR}            </if>
                <if test="sex != null and sex.trim() != ''">
                and t1.sex =#{sex,jdbcType=VARCHAR}            </if>
        </where>
        group by t1.teacher_id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.teacher_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_TCH_TEACHER t1
        <where>
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="teacherName != null and teacherName.trim() != ''">
                and t1.teacher_name =#{teacherName,jdbcType=VARCHAR}            </if>
                <if test="teacherPost != null and teacherPost.trim() != ''">
                and t1.teacher_post =#{teacherPost,jdbcType=VARCHAR}            </if>
                <if test="teacherPic != null and teacherPic.trim() != ''">
                and t1.teacher_pic =#{teacherPic,jdbcType=VARCHAR}            </if>
                <if test="teacherDesc != null and teacherDesc.trim() != ''">
                and t1.teacher_desc =#{teacherDesc,jdbcType=VARCHAR}            </if>
                <if test="teacherRemark != null and teacherRemark.trim() != ''">
                and t1.teacher_remark =#{teacherRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="userId != null and userId.trim() != ''">
                and t1.user_id =#{userId,jdbcType=VARCHAR}            </if>
                <if test="username != null and username.trim() != ''">
                and t1.username =#{username,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                <if test="showIndex != null and showIndex.trim() != ''">
                and t1.show_index =#{showIndex,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="sortNum != null and sortNum != ''">
                and t1.sort_num =#{sortNum,jdbcType=INTEGER}            </if>
                <if test="orgIdDepartment != null and orgIdDepartment.trim() != ''">
                and t1.org_id_department =#{orgIdDepartment,jdbcType=VARCHAR}            </if>
                <if test="teacherErtificateNumber != null and teacherErtificateNumber.trim() != ''">
                and t1.teacher_ertificate_number =#{teacherErtificateNumber,jdbcType=VARCHAR}            </if>
                <if test="jobNumber != null and jobNumber.trim() != ''">
                and t1.job_number =#{jobNumber,jdbcType=VARCHAR}            </if>
                <if test="sex != null and sex.trim() != ''">
                and t1.sex =#{sex,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.teacher_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="getMobileList" resultType="map">
    	select teacher_id as teacherId, username, username as mobile 
    	from t_evgl_tch_teacher where username is not null and username != ''
    </select>
    
    <select id="selectListByMapInnerJoinTraineeTable" resultMap="BaseResultMap"
        parameterType="map">
        select t1.* from T_EVGL_TCH_TEACHER t1
        inner join t_evgl_trainee_info t2 on t1.trainee_id = t2.trainee_id
        <where>
        		<if test="userIds != null and userIds.size() > 0">
                and t1.teacher_id in 
	                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
	                	#{userId,jdbcType=VARCHAR}
	                </foreach>
                </if>
                <if test="orgId != null and orgId.trim() != ''">
                and t1.org_id =#{orgId,jdbcType=VARCHAR}            </if>
                <if test="teacherName != null and teacherName.trim() != ''">
                and t1.teacher_name like concat('%',#{teacherName,jdbcType=VARCHAR}, '%')            </if>
                <if test="teacherPost != null and teacherPost.trim() != ''">
                and t1.teacher_post =#{teacherPost,jdbcType=VARCHAR}            </if>
                <if test="teacherPic != null and teacherPic.trim() != ''">
                and t1.teacher_pic =#{teacherPic,jdbcType=VARCHAR}            </if>
                <if test="teacherDesc != null and teacherDesc.trim() != ''">
                and t1.teacher_desc =#{teacherDesc,jdbcType=VARCHAR}            </if>
                <if test="teacherRemark != null and teacherRemark.trim() != ''">
                and t1.teacher_remark =#{teacherRemark,jdbcType=LONGVARCHAR}            </if>
                <if test="userId != null and userId.trim() != ''">
                and t1.user_id =#{userId,jdbcType=VARCHAR}            </if>
                <if test="username != null and username.trim() != ''">
                and t1.username =#{username,jdbcType=VARCHAR}            </if>
                <if test="traineeId != null and traineeId.trim() != ''">
                and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}            </if>
                <if test="majorId != null and majorId.trim() != ''">
                and t1.major_id =#{majorId,jdbcType=VARCHAR}            </if>
                <if test="showIndex != null and showIndex.trim() != ''">
                and t1.show_index =#{showIndex,jdbcType=VARCHAR}            </if>
                <if test="state != null and state.trim() != ''">
                and t1.state =#{state,jdbcType=VARCHAR}            </if>
                <if test="createUserId != null and createUserId.trim() != ''">
                and t1.create_user_id =#{createUserId,jdbcType=VARCHAR}            </if>
                <if test="createTime != null and createTime.trim() != ''">
                and t1.create_time =#{createTime,jdbcType=VARCHAR}            </if>
                <if test="updateUserId != null and updateUserId.trim() != ''">
                and t1.update_user_id =#{updateUserId,jdbcType=VARCHAR}            </if>
                <if test="updateTime != null and updateTime.trim() != ''">
                and t1.update_time =#{updateTime,jdbcType=VARCHAR}            </if>
                <if test="orgIdDepartment != null and orgIdDepartment.trim() != ''">
                and t1.org_id_department =#{orgIdDepartment,jdbcType=VARCHAR}            </if>
                <if test="teacherErtificateNumber != null and teacherErtificateNumber.trim() != ''">
                and t1.teacher_ertificate_number =#{teacherErtificateNumber,jdbcType=VARCHAR}            </if>
                <if test="jobNumber != null and jobNumber.trim() != ''">
                and t1.job_number =#{jobNumber,jdbcType=VARCHAR}            </if>
                <if test="sex != null and sex.trim() != ''">
                and t1.sex =#{sex,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.teacher_id  desc
            </otherwise>
        </choose>
    </select>
    
</mapper>

