<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.tch.persistence.TevglTchClassroomRoleMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomRole">
		<result column="role_id" jdbcType="VARCHAR"
			property="roleId" />
		<result column="role_name" jdbcType="VARCHAR"
			property="roleName" />
		<result column="remark" jdbcType="VARCHAR"
			property="remark" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		role_id,role_name,remark
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomRole">
		INSERT INTO T_EVGL_TCH_CLASSROOM_ROLE (
		role_id ,
		role_name ,
		remark 
		) VALUES (

#{roleId,jdbcType=VARCHAR} ,

#{roleName,jdbcType=VARCHAR} ,

#{remark,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomRole">
		UPDATE T_EVGL_TCH_CLASSROOM_ROLE 
		<set>
		<if test="roleName != null">
		role_name = #{roleName,jdbcType=VARCHAR},
		</if>
		<if test="remark != null">
		remark = #{remark,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		role_id = #{roleId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_CLASSROOM_ROLE WHERE
		role_id =
		#{roleId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_CLASSROOM_ROLE WHERE
		role_id in
		<foreach item="roleId" collection="array" open="("
			separator="," close=")">
#{roleId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_TCH_CLASSROOM_ROLE WHERE
		role_id = #{roleId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_TCH_CLASSROOM_ROLE
        <where>
                <if test="roleName != null and roleName.trim() != ''">
                and role_name =#{roleName,jdbcType=VARCHAR}            </if>
                <if test="remark != null and remark.trim() != ''">
                and remark =#{remark,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by role_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_TCH_CLASSROOM_ROLE t1
        <where>
                <if test="roleName != null and roleName.trim() != ''">
                and t1.role_name =#{roleName,jdbcType=VARCHAR}            </if>
                <if test="remark != null and remark.trim() != ''">
                and t1.remark =#{remark,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.role_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

