<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.tch.persistence.TevglTchClassroomResourceMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomResource">
		<result column="menu_id" jdbcType="VARCHAR"
			property="menuId" />
		<result column="parent_id" jdbcType="VARCHAR"
			property="parentId" />
		<result column="name" jdbcType="VARCHAR"
			property="name" />
		<result column="url" jdbcType="VARCHAR"
			property="url" />
		<result column="perms" jdbcType="VARCHAR"
			property="perms" />
		<result column="type" jdbcType="INTEGER"
			property="type" />
		<result column="icon" jdbcType="VARCHAR"
			property="icon" />
		<result column="order_num" jdbcType="INTEGER"
			property="orderNum" />
		<result column="remark" jdbcType="VARCHAR"
			property="remark" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		menu_id,parent_id,name,url,perms,type,icon,order_num,remark
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomResource">
		INSERT INTO T_EVGL_TCH_CLASSROOM_RESOURCE (
		menu_id ,
		parent_id ,
		name ,
		url ,
		perms ,
		type ,
		icon ,
		order_num ,
		remark 
		) VALUES (

#{menuId,jdbcType=VARCHAR} ,

#{parentId,jdbcType=VARCHAR} ,

#{name,jdbcType=VARCHAR} ,

#{url,jdbcType=VARCHAR} ,

#{perms,jdbcType=VARCHAR} ,

#{type,jdbcType=INTEGER} ,

#{icon,jdbcType=VARCHAR} ,

#{orderNum,jdbcType=INTEGER} ,

#{remark,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.tch.domain.TevglTchClassroomResource">
		UPDATE T_EVGL_TCH_CLASSROOM_RESOURCE 
		<set>
		<if test="parentId != null">
		parent_id = #{parentId,jdbcType=VARCHAR},
		</if>
		<if test="name != null">
		name = #{name,jdbcType=VARCHAR},
		</if>
		<if test="url != null">
		url = #{url,jdbcType=VARCHAR},
		</if>
		<if test="perms != null">
		perms = #{perms,jdbcType=VARCHAR},
		</if>
		<if test="type != null">
		type = #{type,jdbcType=INTEGER},
		</if>
		<if test="icon != null">
		icon = #{icon,jdbcType=VARCHAR},
		</if>
		<if test="orderNum != null">
		order_num = #{orderNum,jdbcType=INTEGER},
		</if>
		<if test="remark != null">
		remark = #{remark,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		menu_id = #{menuId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_CLASSROOM_RESOURCE WHERE
		menu_id =
		#{menuId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_TCH_CLASSROOM_RESOURCE WHERE
		menu_id in
		<foreach item="menuId" collection="array" open="("
			separator="," close=")">
#{menuId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_TCH_CLASSROOM_RESOURCE WHERE
		menu_id = #{menuId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_TCH_CLASSROOM_RESOURCE
        <where>
                <if test="parentId != null and parentId.trim() != ''">
                and parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="name != null and name.trim() != ''">
                and name =#{name,jdbcType=VARCHAR}            </if>
                <if test="url != null and url.trim() != ''">
                and url =#{url,jdbcType=VARCHAR}            </if>
                <if test="perms != null and perms.trim() != ''">
                and perms =#{perms,jdbcType=VARCHAR}            </if>
                <if test="type != null and type != ''">
                and type =#{type,jdbcType=INTEGER}            </if>
                <if test="icon != null and icon.trim() != ''">
                and icon =#{icon,jdbcType=VARCHAR}            </if>
                <if test="orderNum != null and orderNum != ''">
                and order_num =#{orderNum,jdbcType=INTEGER}            </if>
                <if test="remark != null and remark.trim() != ''">
                and remark =#{remark,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by menu_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_TCH_CLASSROOM_RESOURCE t1
        <where>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="name != null and name.trim() != ''">
                and t1.name =#{name,jdbcType=VARCHAR}            </if>
                <if test="url != null and url.trim() != ''">
                and t1.url =#{url,jdbcType=VARCHAR}            </if>
                <if test="perms != null and perms.trim() != ''">
                and t1.perms =#{perms,jdbcType=VARCHAR}            </if>
                <if test="type != null and type != ''">
                and t1.type =#{type,jdbcType=INTEGER}            </if>
                <if test="icon != null and icon.trim() != ''">
                and t1.icon =#{icon,jdbcType=VARCHAR}            </if>
                <if test="orderNum != null and orderNum != ''">
                and t1.order_num =#{orderNum,jdbcType=INTEGER}            </if>
                <if test="remark != null and remark.trim() != ''">
                and t1.remark =#{remark,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.menu_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectSimpleListByMap" resultType="map"
        parameterType="map">
        select t1.menu_id as menuId, t1.parent_id as parentId, t1.name, t1.remark 
        from T_EVGL_TCH_CLASSROOM_RESOURCE t1
        <where>
                <if test="parentId != null and parentId.trim() != ''">
                and t1.parent_id =#{parentId,jdbcType=VARCHAR}            </if>
                <if test="name != null and name.trim() != ''">
                and t1.name =#{name,jdbcType=VARCHAR}            </if>
                <if test="url != null and url.trim() != ''">
                and t1.url =#{url,jdbcType=VARCHAR}            </if>
                <if test="perms != null and perms.trim() != ''">
                and t1.perms =#{perms,jdbcType=VARCHAR}            </if>
                <if test="type != null and type != ''">
                and t1.type =#{type,jdbcType=INTEGER}            </if>
                <if test="icon != null and icon.trim() != ''">
                and t1.icon =#{icon,jdbcType=VARCHAR}            </if>
                <if test="orderNum != null and orderNum != ''">
                and t1.order_num =#{orderNum,jdbcType=INTEGER}            </if>
                <if test="remark != null and remark.trim() != ''">
                and t1.remark =#{remark,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.order_num asc
            </otherwise>
        </choose>
    </select>
</mapper>

