<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.eao.persistence.TeaoFdOrderMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.eao.domain.TeaoFdOrder">
		<result column="order_id" jdbcType="VARCHAR"
			property="orderId" />
		<result column="trainee_id" jdbcType="VARCHAR"
			property="traineeId" />
		<result column="class_id" jdbcType="VARCHAR"
			property="classId" />
		<result column="of_seriano" jdbcType="VARCHAR"
			property="ofSeriano" />
		<result column="of_name" jdbcType="VARCHAR"
			property="ofName" />
		<result column="of_time" jdbcType="VARCHAR"
			property="ofTime" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
		<result column="update_time" jdbcType="VARCHAR"
			property="updateTime" />
		<result column="of_state" jdbcType="VARCHAR"
			property="ofState" />
		<result column="of_linkman" jdbcType="VARCHAR"
			property="ofLinkman" />
		<result column="of_telphone" jdbcType="VARCHAR"
			property="ofTelphone" />
		<result column="sos_linkman" jdbcType="VARCHAR"
			property="sosLinkman" />
		<result column="sos_telphone" jdbcType="VARCHAR"
			property="sosTelphone" />
		<result column="order_receivable" jdbcType="DECIMAL"
			property="orderReceivable" />
		<result column="order_proceeds" jdbcType="DECIMAL"
			property="orderProceeds" />
		<result column="order_refund" jdbcType="DECIMAL"
			property="orderRefund" />
		<result column="s_payment" jdbcType="VARCHAR"
			property="spayment" />
		<result column="s_paymentper" jdbcType="DECIMAL"
			property="spaymentper" />
		<result column="s_refund" jdbcType="VARCHAR"
			property="srefund" />
		<result column="org_id" jdbcType="VARCHAR"
			property="orgId" />
		<result column="rb_seriano" jdbcType="VARCHAR"
			property="rbSeriano" />
		<result column="of_refund_state" jdbcType="VARCHAR"
			property="ofRefundState" />
		<result column="of_applyrefund_dealtime" jdbcType="VARCHAR"
			property="ofApplyrefundDealtime" />
		<result column="of_applyrefund_dealman" jdbcType="VARCHAR"
			property="ofApplyrefundDealman" />
		<result column="of_applyrefund_reason" jdbcType="VARCHAR"
			property="ofApplyrefundReason" />
		<result column="of_applyrefund_explain" jdbcType="VARCHAR"
			property="ofApplyrefundExplain" />
        <result column="of_applyrefund_time" jdbcType="VARCHAR"
            property="ofApplyrefundTime" />
        <result column="ispx" jdbcType="VARCHAR"
            property="ispx" />
        <result column="signup_type" jdbcType="VARCHAR"
            property="signupType" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		order_id,org_id,trainee_id,class_id,of_seriano,of_name,of_time,create_user_id,create_time,update_user_id,update_time,of_state,of_linkman,of_telphone,sos_linkman,sos_telphone,order_receivable,order_proceeds,order_refund,s_payment,s_paymentper,s_refund,rb_seriano,of_refund_state,of_applyrefund_dealtime,of_applyrefund_dealman,of_applyrefund_reason,of_applyrefund_explain,of_applyrefund_time,ispx,signup_type
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.eao.domain.TeaoFdOrder">
		INSERT INTO T_EAO_FD_ORDER (
		order_id ,
		trainee_id ,
		class_id ,
		of_seriano ,
		of_name ,
		of_time ,
		create_user_id ,
		create_time ,
		update_user_id ,
		update_time ,
		of_state ,
		of_linkman ,
		of_telphone ,
		sos_linkman ,
		sos_telphone ,
		order_receivable ,
		order_proceeds ,
		order_refund ,
		s_payment ,
		s_paymentper ,
		s_refund ,
		org_id ,
		rb_seriano ,
		of_refund_state,
		of_applyrefund_dealtime,
		of_applyrefund_dealman,
		of_applyrefund_reason,
		of_applyrefund_explain,
		of_applyrefund_time,
		ispx,
		signup_type
		) VALUES (

#{orderId,jdbcType=VARCHAR} ,

#{traineeId,jdbcType=VARCHAR} ,

#{classId,jdbcType=VARCHAR} ,

#{ofSeriano,jdbcType=VARCHAR} ,

#{ofName,jdbcType=VARCHAR} ,

#{ofTime,jdbcType=VARCHAR} ,

#{createUserId,jdbcType=VARCHAR} ,

#{createTime,jdbcType=VARCHAR} ,

#{updateUserId,jdbcType=VARCHAR} ,

#{updateTime,jdbcType=VARCHAR} ,

#{ofState,jdbcType=VARCHAR} ,

#{ofLinkman,jdbcType=VARCHAR} ,

#{ofTelphone,jdbcType=VARCHAR} ,

#{sosLinkman,jdbcType=VARCHAR} ,

#{sosTelphone,jdbcType=VARCHAR} ,

#{orderReceivable,jdbcType=DECIMAL} ,

#{orderProceeds,jdbcType=DECIMAL} ,

#{orderRefund,jdbcType=DECIMAL} ,

#{spayment,jdbcType=VARCHAR} ,

#{spaymentper,jdbcType=DECIMAL} ,

#{srefund,jdbcType=VARCHAR}  ,

#{orgId,jdbcType=VARCHAR} ,

#{rbSeriano,jdbcType=VARCHAR} ,

#{ofRefundState,jdbcType=VARCHAR} ,

#{ofApplyrefundDealtime,jdbcType=VARCHAR} ,

#{ofApplyrefundDealman,jdbcType=VARCHAR} ,

#{ofApplyrefundReason,jdbcType=VARCHAR} ,

#{ofApplyrefundExplain,jdbcType=VARCHAR} ,

#{ofApplyrefundTime,jdbcType=VARCHAR} ,

#{ispx,jdbcType=VARCHAR}  ,

#{signupType,jdbcType=VARCHAR}  
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.eao.domain.TeaoFdOrder">
		UPDATE T_EAO_FD_ORDER 
		<set>
		<if test="traineeId != null">
		trainee_id = #{traineeId,jdbcType=VARCHAR},
		</if>
		<if test="classId != null">
		class_id = #{classId,jdbcType=VARCHAR},
		</if>
		<if test="ofSeriano != null">
		of_seriano = #{ofSeriano,jdbcType=VARCHAR},
		</if>
		<if test="ofName != null">
		of_name = #{ofName,jdbcType=VARCHAR},
		</if>
		<if test="ofTime != null">
		of_time = #{ofTime,jdbcType=VARCHAR},
		</if>
		<if test="createUserId != null">
		create_user_id = #{createUserId,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		create_time = #{createTime,jdbcType=VARCHAR},
		</if>
		<if test="updateUserId != null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
		update_time = #{updateTime,jdbcType=VARCHAR},
		</if>
		<if test="ofState != null">
		of_state = #{ofState,jdbcType=VARCHAR},
		</if>
		<if test="ofLinkman != null">
		of_linkman = #{ofLinkman,jdbcType=VARCHAR},
		</if>
		<if test="ofTelphone != null">
		of_telphone = #{ofTelphone,jdbcType=VARCHAR},
		</if>
		<if test="sosLinkman != null">
		sos_linkman = #{sosLinkman,jdbcType=VARCHAR},
		</if>
		<if test="sosTelphone != null">
		sos_telphone = #{sosTelphone,jdbcType=VARCHAR},
		</if>
		<if test="orderReceivable != null">
		order_receivable = #{orderReceivable,jdbcType=DECIMAL},
		</if>
		<if test="orderProceeds != null">
		order_proceeds = #{orderProceeds,jdbcType=DECIMAL},
		</if>
		<if test="orderRefund != null">
		order_refund = #{orderRefund,jdbcType=DECIMAL},
		</if>
		<if test="spayment != null">
		s_payment = #{spayment,jdbcType=VARCHAR},
		</if>
		<if test="spaymentper != null">
		s_paymentper = #{spaymentper,jdbcType=DECIMAL},
		</if>
		<if test="srefund != null">
		s_refund = #{srefund,jdbcType=VARCHAR},
		</if>
		<if test="orgId != null">
		org_id = #{orgId,jdbcType=VARCHAR},
		</if>
		<if test="rbSeriano != null">
		rb_seriano = #{rbSeriano,jdbcType=VARCHAR},
		</if>
		<if test="ofRefundState != null">
		of_refund_state = #{ofRefundState,jdbcType=VARCHAR},
		</if>
		<if test="ofApplyrefundDealtime != null">
		of_applyrefund_dealtime = #{ofApplyrefundDealtime,jdbcType=VARCHAR},
		</if>
		<if test="ofApplyrefundDealman != null">
		of_applyrefund_dealman = #{ofApplyrefundDealman,jdbcType=VARCHAR},
		</if>
		<if test="ofApplyrefundReason != null">
		of_applyrefund_reason = #{ofApplyrefundReason,jdbcType=VARCHAR},
		</if>
		<if test="ofApplyrefundExplain != null">
		of_applyrefund_explain = #{ofApplyrefundExplain,jdbcType=VARCHAR},
		</if>
        <if test="ofApplyrefundTime != null">
        of_applyrefund_time = #{ofApplyrefundTime,jdbcType=VARCHAR},
        </if>
        <if test="ispx != null">
        ispx = #{ispx,jdbcType=VARCHAR},
        </if>
        <if test="signupType != null">
        signup_type = #{signupType,jdbcType=VARCHAR},
        </if>
		</set>
		WHERE
		order_id = #{orderId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EAO_FD_ORDER WHERE
		order_id =
		#{orderId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EAO_FD_ORDER WHERE
		order_id in
		<foreach item="orderId" collection="array" open="("
			separator="," close=")">
#{orderId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EAO_FD_ORDER WHERE
		order_id = #{orderId,jdbcType=VARCHAR} 
	</select>
	<select id="selectObjectBySeriano" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EAO_FD_ORDER WHERE
		of_seriano = #{id,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<select id="selectListByMap" resultMap="BaseResultMap"
		parameterType="map">
		select * from T_EAO_FD_ORDER
		<where>
				<if test="traineeId != null and traineeId.trim() != ''">
				and trainee_id =#{traineeId,jdbcType=VARCHAR}			</if>
				<if test="orgId != null and orgId.trim() != ''">
				and org_id =#{orgId,jdbcType=VARCHAR}			</if>
				<if test="classId != null and classId.trim() != ''">
				and class_id =#{classId,jdbcType=VARCHAR}			</if>
				<if test="ofSeriano != null and ofSeriano.trim() != ''">
				and of_seriano like concat('%',#{ofSeriano,jdbcType=VARCHAR},'%')			</if>
				<if test="rbSeriano != null and rbSeriano.trim() != ''">
				and rb_seriano like concat('%',#{rbSeriano,jdbcType=VARCHAR},'%')			</if>
				<if test="ofName != null and ofName.trim() != ''">
				and of_name like concat('%',#{ofName,jdbcType=VARCHAR},'%')			</if>
				<if test="ofTime != null and ofTime.trim() != ''">
				and of_time =#{ofTime,jdbcType=VARCHAR}			</if>
				<if test="sofTime != null and sofTime.trim() != ''">
				and of_time &gt;=#{sofTime,jdbcType=VARCHAR}			</if>
				<if test="eofTime != null and eofTime.trim() != ''">
				and of_time &lt;=#{eofTime,jdbcType=VARCHAR}			</if>
				<if test="createUserId != null and createUserId.trim() != ''">
				and create_user_id =#{createUserId,jdbcType=VARCHAR}			</if>
				<if test="createTime != null and createTime.trim() != ''">
				and create_time =#{createTime,jdbcType=VARCHAR}			</if>
				<if test="updateUserId != null and updateUserId.trim() != ''">
				and update_user_id =#{updateUserId,jdbcType=VARCHAR}			</if>
				<if test="updateTime != null and updateTime.trim() != ''">
				and update_time =#{updateTime,jdbcType=VARCHAR}			</if>
				<if test="ofState != null and ofState.trim() != ''">
				and of_state =#{ofState,jdbcType=VARCHAR}			</if>
				<if test="ofLinkman != null and ofLinkman.trim() != ''">
				and of_linkman like concat('%',#{ofLinkman,jdbcType=VARCHAR},'%')			</if>
				<if test="ofTelphone != null and ofTelphone.trim() != ''">
				and of_telphone like concat('%',#{ofTelphone,jdbcType=VARCHAR},'%')			</if>
				<if test="sosLinkman != null and sosLinkman.trim() != ''">
				and sos_linkman like concat('%',#{sosLinkman,jdbcType=VARCHAR},'%')			</if>
				<if test="sosTelphone != null and sosTelphone.trim() != ''">
				and sos_telphone like concat('%',#{sosTelphone,jdbcType=VARCHAR},'%')			</if>
				<if test="orderReceivable != null and orderReceivable != ''">
				and order_receivable =#{orderReceivable,jdbcType=DECIMAL}			</if>
				<if test="orderProceeds != null and orderProceeds != ''">
				and order_proceeds =#{orderProceeds,jdbcType=DECIMAL}			</if>
				<if test="orderRefund != null and orderRefund != ''">
				and order_refund =#{orderRefund,jdbcType=DECIMAL}			</if>
				<if test="spayment != null and spayment.trim() != ''">
				and s_payment =#{spayment,jdbcType=VARCHAR}			</if>
				<if test="spaymentper != null and spaymentper != ''">
				and s_paymentper =#{spaymentper,jdbcType=DECIMAL}			</if>
				<if test="ofApplyrefundTime != null">
				and of_applyrefund_time = #{ofApplyrefundTime,jdbcType=VARCHAR}
				</if>
                <if test="ofRefundState != null">
                and of_refund_state = #{ofRefundState,jdbcType=VARCHAR}
                </if>
                <if test="ispx != null">
                and ispx = #{ispx,jdbcType=VARCHAR}
                </if>
                <if test="signupType != null">
		        and signup_type = #{signupType,jdbcType=VARCHAR},
		        </if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by create_time  desc
			</otherwise>
		</choose>
	</select>
	
	<select id="selectListByState" parameterType="map" resultType="Map">
		select t1.*,t2.ORG_SHOWNAME,t3.class_name,t4.major_name,t3.class_state
			from T_EAO_FD_ORDER t1 
			inner join t_evgl_tch_class t3
			on t3.class_id = t1.class_id
			inner join t_evgl_book_major t4
			on t4.major_id = t3.major_id
			left join t_sys_org t2
			on t1.org_id = t2.ORG_ID
		<where>
			<if test="traineeId != null and traineeId.trim() != ''">
				and t1.trainee_id =#{traineeId,jdbcType=VARCHAR}			</if>
			<if test="ofState != null and ofState.trim() != ''">
				and t1.of_state =#{ofState,jdbcType=VARCHAR}			</if>
			<if test="orderId != null and orderId.trim() != ''">
				and order_id = #{orderId,jdbcType=VARCHAR} 		</if>
			<if test="ofRefundState != null and ofRefundState.trim() != ''">
				and of_refund_state = #{ofRefundState,jdbcType=VARCHAR} 		</if>
            <if test="ispx != null">
            and t1.ispx = #{ispx,jdbcType=VARCHAR}
            </if>
		</where>
			order by create_time  desc
	</select>
	<select id="findObjectByTraineeIdAndClassId" parameterType="java.lang.String" resultType="java.lang.String" >
		select order_id from t_eao_fd_order where trainee_id = #{traineeId} and class_id = #{classId}
	</select>
</mapper>

