<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.eao.persistence.TeaoFdTradeMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.eao.domain.TeaoFdTrade">
		<result column="t_id" jdbcType="VARCHAR"
			property="tid" />
		<result column="order_id" jdbcType="VARCHAR"
			property="orderId" />
		<result column="ORG_ID" jdbcType="VARCHAR"
			property="orgId" />
		<result column="t_no" jdbcType="VARCHAR"
			property="tno" />
		<result column="t_wxno" jdbcType="VARCHAR"
			property="twxno" />
		<result column="t_Time" jdbcType="VARCHAR"
			property="ttime" />
		<result column="t_type" jdbcType="VARCHAR"
			property="ttype" />
		<result column="t_money" jdbcType="DECIMAL"
			property="tmoney" />
		<result column="t_payment" jdbcType="VARCHAR"
			property="tpayment" />
		<result column="t_channel" jdbcType="VARCHAR"
			property="tchannel" />
		<result column="t_state" jdbcType="VARCHAR"
			property="tstate" />
		<result column="t_remain_money" jdbcType="DECIMAL"
			property="tremainMoney" />
		<result column="ci_id" jdbcType="VARCHAR"
			property="ciId" />
		<result column="of_seriano" jdbcType="VARCHAR"
			property="ofSeriano" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		t_id,order_id,ORG_ID,t_no,t_wxno,t_Time,t_type,t_money,t_payment,t_channel,t_state,t_remain_money,ci_id,of_seriano
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.eao.domain.TeaoFdTrade">
		INSERT INTO T_EAO_FD_TRADE (
		t_id ,
		order_id ,
		ORG_ID ,
		t_no ,
		t_wxno ,
		t_Time ,
		t_type ,
		t_money ,
		t_payment ,
		t_channel ,
		t_state ,
		t_remain_money ,
		ci_id ,
		of_seriano 
		) VALUES (

#{tid,jdbcType=VARCHAR} ,

#{orderId,jdbcType=VARCHAR} ,

#{orgId,jdbcType=VARCHAR} ,

#{tno,jdbcType=VARCHAR} ,

#{twxno,jdbcType=VARCHAR} ,

#{ttime,jdbcType=VARCHAR} ,

#{ttype,jdbcType=VARCHAR} ,

#{tmoney,jdbcType=DECIMAL} ,

#{tpayment,jdbcType=VARCHAR} ,

#{tchannel,jdbcType=VARCHAR} ,

#{tstate,jdbcType=VARCHAR} ,

#{tremainMoney,jdbcType=DECIMAL} ,

#{ciId,jdbcType=VARCHAR} ,

#{ofSeriano,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.eao.domain.TeaoFdTrade">
		UPDATE T_EAO_FD_TRADE 
		<set>
		<if test="orderId != null">
		order_id = #{orderId,jdbcType=VARCHAR},
		</if>
		<if test="orgId != null">
		ORG_ID = #{orgId,jdbcType=VARCHAR},
		</if>
		<if test="tno != null">
		t_no = #{tno,jdbcType=VARCHAR},
		</if>
		<if test="twxno != null">
		t_wxno = #{twxno,jdbcType=VARCHAR},
		</if>
		<if test="ttime != null">
		t_Time = #{ttime,jdbcType=VARCHAR},
		</if>
		<if test="ttype != null">
		t_type = #{ttype,jdbcType=VARCHAR},
		</if>
		<if test="tmoney != null">
		t_money = #{tmoney,jdbcType=DECIMAL},
		</if>
		<if test="tpayment != null">
		t_payment = #{tpayment,jdbcType=VARCHAR},
		</if>
		<if test="tchannel != null">
		t_channel = #{tchannel,jdbcType=VARCHAR},
		</if>
		<if test="tstate != null">
		t_state = #{tstate,jdbcType=VARCHAR},
		</if>
		<if test="tremainMoney != null">
		t_remain_money = #{tremainMoney,jdbcType=DECIMAL},
		</if>
		<if test="ciId != null">
		ci_id = #{ciId,jdbcType=VARCHAR},
		</if>
		<if test="ofSeriano != null">
		of_seriano = #{ofSeriano,jdbcType=VARCHAR}
		</if>
		</set>
		WHERE
		t_id = #{tid,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EAO_FD_TRADE WHERE
		t_id =
		#{tid,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EAO_FD_TRADE WHERE
		t_id in
		<foreach item="tid" collection="array" open="("
			separator="," close=")">
#{tid,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EAO_FD_TRADE WHERE
		t_id = #{tid,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
	<select id="selectListByMap" resultMap="BaseResultMap"
		parameterType="map">
		select * from T_EAO_FD_TRADE
		<where>
				<if test="orderId != null and orderId.trim() != ''">
				and order_id =#{orderId,jdbcType=VARCHAR}			</if>
				<if test="orgId != null and orgId.trim() != ''">
				and ORG_ID =#{orgId,jdbcType=VARCHAR}			</if>
				<if test="tno != null and tno.trim() != ''">
				and t_no like concat('%',#{tno,jdbcType=VARCHAR},'%')			</if>
				<if test="twxno != null and twxno.trim() != ''">
				and t_wxno like concat('%',#{twxno,jdbcType=VARCHAR},'%')			</if>
				<if test="ttime != null and ttime.trim() != ''">
				and t_Time =#{ttime,jdbcType=VARCHAR}			</if>
				<if test="sttime != null and sttime.trim() != ''">
				and t_Time &gt;=#{sttime,jdbcType=VARCHAR}			</if>
				<if test="ettime != null and ettime.trim() != ''">
				and t_Time &lt;=#{ettime,jdbcType=VARCHAR}			</if>
				<if test="ttype != null and ttype.trim() != ''">
				and t_type =#{ttype,jdbcType=VARCHAR}			</if>
				<if test="tmoney != null and tmoney != ''">
				and t_money =#{tmoney,jdbcType=DECIMAL}			</if>
				<if test="tpayment != null and tpayment.trim() != ''">
				and t_payment =#{tpayment,jdbcType=VARCHAR}			</if>
				<if test="tchannel != null and tchannel.trim() != ''">
				and t_channel =#{tchannel,jdbcType=VARCHAR}			</if>
				<if test="tstate != null and tstate.trim() != ''">
				and t_state =#{tstate,jdbcType=VARCHAR}			</if>
				<if test="tremainMoney != null and tremainMoney != ''">
				and t_remain_money =#{tremainMoney,jdbcType=DECIMAL}			</if>
				<if test="ciId != null and ciId.trim() != ''">
				and ci_id =#{ciId,jdbcType=VARCHAR}			</if>
				<if test="ofSeriano != null and ofSeriano.trim() != ''">
				and of_seriano like concat('%',#{ofSeriano,jdbcType=VARCHAR},'%')			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by t_id  desc
			</otherwise>
		</choose>
	</select>
</mapper>

