<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.pkg.persistence.TevglPkgResgroupAllowCopyMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.pkg.domain.TevglPkgResgroupAllowCopy">
		<result column="cp_id" jdbcType="VARCHAR"
			property="cpId" />
		<result column="pkg_id" jdbcType="VARCHAR"
			property="pkgId" />
		<result column="subject_id" jdbcType="VARCHAR"
			property="subjectId" />
		<result column="resgroup_id" jdbcType="VARCHAR"
			property="resgroupId" />
		<result column="is_can_copy" jdbcType="VARCHAR"
			property="isCanCopy" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		cp_id,pkg_id,subject_id,resgroup_id,is_can_copy
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.pkg.domain.TevglPkgResgroupAllowCopy">
		INSERT INTO T_EVGL_PKG_RESGROUP_ALLOW_COPY (
		cp_id ,
		pkg_id ,
		subject_id ,
		resgroup_id ,
		is_can_copy 
		) VALUES (

#{cpId,jdbcType=VARCHAR} ,

#{pkgId,jdbcType=VARCHAR} ,

#{subjectId,jdbcType=VARCHAR} ,

#{resgroupId,jdbcType=VARCHAR} ,

#{isCanCopy,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.pkg.domain.TevglPkgResgroupAllowCopy">
		UPDATE T_EVGL_PKG_RESGROUP_ALLOW_COPY 
		<set>
		<if test="pkgId != null">
		pkg_id = #{pkgId,jdbcType=VARCHAR},
		</if>
		<if test="subjectId != null">
		subject_id = #{subjectId,jdbcType=VARCHAR},
		</if>
		<if test="resgroupId != null">
		resgroup_id = #{resgroupId,jdbcType=VARCHAR},
		</if>
		<if test="isCanCopy != null">
		is_can_copy = #{isCanCopy,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		cp_id = #{cpId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_PKG_RESGROUP_ALLOW_COPY WHERE
		cp_id =
		#{cpId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_PKG_RESGROUP_ALLOW_COPY WHERE
		cp_id in
		<foreach item="cpId" collection="array" open="("
			separator="," close=")">
#{cpId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_PKG_RESGROUP_ALLOW_COPY WHERE
		cp_id = #{cpId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_PKG_RESGROUP_ALLOW_COPY
        <where>
                <if test="pkgId != null and pkgId.trim() != ''">
                and pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="resgroupId != null and resgroupId.trim() != ''">
                and resgroup_id =#{resgroupId,jdbcType=VARCHAR}            </if>
                <if test="isCanCopy != null and isCanCopy.trim() != ''">
                and is_can_copy =#{isCanCopy,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by cp_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_PKG_RESGROUP_ALLOW_COPY t1
        <where>
                <if test="pkgId != null and pkgId.trim() != ''">
                and t1.pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="subjectId != null and subjectId.trim() != ''">
                and t1.subject_id =#{subjectId,jdbcType=VARCHAR}            </if>
                <if test="resgroupId != null and resgroupId.trim() != ''">
                and t1.resgroup_id =#{resgroupId,jdbcType=VARCHAR}            </if>
                <if test="isCanCopy != null and isCanCopy.trim() != ''">
                and t1.is_can_copy =#{isCanCopy,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.cp_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

