<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.pkg.persistence.TevglPkgResgroupVisibleMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.pkg.domain.TevglPkgResgroupVisible">
		<result column="rv_id" jdbcType="VARCHAR"
			property="rvId" />
		<result column="ct_id" jdbcType="VARCHAR"
			property="ctId" />
		<result column="pkg_id" jdbcType="VARCHAR"
			property="pkgId" />
		<result column="resgroup_id" jdbcType="VARCHAR"
			property="resgroupId" />
		<result column="is_trainees_visible" jdbcType="VARCHAR"
			property="isTraineesVisible" />
		<result column="ref_pkg_id" jdbcType="VARCHAR"
			property="refPkgId" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		rv_id,ct_id,pkg_id,resgroup_id,is_trainees_visible,ref_pkg_id
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.pkg.domain.TevglPkgResgroupVisible">
		INSERT INTO T_EVGL_PKG_RESGROUP_VISIBLE (
		rv_id ,
		ct_id ,
		pkg_id ,
		resgroup_id ,
		is_trainees_visible ,
		ref_pkg_id 
		) VALUES (

#{rvId,jdbcType=VARCHAR} ,

#{ctId,jdbcType=VARCHAR} ,

#{pkgId,jdbcType=VARCHAR} ,

#{resgroupId,jdbcType=VARCHAR} ,

#{isTraineesVisible,jdbcType=VARCHAR} ,

#{refPkgId,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.pkg.domain.TevglPkgResgroupVisible">
		UPDATE T_EVGL_PKG_RESGROUP_VISIBLE 
		<set>
		<if test="ctId != null">
		ct_id = #{ctId,jdbcType=VARCHAR},
		</if>
		<if test="pkgId != null">
		pkg_id = #{pkgId,jdbcType=VARCHAR},
		</if>
		<if test="resgroupId != null">
		resgroup_id = #{resgroupId,jdbcType=VARCHAR},
		</if>
		<if test="isTraineesVisible != null">
		is_trainees_visible = #{isTraineesVisible,jdbcType=VARCHAR},
		</if>
		<if test="refPkgId != null">
		ref_pkg_id = #{refPkgId,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		rv_id = #{rvId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_PKG_RESGROUP_VISIBLE WHERE
		rv_id =
		#{rvId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_PKG_RESGROUP_VISIBLE WHERE
		rv_id in
		<foreach item="rvId" collection="array" open="("
			separator="," close=")">
#{rvId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_PKG_RESGROUP_VISIBLE WHERE
		rv_id = #{rvId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_PKG_RESGROUP_VISIBLE
        <where>
                <if test="ctId != null and ctId.trim() != ''">
                and ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="pkgId != null and pkgId.trim() != ''">
                and pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="resgroupId != null and resgroupId.trim() != ''">
                and resgroup_id =#{resgroupId,jdbcType=VARCHAR}            </if>
                <if test="isTraineesVisible != null and isTraineesVisible.trim() != ''">
                and is_trainees_visible =#{isTraineesVisible,jdbcType=VARCHAR}            </if>
                <if test="refPkgId != null and refPkgId.trim() != ''">
                and ref_pkg_id =#{refPkgId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by rv_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_PKG_RESGROUP_VISIBLE t1
        <where>
                <if test="ctId != null and ctId.trim() != ''">
                and t1.ct_id =#{ctId,jdbcType=VARCHAR}            </if>
                <if test="pkgId != null and pkgId.trim() != ''">
                and t1.pkg_id =#{pkgId,jdbcType=VARCHAR}            </if>
                <if test="resgroupId != null and resgroupId.trim() != ''">
                and t1.resgroup_id =#{resgroupId,jdbcType=VARCHAR}            </if>
                <if test="isTraineesVisible != null and isTraineesVisible.trim() != ''">
                and t1.is_trainees_visible =#{isTraineesVisible,jdbcType=VARCHAR}            </if>
                <if test="refPkgId != null and refPkgId.trim() != ''">
                and t1.ref_pkg_id =#{refPkgId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.rv_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

