<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ossbar.modules.evgl.pkg.persistence.TevglBookpkgTeamDetailMapper">
	<resultMap id="BaseResultMap"
		type="com.ossbar.modules.evgl.pkg.domain.TevglBookpkgTeamDetail">
		<result column="detail_id" jdbcType="VARCHAR"
			property="detailId" />
		<result column="team_id" jdbcType="VARCHAR"
			property="teamId" />
		<result column="chapter_id" jdbcType="VARCHAR"
			property="chapterId" />
		<result column="user_id" jdbcType="VARCHAR"
			property="userId" />	
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		detail_id,team_id,chapter_id,user_id
	</sql>
	<insert id="insert" parameterType="com.ossbar.modules.evgl.pkg.domain.TevglBookpkgTeamDetail">
		INSERT INTO T_EVGL_BOOKPKG_TEAM_DETAIL (
		detail_id ,
		team_id ,
		chapter_id ,
		user_id 
		) VALUES (

#{detailId,jdbcType=VARCHAR} ,

#{teamId,jdbcType=VARCHAR} ,

#{chapterId,jdbcType=VARCHAR} ,

#{userId,jdbcType=VARCHAR} 
		)
	</insert>
	<update id="update" parameterType="com.ossbar.modules.evgl.pkg.domain.TevglBookpkgTeamDetail">
		UPDATE T_EVGL_BOOKPKG_TEAM_DETAIL 
		<set>
		<if test="teamId != null">
		team_id = #{teamId,jdbcType=VARCHAR},
		</if>
		<if test="chapterId != null">
		chapter_id = #{chapterId,jdbcType=VARCHAR},
		</if>
		<if test="userId != null">
		user_id = #{userId,jdbcType=VARCHAR},
		</if>
		</set>
		WHERE
		detail_id = #{detailId,jdbcType=VARCHAR} 
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOKPKG_TEAM_DETAIL WHERE
		detail_id =
		#{detailId,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteBatch" parameterType="java.lang.String">
		DELETE FROM T_EVGL_BOOKPKG_TEAM_DETAIL WHERE
		detail_id in
		<foreach item="detailId" collection="array" open="("
			separator="," close=")">
#{detailId,jdbcType=VARCHAR} 
		</foreach>
	</delete>
	<select id="selectObjectById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_EVGL_BOOKPKG_TEAM_DETAIL WHERE
		detail_id = #{detailId,jdbcType=VARCHAR} 
	</select>
	<!-- 实际业务需要增加的SQL语句 -->
    <select id="selectListByMap" resultMap="BaseResultMap"
        parameterType="map">
        select * from T_EVGL_BOOKPKG_TEAM_DETAIL
        <where>
        		<if test="teamIds != null and teamIds.size() > 0">
                and team_id in 
	                <foreach collection="teamIds" item="teamId" open="(" separator="," close=")">
	                	#{teamId,jdbcType=VARCHAR}
	                </foreach>
                </if>
        		<if test="userIds != null and userIds.size() > 0">
                and user_id in 
	                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
	                	#{userId,jdbcType=VARCHAR}
	                </foreach>
                </if>
                <if test="chapterIds != null and chapterIds.size() > 0">
                and chapter_id in 
	                <foreach collection="chapterIds" item="chapterId" open="(" separator="," close=")">
	                	#{chapterId,jdbcType=VARCHAR}
	                </foreach>
                </if>
                
                <if test="teamId != null and teamId.trim() != ''">
                and team_id =#{teamId,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
                <if test="userId != null and userId.trim() != ''">
                and user_id =#{userId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by detail_id  desc
            </otherwise>
        </choose>
    </select>
    
    <select id="selectListMapByMap" resultType="map"
        parameterType="map">
        select * from T_EVGL_BOOKPKG_TEAM_DETAIL t1
        <where>
                <if test="teamId != null and teamId.trim() != ''">
                and t1.team_id =#{teamId,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and t1.chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
                <if test="userId != null and userId.trim() != ''">
                and t1.user_id =#{userId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.detail_id  desc
            </otherwise>
        </choose>
    </select>
    
    <!-- 批量新增 -->
    <insert id="insertBatch" parameterType="java.util.List">
    	insert into t_evgl_bookpkg_team_detail
    		(detail_id, team_id, chapter_id, user_id)
    	values
    	<foreach collection="list" item="obj" separator="," >
    		(#{obj.detailId}, #{obj.teamId}, #{obj.chapterId}, #{obj.userId})
    	</foreach>
    </insert>
    
    <!-- 根据用户id查询，拥有的章节权限交集 -->
    <select id="selectChapterIntersectionByUserId" parameterType="map" resultType="map">
    	select chapter_id as chapterId, count(1) num from t_evgl_bookpkg_team_detail
    	<where>
    		<if test="teamId != null and teamId.trim() != ''">
                and team_id =#{teamId,jdbcType=VARCHAR}            
            </if>
            <if test="userId != null and userId.trim() != ''">
                and user_id =#{userId,jdbcType=VARCHAR}            
            </if>
    		<if test="userIds != null and userIds.size() > 0">
	    		user_id in 		
	        	<foreach collection="userIds" item="userId" open="(" separator="," close=")">
	            	#{userId,jdbcType=VARCHAR}
	            </foreach>
    		</if>
    	</where>
		GROUP BY chapter_id
    </select>
    
    <!-- 仅查询主键id -->
    <select id="selectDetailIdListByMap" resultType="string" parameterType="map">
        select t1.detail_id from T_EVGL_BOOKPKG_TEAM_DETAIL t1
        <where>
        		<if test="teamIds != null and teamIds.size() > 0">
                and team_id in 
	                <foreach collection="teamIds" item="teamId" open="(" separator="," close=")">
	                	#{teamId,jdbcType=VARCHAR}
	                </foreach>
                </if>
        		<if test="userIds != null and userIds.size() > 0">
                and user_id in 
	                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
	                	#{userId,jdbcType=VARCHAR}
	                </foreach>
                </if>
                <if test="chapterIds != null and chapterIds.size() > 0">
                and chapter_id in 
	                <foreach collection="chapterIds" item="chapterId" open="(" separator="," close=")">
	                	#{chapterId,jdbcType=VARCHAR}
	                </foreach>
                </if>
                <if test="teamId != null and teamId.trim() != ''">
                and t1.team_id =#{teamId,jdbcType=VARCHAR}            </if>
                <if test="chapterId != null and chapterId.trim() != ''">
                and t1.chapter_id =#{chapterId,jdbcType=VARCHAR}            </if>
                <if test="userId != null and userId.trim() != ''">
                and t1.user_id =#{userId,jdbcType=VARCHAR}            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by t1.detail_id  desc
            </otherwise>
        </choose>
    </select>
</mapper>

